<div class="columns">
	<div class="column">
		<a class="logo link--inverse" rel="external" href="https://platform.coop">
			{% render '@svg', {svg: 'logo', class: 'logo__image', viewBox: '0 0 282.08 78.75'}, true %}
			<span class="screen-reader-text">Platform Cooperativism Consortium</span>
		</a>
		<div class="nav">
			<p><a class="link--inverse" rel="external" href="https://platform.coop/open-access-and-privacy-policy/">Our open access &amp; privacy policy</a></p>
			<p><a class="link--inverse" rel="external" href="https://platform.coop/diversity-inclusion/">Our commitment to diversity &amp; inclusion</a></p>
		</div>
	</div>
	<div class="column">
		<div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
		<div>
			<strong>Email</strong><br />
			<a class="link--inverse" href="mailto:info@platform.coop" rel="external">info@platform.coop</a>
		</div>
	</div>
</div>
