.accordion {
	position: relative;
}

.accordion__pane {
	--expanded-color: var(--white);
	--expanded-background-color: var(--blue-500);

	margin-bottom: 0;
	position: relative;
}

.accordion--inverse .accordion__pane {
	--expanded-color: var(--dark-mint-500);
	--expanded-background-color: var(--blue-200);
}

.accordion__pane:focus-within {
	z-index: 1;
}

.no-js .accordion__pane + .accordion__pane {
	margin-top: $gutter;
}

.accordion__heading {
	--border-width: #{rem(2)};
	--color: var(--blue-500);

	border: 0;
	border-top: solid var(--border-width) var(--color);
	display: block;
	font-family: $font-family-sans;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	text-align: left;
	width: 100%;
}

.accordion--inverse .accordion__heading {
	--color: var(--off-white);
}

.accordion__control {
	@extend %interactive;

	--border-width: #{rem(2)};
	--color: var(--blue-500);
	--background-color: transparent;
	--hover-color: var(--blue-400);
	--hover-background-color: var(--background-color);
	--outline-color: var(--parent-background-color);
	--active-color: var(--off-white);
	--active-background-color: var(--blue-500);
	--active-border-color: var(--blue-500);
	--focus-background-color: var(--parent-background-color);
	--focus-color: var(--blue-500);

	--focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--outline-color),
		0 0 0 calc(4 * var(--border-width)) var(--focus-border-color);

	--active-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--outline-color),
		0 0 0 calc(4 * var(--border-width)) var(--active-border-color);

	border: 0;
	border-top: solid var(--border-width) var(--color);
	display: block;
	font-family: $font-family-sans;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	height: rem(54);
	line-height: normal;
	padding-bottom: rem(14);
	padding-left: 0;
	padding-right: 0;
	padding-top: rem(12);
	text-align: left;
	text-decoration: none;
	width: 100%;
}

.accordion--inverse .accordion__control {
	--color: var(--off-white);
	--background-color: transparent;
	--outline-color: var(--dark-mint-500);
	--hover-color: var(--off-white);
	--active-color: var(--parent-background-color);
	--active-background-color: var(--blue-200);
	--active-border-color: var(--blue-200);
	--focus-background-color: var(--parent-background-color);
	--focus-border-color: var(--blue-200);
	--focus-color: var(--off-white);
}

.accordion__control svg {
	color: inherit;
	float: right;
	margin-top: rem(2);
	transition: transform 0.3s;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

.accordion__control:hover {
	border-top: solid var(--border-width) var(--blue-300);

	svg {
		color: var(--blue-300);
	}
}

.accordion__control:active {
	border-top-color: var(--active-background-color);
	margin-left: rem(-16);
	margin-right: rem(-16);
	padding-left: rem(16);
	padding-right: rem(16);
	width: calc(100% + #{rem(32)});

	svg {
		color: inherit;
	}
}

.accordion__control:focus {
	margin-left: rem(-16);
	margin-right: rem(-16);
	padding-left: rem(16);
	padding-right: rem(16);
	width: calc(100% + #{rem(32)});

	svg {
		color: inherit;
	}
}

.accordion__pane--expanded + .accordion__pane .accordion__control {
	border-top-color: transparent;
}

.accordion__control:focus:hover {
	border-top-color: var(--parent-background-color);
}

.accordion__control:focus:active,
.accordion__control:focus:hover:active {
	border-top-color: var(--active-background-color);
}

.accordion__control[aria-expanded="true"] {
	--parent-background-color: var(--expanded-background-color);
	--outline-color: var(--expanded-color);
	--active-color: var(--white);
	--hover-color: var(--white);
	--background-color: var(--expanded-background-color);
	--active-background-color: var(--expanded-background-color);
	--color: var(--expanded-color);
	--focus-color: var(--off-white);

	border-top-color: transparent;
	box-shadow: 0 0 0 calc(4 * var(--border-width)) var(--expanded-background-color);
	margin-left: rem(-16);
	margin-right: rem(-16);
	padding-left: rem(16);
	padding-right: rem(16);
	width: calc(100% + #{rem(32)});
}

.accordion--inverse .accordion__control[aria-expanded="true"] {
	--active-color: var(--dark-mint-500);
	--hover-color: var(--dark-mint-500);
}

.accordion__control[aria-expanded="true"] svg {
	transform: rotate(-180deg);
}

.accordion__control[aria-expanded="true"]:hover {
	border-top-color: transparent;

	svg {
		color: inherit;
	}
}

.accordion__control[aria-expanded="true"]:active,
.accordion__control[aria-expanded="true"]:focus {
	border-top-color: var(--background-color);
}

.accordion__control[aria-expanded="true"]:focus {
	--outline-color: var(--active-color);
	box-shadow: var(--focus-box-shadow);
}

.accordion__control[aria-expanded="true"]:focus:active,
.accordion__control[aria-expanded="true"]:focus:hover:active {
	border-top-color: transparent;
	margin-left: rem(-16);
	margin-right: rem(-16);
	padding-left: rem(16);
	padding-right: rem(16);
	width: calc(100% + #{rem(32)});
}

.accordion__content {
	margin-top: rem(20);
}

.accordion__control[aria-expanded] + .accordion__content {
	display: none;
}

.accordion__control[aria-expanded="true"] + .accordion__content {
	background: var(--expanded-background-color);
	color: var(--expanded-color);
	display: block;
	margin-left: rem(-20);
	margin-right: rem(-20);
	margin-top: rem(2);
	padding: rem(16) rem(20) rem(14);
	width: calc(100% + #{rem(40)});
}
