.accordion {
	margin-bottom: 0;
	position: relative;
}

.accordion__heading {
	background: transparent;
	border: solid rem(3) transparent;
	color: $blue-500;
	font-family: $font-family-sans;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	height: rem(49);
	// line-height: (32 / 20);
	margin-left: rem(-12);
	margin-right: rem(-12);
	padding: rem(5) rem(12) rem(2);
	position: relative;
	width: calc(100% + #{rem(24)});

	&::before {
		background: $blue-500;
		content: "";
		display: block;
		height: rem(3);
		position: absolute;
		top: rem(-3);
		width: calc(100% - #{rem(24)});
	}
}

.accordion--checkbox .accordion__heading {
	font-size: unset;
}

.accordion__control {
	@extend .accordion__heading;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0;
	margin-top: 0;
	width: calc(100% + #{rem(24)});

	svg {
		height: rem(20);
		margin-bottom: 0;
		margin-right: rem(10);
		width: rem(20);

		.stroke {
			stroke-width: 0.125rem;
		}

		line {
			stroke: currentColor;
		}
	}
}

.accordion--checkbox .accordion__control {
	position: absolute;
	right: rem(6);
	top: rem(9);

	&::before {
		display: none;
	}

	svg {
		margin-right: 0;
	}
}

.accordion__control[aria-expanded="true"] {
	background: $blue-500;
	border: solid rem(3) $blue-500;
	color: $white;

	svg {
		line {
			stroke: $white;
		}

		.vert {
			display: none;
		}
	}
}

.accordion__control:hover {
	color: $blue-400;

	svg line {
		stroke: $blue-300;
	}

	&::before {
		background-color: $blue-300;
	}
}

.accordion__control:focus {
	background: $blue-500;
	border: solid rem(3) $blue-500;
	box-shadow: 0 0 0 rem(3) $white inset;
	color: $white;
	outline: 0;

	svg line {
		stroke: currentColor;
	}
}

.accordion__control[aria-expanded="true"]:hover {
	color: $white;

	svg line {
		stroke: currentColor;
	}

	&::before {
		display: none;
	}
}

.accordion__control:focus:hover {
	color: $white;

	&::before {
		display: none;
	}
}

.has-dark-mint-500-background-color {
	.accordion__heading {
		color: $off-white;

		&::before {
			background: $off-white;
		}
	}

	.accordion__control[aria-expanded="true"] {
		background: $blue-200;
		border-color: $blue-200;
		color: $dark-mint-500;

		svg line {
			stroke: currentColor;
		}

		&::before {
			background: $blue-200;
		}
	}

	.accordion__control:hover::before {
		background-color: $blue-300;
	}

	.accordion__control:focus {
		background: $blue-200;
		border-color: $blue-200;
		box-shadow: 0 0 0 rem(3) $dark-mint-500 inset;
		color: $dark-mint-500;

		svg line {
			stroke: $dark-mint-500;
		}

		&::before {
			background: $blue-200;
		}
	}
}

.accordion--expanded + .accordion .accordion__control::before {
	display: none;
}

.accordion:focus-within + .accordion .accordion__heading::before,
.accordion:focus-within + .accordion .accordion__control::before {
	display: none;
}

.accordion__content {
	margin-top: rem(20);
}

.accordion__control[aria-expanded="true"] + .accordion__content {
	background: $blue-500;
	color: $white;
	margin-left: rem(-12);
	margin-right: rem(-12);
	margin-top: 0;
	padding: rem(12) rem(12) rem(14);
	width: calc(100% + #{rem(24)});
}

.has-dark-mint-500-background-color .accordion__control[aria-expanded="true"] + .accordion__content {
	background: $blue-200;
	color: $dark-mint-500;
}
