.accordion {
	position: relative;
}

.accordion__pane {
	--expanded-color: var(--white);
	--expanded-background-color: var(--blue-500);

	margin-bottom: 0;
	position: relative;

	.accordion--inverse & {
		--expanded-color: var(--dark-mint-500);
		--expanded-background-color: var(--blue-200);
	}
}

.accordion__pane:focus-within {
	z-index: 1;
}

.no-js .accordion__pane + .accordion__pane {
	margin-top: $gutter;
}

.accordion__heading {
	--border-width: #{rem(2)};
	--color: var(--blue-500);

	border: 0;
	border-top: solid var(--border-width) var(--color);
	display: block;
	font-family: $font-family-sans;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	text-align: left;
	width: 100%;

	.accordion--inverse & {
		--color: var(--off-white);
	}
}

.accordion__control {
	@extend %interactive;

	--border-width: #{rem(2)};
	--color: var(--blue-500);
	--background-color: transparent;
	--hover-color: var(--blue-400);
	--hover-background-color: var(--background-color);
	--active-color: var(--blue-400);
	--active-background-color: var(--background-color);
	--focus-background-color: var(--blue-500);
	--focus-box-shadow:
		0 0 0 var(--border-width) var(--outline-color),
		0 0 0 calc(2 * var(--border-width)) var(--focus-background-color);

	border: 0;
	border-top: solid var(--border-width) var(--color);
	display: block;
	font-family: $font-family-sans;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	height: rem(54);
	line-height: normal;
	padding-bottom: rem(14);
	padding-left: 0;
	padding-right: 0;
	padding-top: rem(12);
	text-align: left;
	text-decoration: none;
	width: 100%;

	.accordion--inverse & {
		--color: var(--off-white);
		--background-color: transparent;
		--outline-color: var(--dark-mint-500);
		--hover-color: var(--off-white);
		--active-color: var(--blue-200);
		--focus-color: var(--dark-mint-500);
		--focus-background-color: var(--blue-200);
	}

	svg {
		float: right;
		margin-top: rem(2);
		transition: transform 0.3s;

		@media (prefers-reduced-motion: reduce) {
			transition: none;
		}
	}

	&:hover {
		border-top: solid var(--border-width) var(--blue-300);

		svg {
			color: var(--blue-300);
		}
	}

	&:active {
		border-top-color: var(--active-color);

		svg {
			color: inherit;
		}
	}

	&:focus {
		margin-left: rem(-16);
		margin-right: rem(-16);
		padding-left: rem(16);
		padding-right: rem(16);
		width: calc(100% + #{rem(32)});

		svg {
			color: inherit;
		}
	}

	&:focus:hover {
		border-top-color: transparent;
	}

	&[aria-expanded="true"] {
		background-color: var(--expanded-background-color);
		border-top-color: transparent;
		box-shadow: 0 0 0 calc(2 * var(--border-width)) var(--expanded-background-color);
		color: var(--expanded-color);
		margin-left: rem(-16);
		margin-right: rem(-16);
		padding-left: rem(16);
		padding-right: rem(16);
		width: calc(100% + #{rem(32)});

		svg {
			transform: rotate(-180deg);
		}

		&:hover {
			border-top-color: transparent;

			svg {
				color: var(--expanded-color);
			}
		}

		&:focus {
			box-shadow: var(--focus-box-shadow);
		}
	}
}

.accordion__content {
	margin-top: rem(20);
}

.accordion__control[aria-expanded] + .accordion__content {
	display: none;
}

.accordion__control[aria-expanded="true"] + .accordion__content {
	background: var(--expanded-background-color);
	color: var(--expanded-color);
	display: block;
	margin-left: rem(-20);
	margin-right: rem(-20);
	margin-top: rem(2);
	padding: rem(16) rem(20) rem(14);
	width: calc(100% + #{rem(40)});
}

.accordion__pane--expanded + .accordion__pane .accordion__control,
.accordion__pane:focus-within + .accordion__pane .accordion__control {
	border-top-color: transparent;
}
