.badge {
	background: $grey-200;
	border: solid rem(1) transparent;
	border-radius: rem(15);
	color: $dark-mint-500;
	display: inline-block;
	font-family: $font-family-sans;
	font-size: rem(14);
	height: auto;
	margin-left: rem(6);
	margin-right: rem(6);
	margin-top: rem(12);
	min-height: rem(30);
	padding: rem(3) rem(8);
	text-align: center;
	text-decoration: none;
	width: auto;
}

