$grey-200: var(--grey-200);
$grey-500: var(--grey-500);
$font-family-sans: var(--font-family-sans);

.badges {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin-left: rem(-6);
	margin-right: rem(-6);
}

.badge {
	background: $grey-200;
	border: solid rem(1) $grey-200;
	border-radius: rem(3);
	color: $grey-500;
	display: inline-block;
	font-family: $font-family-sans;
	font-size: rem(14);
	height: rem(30);
	margin-left: rem(6);
	margin-right: rem(6);
	margin-top: rem(12);
	max-width: rem(266);
	padding: rem(4) rem(12) rem(2);
	text-align: center;
	text-decoration: none;
	width: auto;
}

