.breadcrumb {
	margin-top: 0;

	a {
		font-size: rem(14);
		margin-left: rem(-8);
		padding: rem(6) rem(8);

		&:not(:hover) {
			text-decoration: none;
		}
	}
}

.breadcrumb + h1 {
	margin-top: rem(32);
}

@include breakpoint-up(lg) {
	.breadcrumb + h1 {
		margin-top: rem(40);
	}
}
