.wp-block-button__link,
[type="submit"] {
	background: $blue-500;
	border: solid 1px transparent;
	border-radius: rem(3);
	color: $white;
	display: block;
	font-family: $font-family-sans;
	font-size: 1rem;
	font-weight: $font-weight-semibold;
	height: rem(38);
	max-width: rem(266);
	padding: rem(7) rem(6) rem(3.5);
	text-align: center;
	text-decoration: none;
	width: 100%;

	.icon {
		margin-left: rem(4);
	}
}

[type="submit"]::-moz-focus-inner {
	outline: none;
}

[type="submit"]:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 $white;
}

.wp-block-button__link:visited,
[type="submit"]:visited {
	background: $green-400;
}

.wp-block-button__link:hover,
[type="submit"]:hover {
	background: $blue-700;
}

.wp-block-button__link:active,
[type="submit"]:active {
	background: $blue-400;
}

.wp-block-button__link:focus,
[type="submit"]:focus {
	background: $blue-700;
	box-shadow: 0 0 0 rem(2) $white, 0 0 0 rem(4) $blue-700;
	outline: none;
}

.is-style-secondary .wp-block-button__link,
.has-dark-mint-500-background-color [type="submit"] {
	background: $yellow-500;
	color: $dark-mint-500;

	&:visited {
		background: $yellow-400;
	}

	&:hover {
		background: $yellow-600;
	}

	&:active {
		background: $yellow-400;
	}

	&:focus {
		background: $yellow-600;
		box-shadow:
			0 0 0 rem(2) $white,
			0 0 0 rem(4) $yellow-600;
	}
}

.wp-block-button__link:active:focus {
	background: $blue-400;
	box-shadow: none;
}

/* stylelint-disable no-descending-specificity */
.is-style-off-white .wp-block-button__link {
	/* stylelint-enable */
	background: $off-white;
	border-color: $blue-500;
	color: $blue-500;

	&:visited {
		border-color: $green-400;
	}

	&:hover {
		background: $grey-200;
	}

	&:active {
		background: $white;
	}

	&:focus {
		background: $grey-200;
		box-shadow:
			0 0 0 rem(1) $blue-500 inset,
			0 0 0 rem(2) $white,
			0 0 0 rem(4) $blue-500;
	}
}

/* stylelint-disable no-descending-specificity */
.is-style-white .wp-block-button__link {
	/* stylelint-enable */
	background: $white;
	border-color: $blue-500;
	color: $blue-500;

	&:visited {
		border-color: $green-400;
	}

	&:hover {
		background: $grey-200;
	}

	&:active {
		background: $white;
	}

	&:focus {
		background: $grey-200;
		box-shadow:
			0 0 0 rem(1) $blue-500 inset,
			0 0 0 rem(2) $white,
			0 0 0 rem(4) $blue-500;
	}
}

.is-style-off-white .wp-block-button__link:active:focus,
.is-style-white .wp-block-button__link:active:focus {
	background: $white;
	box-shadow: none;
}

.is-style-secondary .wp-block-button__link:active:focus {
	background: $yellow-400;
	box-shadow: none;
}

.button {
	background-color: transparent;
	border: solid rem(3) transparent;
	border-radius: rem(3);
	color: $blue-500;
	font-family: $font-family-sans;
	font-size: rem(16);
	font-weight: $font-weight-semibold;
	height: rem(40);
	padding: 0 rem(12);

	svg + * {
		margin-right: 0.25em;
	}

	* + svg {
		margin-left: 0.25em;
	}

	&:hover {
		background-color: $off-white;
		border-color: $blue-50;
		color: $blue-600;
	}

	&:active {
		color: $blue-400;
	}

	&:focus {
		background-color: $grey-200;
		border-color: $white;
		box-shadow: 0 0 0 rem(2) $dark-mint-500;
		color: $dark-mint-500;
		outline: none;
	}
}

.button--inverse {
	color: $off-white;

	&:hover {
		background-color: $blue-500;
		border-color: transparent;
		color: $off-white;
	}

	&:active {
		background-color: $blue-600;
		color: $blue-200;
	}

	&:focus {
		background-color: $blue-600;
		border-color: $dark-mint-500;
		box-shadow: 0 0 0 rem(2) $off-white;
		color: $off-white;
		outline: none;
	}
}
