
button::-moz-focus-inner {
	outline: none;
}

button:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 var(--white);
}

.button {
	@extend %interactive;

	border-radius: rem(3);
	display: block;
	font-family: $font-family-sans;
	font-size: rem(16);
	font-weight: $font-weight-semibold;
	height: auto;
	max-width: rem(266);
	min-height: rem(38);
	padding: rem(6) rem(6) rem(4);
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.button--inverse {
	--color: var(--blue-500);
	--background-color: var(--off-white);

	--active-background-color: var(--blue-500);
	--active-color: var(--off-white);

	--disabled-background-color: var(--grey-200);
	--disabled-border-color: var(--grey-200);
	--disabled-color: var(--grey-400);

	--focus-background-color: var(--off-white);
	--focus-border-color: var(--off-white);
	--focus-color: var(--blue-500);

	--hover-background-color: var(--blue-50);
	--hover-color: var(--color);
}

.button--secondary {
	--color: var(--blue-500);
	--background-color: var(--white);
	--border-color: var(--blue-500);

	--active-border-color: transparent;
	--active-background-color: var(--blue-500);
	--active-color: var(--off-white);

	--hover-background-color: var(--grey-200);
	--hover-color: var(--blue-500);

	--disabled-background-color: var(--grey-200);
	--disabled-border-color: var(--grey-200);
	--disabled-color: var(--grey-400);

	--focus-background-color: var(--off-white);
	--focus-border-color: var(--blue-500);
	--focus-color: var(--blue-500);

	&:focus {
		border-color: transparent;
	}
}

.button--secondary.button--inverse {
	--color: var(--off-white);
	--background-color: var(--blue-500);
	--border-color: var(--off-white);

	--active-background-color: var(--off-white);
	--active-color: var(--blue-500);

	--disabled-background-color: var(--parent-background-color);
	--disabled-border-color: var(--grey-400);
	--disabled-color: var(--grey-400);

	--focus-background-color: var(--blue-500);
	--focus-border-color: var(--off-white);
	--focus-color: var(--off-white);

	--hover-border-color: var(--blue-50);
	--hover-color: var(--blue-50);
	--hover-background-color: var(--blue-700);
}

.button--borderless {
	--color: var(--blue-500);
	--background-color: transparent;

	--active-background-color: var(--blue-500);
	--active-color: var(--off-white);

	--disabled-background-color: var(--parent-background-color);
	--disabled-color: var(--grey-400);

	--focus-background-color: inherit;
	--focus-border-color: var(--color);
	--focus-color: var(--blue-500);

	--hover-background-color: var(--grey-200);
	--hover-color: var(--dark-mint-500);

	margin: rem(6) rem(24) rem(6) rem(-8);
	min-height: rem(28);
	padding: rem(4) rem(6);
	width: auto;

	&:disabled {
		border-color: var(--parent-background-color);
	}

	&:focus {
		border: solid var(--border-width) transparent;
	}
}

.button--toggle,
.button--radio {
	--color: var(--blue-500);
	--background-color: var(--off-white);
	--border-color: var(--blue-500);

	--active-background-color: var(--blue-500);
	--active-color: var(--off-white);
	--active-box-shadow: 0 0 0 calc(2 * var(--border-width)) var(--parent-background-color), 0 0 0 calc(4 * var(--border-width)) var(--focus-border-color);

	--focus-background-color: var(--off-white);
	--focus-border-color: var(--color);
	--focus-color: inherit;
	--focus-box-shadow: 0 0 0 calc(1 * var(--border-width)) var(--focus-border-color) inset, 0 0 0 calc(2 * var(--border-width)) var(--parent-background-color), 0 0 0 calc(4 * var(--border-width)) var(--focus-border-color);

	--hover-color: var(--color);
	--hover-background-color: var(--grey-200);

	border-radius: rem(5);
	font-weight: $font-weight-normal;
	margin: rem(8) rem(9);
	min-height: rem(32);
	padding: 0 rem(10);
	width: auto;

	&:focus {
		border-color: var(--focus-border-color);
	}

	&[aria-pressed="true"],
	&[aria-checked="true"] {
		--color: var(--off-white);
		--background-color: var(--blue-600);
		--border-color: var(--background-color);

		--focus-background-color: var(--background-color);
		--focus-border-color: var(--background-color);
		--focus-color: inherit;
		--focus-box-shadow: 0 0 0 calc(2 * var(--border-width)) var(--parent-background-color), 0 0 0 calc(4 * var(--border-width)) var(--focus-border-color);

		--hover-background-color: var(--blue-700);
		--hover-border-color: var(--blue-700);

		&:hover {
			border-color: var(--hover-border-color);
		}

		&:active {
			border-color: transparent;
		}
	}
}

.button--toggle.button--inverse,
.button--radio.button--inverse {
	--color: var(--off-white);
	--background-color: var(--blue-500);
	--border-color: var(--off-white);

	--active-background-color: var(--off-white);
	--active-color: var(--blue-500);
	--active-box-shadow: 0 0 0 calc(2 * var(--border-width)) var(--parent-background-color), 0 0 0 calc(4 * var(--border-width)) var(--focus-border-color);

	--focus-background-color: var(--blue-500);
	--focus-border-color: var(--color);
	--focus-color: inherit;
	--focus-box-shadow: 0 0 0 calc(1 * var(--border-width)) var(--focus-border-color) inset, 0 0 0 calc(2 * var(--border-width)) var(--parent-background-color), 0 0 0 calc(4 * var(--border-width)) var(--focus-border-color);

	--hover-background-color: var(--blue-600);

	&:active {
		border-color: transparent;
	}

	&[aria-pressed="true"],
	&[aria-checked="true"] {
		--color: var(--blue-700);
		--background-color: var(--blue-50);
		--border-color: var(--background-color);

		--focus-background-color: var(--background-color);
		--focus-border-color: var(--background-color);
		--focus-color: inherit;
		--focus-box-shadow: 0 0 0 calc(2 * var(--border-width)) var(--parent-background-color), 0 0 0 calc(4 * var(--border-width)) var(--focus-border-color);

		--hover-background-color: var(--blue-150);
		--hover-border-color: var(--blue-150);

		&:hover {
			border-color: var(--hover-border-color);
		}

		&:active {
			border-color: transparent;
		}
	}
}

.radio-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: rem(-9);
}

.button[disabled] {
	background-color: var(--disabled-background-color);
	color: var(--disabled-color);

	&:active,
	&:focus {
		box-shadow: none;
	}
}

.align-right .button--borderless {
	display: inline-block;
	margin: rem(6) rem(-8) rem(6) rem(24);
}

.button--borderless.button--inverse {
	--color: var(--off-white);

	--active-color: var(--blue-600);
	--active-background-color: var(--off-white);

	--focus-background-color: transparent;
	--focus-color: var(--off-white);

	--hover-background-color: var(--blue-600);
	--hover-color: var(--off-white);
}

.button--borderless.button--destructive {
	--color: var(--red-500);

	--active-background-color: var(--red-500);
	--active-color: var(--white);

	--focus-color: var(--red-500);

	--hover-color: var(--dark-mint-500);
}

.button--borderless.button--destructive.button--inverse {
	--color: var(--red-200);

	--active-background-color: var(--red-200);
	--active-color: var(--blue-600);

	--focus-border-color: var(--red-200);
	--focus-color: var(--red-200);

	--hover-color: var(--red-200);
	--hover-background-color: var(--blue-600);
}

.button--tag-button {
	--active-background-color: var(--off-white);
	--active-color: var(--blue-700);

	--focus-border-color: var(--blue-700);
	--focus-background-color: var(--blue-700);

	--hover-background-color: var(--blue-700);

	border-radius: rem(15);
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	height: auto;
	max-width: 100%;
	min-height: rem(30);
	padding: rem(3) rem(8) rem(3) rem(12);
	text-align: center;
	text-decoration: none;
	width: auto;
}

.button--disc {
	--color: var(--blue-500);
	--background-color: var(--blue-50);

	--active-border-color: transparent;
	--active-background-color: var(--blue-500);
	--active-color: var(--blue-50);

	--disabled-background-color: var(--grey-200);
	--disabled-border-color: var(--parent-background-color);
	--disabled-color: var(--grey-400);

	--focus-background-color: var(--background-color);
	--focus-border-color: var(--color);
	--focus-color: var(--color);

	--hover-background-color: var(--blue-150);
	--hover-color: var(--color);

	align-items: center;
	border-radius: 50%;
	display: inline-block;
	display: inline-flex;
	flex-direction: column;
	font-size: rem(16);
	height: rem(34);
	justify-content: center;
	margin: 0;
	min-height: rem(34);
	padding: 0;
	width: rem(34);

	svg {
		margin-bottom: 0;
	}

	&:focus {
		border: none;
	}
}

.button--disc.button--inverse {
	--color: var(--off-white);
	--background-color: var(--blue-700);

	--active-background-color: var(--off-white);
	--active-color: var(--blue-700);

	--disabled-color: var(--blue-700);
	--disabled-background-color: var(--blue-500);
	--disabled-border-color: var(--blue-700);

	--hover-background-color: var(--black);
}
