
button::-moz-focus-inner {
	outline: none;
}

button:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 var(--white);
}

.button {
	@extend %interactive;

	border-radius: rem(3);
	display: block;
	font-family: $font-family-sans;
	font-size: rem(16);
	font-weight: $font-weight-semibold;
	height: auto;
	max-width: rem(266);
	min-height: rem(38);
	padding: rem(6) rem(6) rem(4);
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.button--inverse {
	--color: var(--blue-500);
	--outline-color: var(--blue-500);
	--background-color: var(--off-white);
	--hover-color: var(--color);
	--hover-background-color: var(--blue-50);
	--active-color: var(--blue-400);
	--active-background-color: var(--background-color);
	--focus-background-color: var(--background-color);
	--focus-color: var(--color);
}

.button--secondary {
	--color: var(--blue-500);
	--outline-color: var(--blue-500);
	--outline-width: #{rem(2)};
	--border-color: var(--outline-color);
	--border-width: #{rem(1)};
	--background-color: var(--white);
	--hover-color: var(--blue-500);
	--hover-background-color: var(--grey-200);
	--active-color: var(--blue-400);
	--active-background-color: var(--background-color);
	--focus-color: var(--blue-500);
	--focus-background-color: var(--hover-background-color);
	--focus-box-shadow:
		0 0 0 var(--outline-width) var(--focus-background-color, var(--off-white)),
		0 0 0 calc(2 * var(--outline-width)) var(--outline-color, var(--blue-700));

	&:focus {
		border-width: var(--outline-width);
	}
}

.button--secondary.button--inverse {
	--color: var(--off-white);
	--outline-color: var(--off-white);
	--background-color: var(--blue-500);
	--hover-color: var(--blue-50);
	--hover-background-color: var(--blue-500);
	--active-color: var(--white);
	--active-background-color: var(--background-color);
	--focus-color: var(--off-white);
	--focus-background-color: var(--background-color);
}

.button--borderless {
	--color: var(--blue-500);
	--outline-color: var(--dark-mint-500);
	--background-color: transparent;
	--border-width: #{rem(2)};
	--hover-background-color: var(--off-white);
	--hover-color: var(--blue-600);
	--active-background-color: var(--grey-200);
	--active-color: var(--blue-500);
	--focus-color: var(--dark-mint-500);
	--focus-background-color: var(--grey-200);
	--focus-box-shadow: 0 0 0 var(--border-width) var(--outline-color), 0 0 0 calc(2 * var(--border-width)) var(--parent-background-color), 0 0 0 calc(3 * var(--border-width)) var(--outline-color);

	margin: rem(6) rem(24) rem(6) rem(-8);
	min-height: rem(28);
	padding: 0 rem(4);
	width: auto;
}

.button--borderless.button--inverse {
	--color: var(--off-white);
	--outline-color: var(--off-white);
	--hover-background-color: var(--blue-600);
	--hover-color: var(--blue-50);
	--active-background-color: var(--blue-600);
	--active-color: var(--blue-200);
	--focus-color: var(--off-white);
	--focus-background-color: transparent;
	--focus-box-shadow: 0 0 0 var(--border-width) var(--dark-mint-500), 0 0 0 calc(2 * var(--border-width)) var(--outline-color);
	--focus-box-shadow: 0 0 0 var(--border-width) var(--outline-color), 0 0 0 calc(2 * var(--border-width)) var(--parent-background-color), 0 0 0 calc(3 * var(--border-width)) var(--outline-color);
}

.button--tag-button {
	--outline-color: var(--white);
	--active-background-color: var(--blue-400);
	--active-border-color: var(--border-color);
	--active-color: var(--off-white);

	border-radius: rem(15);
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	height: auto;
	max-width: 100%;
	min-height: rem(30);
	padding: rem(3) rem(8) rem(3) rem(12);
	text-align: center;
	text-decoration: none;
	width: auto;
}

.button--disc {
	--color: var(--blue-500);
	--outline-color: var(--blue-500);
	--background-color: var(--blue-50);
	--hover-background-color: var(--blue-150);
	--hover-color: var(--color);
	--active-background-color: var(--blue-100);
	--active-color: var(--color);
	--focus-color: var(--color);
	--focus-background-color: var(--background-color);
	--focus-box-shadow:
		0 0 0 var(--border-width) var(--outline-color),
		0 0 0 calc(2 * var(--border-width)) var(--focus-background-color),
		0 0 0 calc(3 * var(--border-width)) var(--outline-color);

	align-items: center;
	border-radius: 50%;
	display: inline-block;
	display: inline-flex;
	flex-direction: column;
	font-size: rem(16);
	height: rem(34);
	justify-content: center;
	margin: 0;
	min-height: rem(34);
	padding: 0;
	width: rem(34);

	svg {
		margin-bottom: 0;
	}
}

.button--disc.button--inverse {
	--color: var(--off-white);
	--background-color: #{var(--blue-700)};
	--outline-color: var(--off-white);
	--hover-background-color: var(--black);
	--active-background-color: var(--blue-500);
}
