
button::-moz-focus-inner {
	outline: none;
}

button:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 $white;
}

.button {
	@extend %interactive;

	border-radius: rem(3);
	display: block;
	font-family: $font-family-sans;
	font-size: rem(16);
	font-weight: $font-weight-semibold;
	height: auto;
	max-width: rem(266);
	min-height: rem(38);
	padding: rem(6) rem(6) rem(4);
	text-align: center;
	text-decoration: none;
	width: 100%;

	svg + * {
		margin-left: 0.25em;
	}

	svg + .screen-reader-text {
		margin-right: 0;
	}

	* + svg {
		margin-left: 0.25em;
	}

	.screen-reader-text + svg {
		margin-left: 0;
	}
}

.button--inverse {
	--color: #{$blue-500};
	--outline-color: #{$blue-500};
	--background-color: #{$off-white};
	--hover-background-color: #{$blue-50};
	--active-color: #{$blue-400};
	--active-background-color: var(--background-color);
	--focus-background-color: var(--background-color);
	--focus-color: #{$blue-500};
}

.button--secondary {
	--color: #{$blue-500};
	--outline-color: #{$blue-500};
	--outline-width: #{rem(2)};
	--border-color: var(--outline-color);
	--border-width: #{rem(1)};
	--background-color: #{$white};
	--hover-background-color: #{$grey-200};
	--active-color: #{$blue-400};
	--active-background-color: var(--background-color);
	--focus-background-color: var(--hover-background-color);
	--focus-box-shadow:
		0 0 0 var(--outline-width) var(--focus-background-color, #{$off-white}),
		0 0 0 calc(2 * var(--outline-width)) var(--outline-color, #{$blue-700});

	&:focus {
		border-width: var(--outline-width);
	}
}

.button--secondary.button--inverse {
	--color: #{$off-white};
	--outline-color: #{$off-white};
	--background-color: #{$blue-500};
	--hover-color: #{$blue-50};
	--hover-background-color: #{$blue-500};
	--active-color: #{$white};
	--active-background-color: var(--background-color);
	--focus-background-color: var(--background-color);
}

.button--borderless {
	--color: #{$blue-500};
	--outline-color: #{$dark-mint-500};
	--background-color: transparent;
	--border-width: #{rem(2)};
	--hover-background-color: #{$off-white};
	--hover-color: #{$blue-600};
	--active-background-color: #{$grey-200};
	--active-color: #{$blue-400};
	--focus-color: #{$dark-mint-500};
	--focus-background-color: #{$grey-200};
	--focus-box-shadow: 0 0 0 var(--border-width) var(--outline-color), 0 0 0 calc(2 * var(--border-width)) #{$white}, 0 0 0 calc(3 * var(--border-width)) var(--outline-color);

	margin: rem(6) rem(24) rem(6) rem(-8);
	min-height: rem(28);
	padding: 0 rem(4);
	width: auto;
}

.button--borderless.button--inverse {
	--color: #{$off-white};
	--outline-color: #{$off-white};
	--hover-background-color: #{$blue-600};
	--hover-color: #{$blue-50};
	--focus-color: #{$off-white};
	--focus-background-color: transparent;
	--focus-box-shadow: 0 0 0 var(--border-width) #{$dark-mint-500}, 0 0 0 calc(2 * var(--border-width)) var(--outline-color);
	--focus-box-shadow: 0 0 0 var(--border-width) var(--outline-color), 0 0 0 calc(2 * var(--border-width)) #{$dark-mint-500}, 0 0 0 calc(3 * var(--border-width)) var(--outline-color);
}

.button--tag-button {
	--outline-color: #{$white};
	--active-background-color: #{$blue-400};
	--active-border-color: var(--border-color);
	--active-color: #{$off-white};

	border-radius: rem(15);
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	height: auto;
	margin-left: rem(6);
	margin-right: rem(6);
	margin-top: rem(12);
	max-width: 100%;
	min-height: rem(30);
	padding: rem(3) rem(8) rem(3) rem(12);
	text-align: center;
	text-decoration: none;
	width: auto;
}

.button--disc {
	align-items: center;
	background: $blue-50;
	border: solid rem(2) transparent;
	border-radius: 50%;
	color: $blue-500;
	display: inline-block;
	display: inline-flex;
	flex-direction: column;
	font-size: rem(16);
	height: rem(34);
	justify-content: center;
	margin: 0;
	padding: rem(6) 0;
	text-underline-offset: rem(8);
	width: rem(34);

	// svg {
	// 	margin-bottom: 0;
	// }
	&:hover {
		background: $blue-150;
	}

	&:active {
		background: $blue-100;
		color: $blue-500;
	}

	&:focus {
		border-color: $blue-500;
		box-shadow:
			0 0 0 rem(2) $off-white,
			0 0 0 rem(4) $blue-500;
		outline: 0;
	}
}

.button--disc.button--inverse,
.has-dark-mint-500-background-color .button--disc,
.accordion--filter-list .button-disc {
	background: $blue-700;
	color: $off-white;

	&:hover {
		background: $true-black;
	}

	&:active {
		background: $blue-500;
		color: $off-white;
	}

	&:focus {
		border-color: $off-white;
		box-shadow:
			0 0 0 rem(2) $black,
			0 0 0 rem(4) $off-white;
	}
}

.button--disc:active:focus {
	border-color: transparent;
	box-shadow: none;
}
