.cta {
	@extend %interactive;

	--visited-color: var(--off-white);
	--visited-background-color: var(--blue-600);

	border-radius: rem(3);
	display: block;
	font-family: $font-family-sans;
	font-size: 1rem;
	font-weight: $font-weight-semibold;
	height: rem(38);
	max-width: 100%;
	padding: rem(6) rem(6) rem(4);
	text-align: center;
	text-decoration: underline;
	text-decoration-color: transparent;
	text-decoration-skip-ink: auto;
	text-underline-offset: rem(3);

	width: 100%;

	svg {
		margin-left: 0.25em;
	}

	&:visited {
		background-color: var(--visited-background);
		color: var(--visited-color);
	}

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
		text-decoration-color: inherit;
		text-decoration-skip-ink: auto;
		text-underline-offset: rem(3);
	}
}

.cta--inverse {
	--color: var(--blue-500);
	--outline-color: var(--blue-500);
	--background-color: var(--off-white);
	--hover-background-color: var(--blue-50);
	--active-color: var(--blue-400);
	--active-background-color: var(--background-color);
	--focus-background-color: var(--background-color);
	--focus-color: var(--blue-500);
}
