.cards {
	display: grid;
}

.card {
	border-top: 3px solid transparent;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
	max-width: rem(367);
	padding: rem(22);
	position: relative;
	transition: box-shadow 0.2s;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

.card + .card {
	margin-top: rem(40);
}

.card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.card:focus-within {
	border: solid 3px transparent;
	border-radius: 2px;
	box-shadow: 0 0 25px rgba(255, 98, 26, 0.25);
	padding: rem(22) rem(19) rem(19);
}

.card__format {
	font-family: var(--font-family-sans);
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	padding: rem(2) rem(10);
}

.card__external-link {
	align-items: center;
	background: var(--grey-200);
	border-bottom-left-radius: 2px;
	color: var(--blue-500);
	display: flex;
	height: rem(50);
	justify-content: center;
	padding-right: rem(2);
	position: absolute;
	right: 0;
	top: 0;
	width: rem(52);
}

.card__external-link svg path {
	fill: currentColor;
}

.card__external-link:focus {
	background: var(--blue-500);
	color: var(--white);
	outline: none;
}

.card:focus-within .card__external-link {
	width: rem(50);
}

.card header {
	margin-top: rem(12);
}

.card__title {
	font-size: rem(20);
	line-height: (30 / 20);
}

.card__date,
.card__byline {
	color: var(--grey-500);
	font-size: rem(14);
	margin-top: rem(6);
}

.card__locality {
	margin-top: rem(6);
}

.card__byline + .card__locality {
	margin-top: rem(6);
}

.card__locality svg {
	height: 0.8em;
}

.card__locality svg path {
	fill: var(--grey-500);
}

.card__tags {
	margin-top: rem(15);
}

.card--resource {
	border-top-color: var(--red-400);
}

.card--resource:focus-within {
	border-color: var(--red-400);
}

.card--resource .card__format {
	background: unset;
	color: var(--black);
	font-family: var(--font-family-serif);
	font-weight: $font-weight-normal;
	padding: 0;
}

.card--resource header::before {
	background: var(--grey-500);
	content: "";
	display: block;
	height: 1px;
	margin-bottom: rem(16);
	margin-left: 0;
	margin-top: rem(14);
	width: rem(52);
}

.card--resource .card__byline {
	font-size: rem(16);
}

.card--blog {
	border-top-color: var(--red-300);
}

.card--blog:focus-within {
	border-color: var(--red-300);
	box-shadow: 0 0 25px rgba(255, 164, 122, 0.25);

}

.card--blog .card__format {
	background: var(--red-300);
}

.card--news {
	border-top-color: var(--blue-500);
}

.card--news:focus-within {
	border-color: var(--blue-500);
	box-shadow: 0 0 25px rgba(22, 96, 93, 0.25);

}

.card--news .card__format {
	background: var(--blue-500);
	color: var(--white);
}

.card--news .card__date,
.card--news .card__byline {
	display: inline-block;
}

.card--news .card__byline::before {
	content: " \00b7 ";
}

.card--publication {
	border-top-color: var(--green-400);
}

.card--publication:focus-within {
	border-color: var(--green-400);
	box-shadow: 0 0 25px rgba(11, 132, 65, 0.25);

}

.card--publication .card__format {
	background: var(--green-400);
	color: var(--white);
}

.card--event {
	border-top-color: var(--blue-300);
}

.card--event:focus-within {
	border-color: var(--blue-300);
	box-shadow: 0 0 25px rgba(48, 207, 201, 0.25);

}

.card--event .card__format {
	background: var(--blue-300);
}

.card--event .card__date svg path {
	fill: var(--grey-500);
}

.card--event .card__locality {
	color: var(--grey-500);
	font-size: rem(14);
}

.card--event .card__locality svg path {
	fill: var(--black);
}

.card--platformcoop {
	border-top-color: var(--green-300);
}

.card--platformcoop:focus-within {
	border-color: var(--green-300);
	box-shadow: 0 0 25px rgba(11, 132, 65, 0.25);

}

.card--platformcoop .card__format {
	background: var(--green-300);
}

.card--platformcoop .card__external-link:focus {
	background: var(--green-300);
	color: var(--black);
}

.card--platformcoop .card__locality {
	color: var(--grey-500);
	font-size: rem(14);
}

.card--platformcoop .card__locality svg path {
	fill: var(--black);
}

@include breakpoint-up(md) {
	.cards {
		display: grid;
		gap: rem(30);
		grid-template-columns: repeat(2, 1fr);
	}

	.card + .card {
		margin-top: 0;
	}
}

@include breakpoint-up(lg) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}
