.resource-list {
	@include grid-column-span(8, 8);
}

.cards {
	list-style: none;
	margin-top: rem(30);
}

.card {
	background-color: var(--white);
	border-top: rem(3) solid var(--blue-500);
	box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.16);
	height: 100%;
	padding: rem(22);
	position: relative;
	transition: box-shadow 0.1s;
	width: 100%;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&:hover {
		box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.25);
	}

	&:focus-within {
		border: solid rem(3) var(--blue-500);
		border-radius: rem(2);
		box-shadow: 0 0 rem(25) transparentize($blue-500, 0.75);
		padding: rem(22) rem(19) rem(19);
	}
}

.cards .card__wrapper + .card__wrapper {
	margin-top: rem(30);
}

.card__image {
	border-left: solid rem(3) transparent;
	border-right: solid rem(3) transparent;
	margin-bottom: 0;
	margin-left: rem(-22);
	margin-right: rem(-22);
	margin-top: rem(-22);
	padding: 0;

	img {
		display: block;
		height: auto;
		margin: 0 rem(-3);
		width: calc(100% + #{rem(6)});
	}
}

.card:focus-within .card__image {
	overflow: hidden;
}

.card__image + * {
	margin-top: rem(22);
}

.card header {
	position: relative;
}

.card__title {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	line-height: (30 / 20);
	margin-top: 0;
}

.card__link {
	color: var(--black);
	line-height: inherit;
	margin-left: rem(-22);
	margin-right: rem(-22);
	min-width: calc(100% + #{rem(44)});
	padding-bottom: rem(2);
	padding-left: rem(22);
	padding-right: rem(22);
	text-decoration: none;

	&:visited {
		color: var(--black);
	}

	&:focus {
		outline: none;
	}

	&[rel="external"]::after {
		background-color: var(--black);
	}

	&:not([rel="external"])::after {
		content: "";
		display: none;
	}
}

.card header + * {
	margin-top: rem(9);
}

.card__byline,
.card__meta,
.card__description,
.card__favorite {
	color: var(--grey-600);
	font-size: rem(14);
	margin-top: rem(9);
}

.card__byline,
.card__meta {
	svg {
		margin-bottom: -0.25em;
	}
}

.card__meta {
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.card__format {
	background: var(--blue-500);
	color: var(--white);
	display: inline-block;
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	margin-bottom: rem(12);
	padding: rem(2) rem(6);
}

.card__tags {
	display: inline-flex;
	margin-top: rem(6);

	.overflow {
		color: var(--grey-600);
		font-size: rem(14);
		margin-left: rem(4);
		margin-top: rem(12);
		padding-top: rem(3);
	}
}

.card__favorite {
	color: var(--black);
	font-weight: $font-weight-bold;
	text-align: right;

	svg {
		color: var(--red-500);
	}
}

.card--resource {
	@include card($red-400, var(--black), false);

	.card__format {
		color: inherit;
		display: inline;
		font-family: inherit;
		font-weight: inherit;
		padding: 0;
	}
}

.card--project {
	@include card($red-400, var(--black));
}

.card--blog {
	@include card($red-300, var(--black));
}

.card--person {
	@include card($blue-500, var(--white));
}

.card--event {
	@include card($blue-300, var(--black));
}

.card--platformcoop {
	@include card($green-300, var(--black));
}

.card--story {
	@include card($yellow-500, var(--black));
}

@include breakpoint-up(sm) {
	.cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		@supports (display: $grid) {
			display: grid;
			gap: rem(30);
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.cards .card__wrapper {
		margin-bottom: rem(30);
		width: calc(50% - #{rem(30)} / 2);

		@supports (display: $grid) {
			margin-bottom: 0;
			width: 100%;
		}
	}

	.card:nth-child(even) {
		margin-left: rem(30);

		@supports (display: $grid) {
			margin-left: 0;
		}
	}

	.cards .card__wrapper + .card__wrapper {
		margin-top: 0;
	}
}

@include breakpoint-up(lg) {
	.resource-list {
		@include grid-column-span(8, 12, 5);
	}

	.cards {
		@supports (display: $grid) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@include breakpoint-up(xl) {
	.resource-list {
		@include grid-column-span(12, 16, 5);
	}

	.cards {
		@supports (display: $grid) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.cards .card__wrapper {
		margin-bottom: rem(30);
		margin-left: rem(30);
		width: calc((100% - (#{rem(30)} * 2)) / 3);

		@supports (display: $grid) {
			margin-bottom: 0;
			margin-left: 0;
			width: 100%;
		}
	}

	.card:nth-child(even) {
		margin-left: rem(30);

		@supports (display: $grid) {
			margin-left: 0;
		}
	}

	.card:nth-child(3n + 1) {
		margin-left: 0;
	}
}
