.cards {
	list-style: none;
	margin-top: rem(30);
	width: 100%;

	@supports (display: grid) {
		display: grid;
		gap: rem(30);
		grid-column: 1 / 9;
		grid-template-columns: repeat(1, 1fr);
	}
}

.card {
	background-color: $white;
	border-top: rem(3) solid $blue-500;
	box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.16);
	padding: rem(22);
	position: relative;
	transition: box-shadow 0.1s;
	width: 100%;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&:hover {
		box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.25);
	}

	&:focus-within {
		border: solid rem(3) $blue-500;
		border-radius: rem(2);
		box-shadow: 0 0 rem(25) transparentize($blue-500, 0.75);
		padding: rem(22) rem(19) rem(19);
	}
}

.card + .card {
	margin-top: rem(40);
}

.card__image {
	border-left: solid rem(3) transparent;
	border-right: solid rem(3) transparent;
	margin-bottom: 0;
	margin-left: rem(-22);
	margin-right: rem(-22);
	margin-top: rem(-22);
	padding: 0;

	img {
		display: block;
		height: auto;
		margin: 0 rem(-3);
		width: calc(100% + #{rem(6)});
	}
}

.card:focus-within .card__image {
	overflow: hidden;
}

.card__image + * {
	margin-top: rem(16);
}

.card__format {
	background: $blue-500;
	color: $white;
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	padding: rem(2) rem(6);

	svg {
		margin-right: rem(3);
		width: 1em;

		path {
			fill: $red-400;
		}
	}
}

.card__sep,
.card__language {
	font-family: $font-family-sans;
	font-size: rem(14);
}

.card header {
	position: relative;
}

.card__title {
	font-size: rem(20);
	font-weight: $font-weight-bold;
	line-height: (30 / 20);
	margin-top: rem(12);

	a {
		color: $black;
		line-height: inherit;
		margin-left: rem(-22);
		margin-right: rem(-22);
		min-width: calc(100% + #{rem(44)});
		padding-bottom: rem(2);
		padding-left: rem(22);
		padding-right: rem(22);
		text-decoration: none;

		&:visited {
			color: $black;
		}

		&[rel="external"]::after {
			background-color: $black;
		}

		&:not([rel="external"])::after {
			content: "";
			display: none;
		}
	}
}

.card__date,
.card__byline,
.card__locality,
.card__description,
.card__tags {
	color: $grey-600;
	font-size: rem(14);
	margin-top: rem(2);
}

.card__date,
.card__locality {
	svg {
		height: 0.8em;
		margin-right: rem(2);

		path {
			fill: currentColor;
		}
	}
}

.card__tags {
	margin-top: rem(20);

	.badges {
		display: inline-flex;
	}

	p {
		display: inline;
		margin-left: rem(8);
	}
}

.card header + * {
	margin-top: rem(6);
}

.card--resource {
	@include card($red-400, $black, false);

	.card__format {
		padding: 0;
	}
}

.card--project {
	@include card($red-400, $black);
}

.card--blog {
	@include card($red-300, $black);
}

.card--person {
	@include card($blue-500, $white);
}

.card--event {
	@include card($blue-300, $black);
}

.card--platformcoop {
	@include card($green-300, $black);
}

.card--story {
	@include card($yellow-500, $black);
}

@include breakpoint-up(sm) {
	.card {
		float: left;
		margin-bottom: rem(30);
		width: calc(50% - #{rem(30)} / 2);
	}

	.card:nth-child(even) {
		margin-left: rem(30);
	}

	.card + .card {
		margin-top: 0;
	}

	@supports (display: grid) {
		.cards {
			grid-template-columns: repeat(2, 1fr);
		}

		.card {
			float: none;
			margin-bottom: 0;
			width: 100%;
		}

		.card:nth-child(even) {
			margin-left: 0;
		}
	}
}

@include breakpoint-up(lg) {
	.cards {
		grid-column: 5 / 13;
	}
}


@include breakpoint-up(xl) {
	.cards {
		grid-column: 5 / 17;
		grid-template-columns: repeat(3, 1fr);
	}


}
