.cards {
	display: grid;
}

.card {
	border-top: rem(3) solid transparent;
	box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.16);
	max-width: rem(367);
	padding: rem(22);
	position: relative;
	transition: box-shadow 0.1s;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&:hover {
		box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.25);
	}

	&:focus-within {
		border: solid rem(3) transparent;
		border-radius: rem(2);
		padding: rem(22) rem(19) rem(19);
	}
}

.card + .card {
	margin-top: rem(40);
}

.card__image {
	border-left: solid rem(3) transparent;
	border-right: solid rem(3) transparent;
	margin-bottom: 0;
	margin-left: rem(-22);
	margin-right: rem(-22);
	margin-top: rem(-22);
	padding: 0;

	img {
		display: block;
		height: auto;
		margin: 0 rem(-3);
		width: calc(100% + #{rem(6)});
	}
}

.card:focus-within .card__image {
	overflow: hidden;
}

.card__image + * {
	margin-top: rem(16);
}

.card__format {
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	padding: rem(2) rem(10);
}

.card header {
	position: relative;
}

.card__title {
	font-size: rem(20);
	font-weight: $font-weight-bold;
	line-height: (30 / 20);
	margin-top: rem(12);

	a {
		color: $black;
		line-height: inherit;
		margin-left: rem(-22);
		margin-right: rem(-22);
		min-width: calc(100% + #{rem(44)});
		padding-bottom: rem(2);
		padding-left: rem(22);
		padding-right: rem(22);
		text-decoration: none;

		&::after {
			background-color: $black;
		}

		&:not([rel="external"])::after {
			content: "";
			display: none;
		}
	}
}

.card__date,
.card__byline,
.card__locality,
.card__description,
.card__tags {
	color: $grey-500;
	font-size: rem(14);
	margin-top: rem(6);
}

.card__date,
.card__locality {
	svg {
		height: 0.8em;

		path {
			fill: currentColor;
		}
	}
}

.card__byline + .card__locality {
	margin-top: rem(6);
}

.card__tags {
	margin-top: rem(20);

	* {
		display: inline;
	}

	p {
		margin-left: rem(8);
	}
}

.card--resource {
	@include card($red-400, $black, false);

	.card__format {
		padding: 0;
	}
}

.card--blog {
	@include card($red-300, $black);
}

.card--person {
	@include card($blue-500, $white);
}

.card--event {
	@include card($blue-300, $black);
}

.card--platformcoop {
	@include card($green-300, $black);
}

@include breakpoint-up(md) {
	.cards {
		display: grid;
		gap: rem(30);
		grid-template-columns: repeat(2, 1fr);
	}

	.card + .card {
		margin-top: 0;
	}
}

@include breakpoint-up(lg) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}
