.disclosure-button {
	svg {
		transition: transform 0.3s;

		@media (prefers-reduced-motion: reduce) {
			transition: none;
		}
	}

	&[aria-expanded="true"] {
		svg {
			transform: rotate(-180deg);
		}
	}
}
