.has-modal {
	overflow: hidden;
	position: fixed;
}

.filter-wrapper,
.sort-wrapper {
	padding: rem(20) 0 rem(24);
	position: relative;
}

.filter-wrapper {
	width: 50%;
}

.sort-wrapper {
	text-align: right;
	width: 50%;

	.menu-button .button {
		margin-right: rem(-8);
	}
}

.save-wrapper {
	margin-top: rem(-20);
	padding: 0 0 rem(24);
	position: relative;
}

.accordion + .input-group {
	margin-top: rem(24);
}

.filters {
	label {
		font-weight: $font-weight-normal;
	}

	@include breakpoint-down(md) {
		display: none;

		[id^="deselect"] {
			--color: var(--off-white);
			--outline-color: var(--off-white);
			--hover-background-color: var(--blue-600);
			--hover-color: var(--blue-50);
			--active-background-color: var(--blue-600);
			--active-color: var(--blue-200);
			--focus-color: var(--off-white);
			--focus-background-color: transparent;
			--focus-box-shadow: 0 0 0 var(--border-width) var(--dark-mint-500), 0 0 0 calc(2 * var(--border-width)) var(--outline-color);
			--focus-box-shadow: 0 0 0 var(--border-width) var(--outline-color), 0 0 0 calc(2 * var(--border-width)) var(--dark-mint-500), 0 0 0 calc(3 * var(--border-width)) var(--outline-color);
		}

		.button--disc {
			--color: var(--off-white);
			--background-color: #{var(--blue-700)};
			--outline-color: var(--off-white);
			--hover-background-color: var(--black);
			--active-background-color: var(--blue-500);
		}
	}
}

.accordion--filter-list {
	.accordion__content > .input-group li ul {
		margin-top: rem(12);
		padding-left: rem(30);
	}

	@include breakpoint-down(md) {
		.accordion__heading {
			--border-width: #{rem(1)};
			--color: var(--off-white);

			border-top-color: var(--dark-mint-500);
			margin-left: (-1 * $gutter);
			margin-right: 0;
			padding-left: $gutter;
			padding-right: $gutter;
			width: calc(100% + 2 * #{$gutter});
		}

		.accordion__control {
			--border-width: #{rem(1)};
			--color: var(--off-white);
			--hover-color: var(--off-white);
			--hover-underline-color: var(--blue-300);
			--active-color: var(--parent-background-color);
			--active-background-color: var(--blue-200);
			--active-border-color: var(--blue-200);
			--focus-background-color: var(--parent-background-color);
			--focus-border-color: var(--blue-200);
			--focus-color: var(--off-white);

			border-top-color: var(--dark-mint-500);
			height: rem(69);
			margin-left: (-1 * $gutter);
			margin-right: 0;
			padding-left: $gutter;
			padding-right: $gutter;
			width: calc(100% + 2 * #{$gutter});

			--focus-box-shadow:
				0 0 0 calc(3 * var(--border-width)) var(--focus-background-color) inset,
				0 0 0 calc(5 * var(--border-width)) var(--focus-border-color) inset;

			--active-box-shadow:
				0 0 0 calc(3 * var(--border-width)) var(--parent-background-color) inset,
				0 0 0 calc(5 * var(--border-width)) var(--active-border-color) inset,
				0 0 0 calc(7 * var(--border-width)) var(--parent-background-color) inset;

			svg {
				margin-right: rem(7);
			}

			&:active,
			&:focus {
				border-top-color: var(--parent-background-color);
			}

			&:hover {
				border-top-color: var(--hover-underline-color);

				svg {
					color: inherit;
				}

				&:active,
				&:focus {
					border-top-color: var(--parent-background-color);
				}
			}
		}

		.accordion__control[aria-expanded="true"]:active {
			box-shadow: var(--active-box-shadow);
		}

		.accordion__control[aria-expanded="true"]:active:focus {
			border-top-color: var(--parent-background-color);
			margin-left: (-1 * $gutter);
			margin-right: 0;
			padding-left: $gutter;
			padding-right: $gutter;
			width: calc(100% + 2 * #{$gutter});
		}

		.accordion__control[aria-expanded="true"] + .accordion__content {
			background: var(--blue-600);
			color: var(--white);
			margin-left: (-1 * $gutter);
			margin-right: 0;
			padding-left: $gutter;
			padding-right: $gutter;
			width: calc(100% + 2 * #{$gutter});
		}

		.accordion__content > .input-group li ul {
			--parent-background-color: var(--dark-mint-500);

			background-color: var(--dark-mint-500);
			margin-bottom: rem(-15);
			margin-left: ($gutter * -1);
			margin-right: ($gutter * -1);
			margin-top: rem(12);
			padding-bottom: rem(6);
			padding-left: rem(40);
			padding-top: rem(6);
			width: calc(100% + #{($gutter * 2)});
		}
	}

	.accordion__content > .input-group {
		margin-bottom: 0;
		margin-top: 0;
	}

	.accordion__content > .input-group > li {
		padding: rem(15) 0 rem(13);
		position: relative;
	}

	.accordion__content > .input-group > li + li {
		border-top: rem(1) solid var(--dark-mint-500);
	}

	.accordion__content > .input-group button {
		position: absolute;
		right: 0;
		top: rem(9);
	}

	.accordion__content > .input-group li [aria-expanded="false"] + ul {
		display: none;
	}

	.accordion__content > .input-group li + li {
		margin-top: 0;
	}

	.accordion__content > .input-group ul li {
		padding: rem(12) 0;
	}

	.accordion__pane--expanded .accordion__content {
		background: transparent;
		color: var(--dark-mint-500);
	}
}

@include breakpoint-up(sm) {
	.filter-wrapper {
		@include grid-column-span(4, 8);
	}

	.sort-wrapper {
		@include grid-column-span(4, 8, 5);
	}

	.save-wrapper {
		@include grid-column-span(8, 8);
	}
}

#hide-filters {
	float: right;
	margin-right: rem(-8);
}

@include breakpoint-down(md) {
	.filters--expanded {
		--parent-background-color: var(--blue-500);

		background: var(--parent-background-color);
		color: var(--white);
		display: block;
		height: 100%;
		left: 0;
		overflow: scroll;
		padding: $gutter;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;

		h2:focus {
			outline: none;
		}

		.accordions {
			margin-top: rem(24);
		}
	}

	.accordion--filter-list + .input-group {
		background: var(--off-white);
		bottom: 0;
		left: 0;
		padding: rem(12) rem(30);
		position: fixed;
		text-align: center;
		width: 100vw;

		[type="submit"] {
			display: inline-block;
		}
	}
}

@include breakpoint-between(sm, md) {
	.sort-wrapper {
		text-align: right;

		label,
		select {
			display: inline;
		}

		label {
			margin-right: rem(8);
		}

		select {
			margin-top: 0;
		}
	}
}

@include breakpoint-down(md) {
	.filters,
	.filters .form {
		--text-border-color-default: var(--grey-500);
		--text-border-color-disabled: var(--grey-500);
		--text-border-color-hover: var(--blue-300);
		--text-border-color-focus: var(--off-white);
		--text-border-color-error: var(--red-300);
		--text-border-color-error-hover: var(--red-300);
		--text-border-color-error-focus: var(--red-300);

		--text-value-color-disabled: var(--grey-500);
		--text-value-color-error: var(--red-500);

		--text-background-color-disabled: var(--grey-200);
		--input-group--error-color: var(--red-200);

		--text-focus-box-shadow:
			0 0 0 calc(1 * var(--border-width)) var(--parent-background-color),
			0 0 0 calc(3 * var(--border-width)) var(--text-border-color-focus);

		--text-error-focus-box-shadow:
			0 0 0 calc(1 * var(--border-width)) var(--parent-background-color),
			0 0 0 calc(3 * var(--border-width)) var(--text-border-color-error-hover);

		--checkbox-radio-hover-color: var(--blue-300);
		--checkbox-radio-active-color: var(--blue-400);
		--checkbox-radio-border-color: var(--off-white);
		--checkbox-radio-checked-background-color: var(--off-white);
		--checkbox-radio-focus-border-color: var(--blue-300);
		--checkbox-radio-focus-hover-background-color: default;

		[role="checkbox"][aria-checked="mixed"]::before {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 2"><path fill="%23000000" d="M0,1A1,1,0,0,0,1,2H7A1,1,0,0,0,7,0H1A1,1,0,0,0,0,1Z"/></svg>');
		}

		input[type="checkbox"]:checked::before,
		[role="checkbox"][aria-checked="true"]::before {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23000000" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
		}

		input[type="checkbox"]:checked:focus::before,
		[role="checkbox"][aria-checked="true"]:focus::before {
			box-shadow:
				0 0 0 calc(2 * var(--border-width)) var(--parent-background-color),
				0 0 0 calc(4 * var(--border-width)) var(--checkbox-radio-focus-border-color);
		}
	}
}

@include breakpoint-up(lg) {
	.filter-wrapper {
		@include grid-margin-right(1, 12);

		@supports (display: $grid) {
			grid-row: 2 / 5;
		}

		padding-top: rem(75);

		&::before {
			display: none;
		}

		@supports (display: $grid) {
			margin-right: 0;
		}

		@include grid-column-span(3, 12);
	}

	.sort-wrapper {
		padding: rem(30) 0 0;

		@include grid-column-span(8, 12, 5);
	}

	.search-results .sort-wrapper {
		@include grid-column-span(4, 12, 5);

		text-align: left;
	}

	.save-wrapper {
		@include grid-column-span(4, 12, 9);

		margin-top: 0;
		padding: $gutter 0 0;
		text-align: right;

		.button--borderless {
			display: inline-block;
			margin: rem(6) rem(-8) rem(6) rem(24);
		}
	}

	#show-filters,
	#hide-filters {
		display: none;
	}

	.filters {
		display: block;

		h2 {
			@include visually-hidden();
		}

		h2 + * {
			margin-top: 0;
		}

		#apply-filters {
			display: block;
		}
	}

	.accordion--filter-list {
		display: block;
		margin-top: 0;
	}

	.filter,
	.sort {
		display: block;
	}
}

@include breakpoint-up(xl) {
	.filter-wrapper {
		@include grid-margin-right(1, 16);
		@include grid-column-span(3, 16);
	}

	.sort-wrapper {
		@include grid-column-span(12, 16, 5);
	}

	.search-results .sort-wrapper {
		@include grid-column-span(6, 16, 5);

		text-align: left;
	}

	.save-wrapper {
		@include grid-column-span(6, 16, 11);
	}
}
