.has-modal {
	overflow: hidden;
	position: fixed;
}

.filter-wrapper,
.sort-wrapper {
	padding: rem(20) 0 rem(24);
	position: relative;
}

.filter-wrapper {
	width: 50%;
}

.sort-wrapper {
	text-align: right;
	width: 50%;

	.menu-button .button {
		margin-right: rem(-8);
	}
}

.accordion + .input-group {
	margin-top: rem(24);
}

.filters {
	display: none;

	@include breakpoint-down(md) {
		.button {
			color: $off-white;

			&:hover {
				background-color: $blue-500;
				color: $off-white;
			}

			&:active {
				background-color: $blue-600;
				color: $blue-200;
			}

			&:focus {
				background-color: $blue-600;
				border-color: $dark-mint-500;
				box-shadow: 0 0 0 rem(2) $dark-mint-500, 0 0 0 rem(4) $off-white;
				color: $off-white;
				outline: none;
			}

			&:focus:active {
				background-color: $blue-600;
			}
		}
	}
}

.accordion--filter-list {
	@include breakpoint-down(md) {
		.accordion__heading,
		.accordion__control {
			border-bottom: 0;
			border-left: 0;
			border-right: 0;
			border-top: solid rem(1) $dark-mint-500;
			color: $off-white;
			height: rem(69);
			margin-left: (-1 * $gutter);
			margin-right: 0;
			padding-left: $gutter;
			padding-right: $gutter;
			width: calc(100% + 2 * #{$gutter});

			&::before {
				display: none;
			}
		}

		.accordion__control:hover::before {
			background-color: $blue-300;
		}

		.accordion__control:focus {
			background: $blue-600;
			box-shadow: none;
			color: $off-white;
		}

		.accordion__control[aria-expanded="true"] + .accordion__content {
			background: $blue-600;
			color: $white;
			margin-left: (-1 * $gutter);
			margin-right: 0;
			padding-left: $gutter;
			padding-right: $gutter;
			width: calc(100% + 2 * #{$gutter});
		}

		.accordion__content > .input-group li ul {
			background-color: $black;
			margin-bottom: rem(-15);
			margin-left: ($gutter * -1);
			margin-right: ($gutter * -1);
			margin-top: rem(12);
			padding-bottom: rem(6);
			padding-left: rem(70);
			padding-top: rem(6);
			width: calc(100% + #{($gutter * 2)});
		}
	}

	.accordion__control svg {
		margin-right: rem(7);
	}

	.accordion__content > .input-group {
		margin-bottom: 0;
		margin-top: 0;
	}

	.accordion__content > .input-group > li {
		padding: rem(14) 0;
		position: relative;
	}

	.accordion__content > .input-group > li + li {
		border-top: rem(1) solid $black;
	}

	.accordion__content > .input-group button {
		position: absolute;
		right: 0;
		top: rem(9);
	}

	.accordion__content > .input-group li ul {
		margin-top: rem(12);
		padding-left: rem(40);
	}

	.accordion__content > .input-group li [aria-expanded="false"] + ul {
		display: none;
	}

	.accordion__content > .input-group li + li {
		margin-top: 0;
	}

	.accordion__content > .input-group ul li {
		padding: rem(12) 0;
	}

	.accordion__pane--expanded .accordion__content {
		background: transparent;
		color: $black;
	}
}

@include breakpoint-up(sm) {
	.filter-wrapper {
		@include grid-column-span(4, 8);
	}

	.sort-wrapper {
		@include grid-column-span(4, 8, 5);
	}
}

#hide-filters {
	float: right;
	margin-right: rem(-8);
}

@include breakpoint-down(md) {
	.filters--expanded {
		background: $blue-500;
		color: $white;
		display: block;
		height: 100%;
		left: 0;
		overflow: scroll;
		padding: $gutter;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;

		h2:focus {
			outline: none;
		}

		.accordions {
			margin-top: rem(24);
		}
	}

	.accordion--filter-list + .input-group {
		background: $off-white;
		bottom: 0;
		left: 0;
		padding: rem(12) rem(30);
		position: fixed;
		text-align: center;
		width: 100vw;

		[type="submit"] {
			display: inline-block;
		}
	}
}

@include breakpoint-between(sm, md) {
	.sort-wrapper {
		text-align: right;

		label,
		select {
			display: inline;
		}

		label {
			margin-right: rem(8);
		}

		select {
			margin-top: 0;
		}
	}
}

@include breakpoint-down(md) {
	.filters {
		input[type="checkbox"] + label::before,
		[role="checkbox"]::before {
			border-color: $off-white;
		}

		input[type="checkbox"]:hover + label::before,
		[role="checkbox"]:hover::before {
			border-color: $blue-300;
			box-shadow: 0 0 0 rem(1) $blue-300 inset;
		}

		input[type="checkbox"]:focus + label::before,
		[role="checkbox"]:focus::before {
			border-color: $blue-300;
			box-shadow:
				0 0 0 rem(2) $black,
				0 0 0 rem(4) $blue-300,
				0 0 0 rem(1) $blue-300 inset;
		}

		input[type="checkbox"]:checked + label::before,
		[role="checkbox"][aria-checked="true"]::before,
		[role="checkbox"][aria-checked="mixed"]::before {
			background: $off-white;
			background-position: center;
			background-repeat: no-repeat;
			border-color: $off-white;
			box-shadow: none;
		}

		input[type="checkbox"]:checked + label::before,
		[role="checkbox"][aria-checked="true"]::before {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23000000" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
		}

		[role="checkbox"][aria-checked="mixed"]::before {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 2"><path fill="%23000000" d="M0,1A1,1,0,0,0,1,2H7A1,1,0,0,0,7,0H1A1,1,0,0,0,0,1Z"/></svg>');
			background-size: rem(10) rem(2.5);
		}

		input[type="checkbox"]:checked:focus + label::before,
		[role="checkbox"][aria-checked="true"]:focus::before {
			border-color: $off-white;
			box-shadow:
				0 0 0 rem(2) $black,
				0 0 0 rem(4) $blue-300;
		}


	}
}

@include breakpoint-up(lg) {
	.filter-wrapper {
		@include grid-margin-right(1, 12);

		@supports (display: $grid) {
			grid-row: 2 / 5;
		}

		padding-top: rem(75);

		&::before {
			display: none;
		}

		@supports (display: $grid) {
			margin-right: 0;
		}

		@include grid-column-span(3, 12);
	}

	.sort-wrapper {
		padding: rem(30) 0 0;

		@include grid-column-span(8, 12, 5);
	}

	#show-filters,
	#hide-filters {
		display: none;
	}

	.filters {
		display: block;

		h2 {
			@include visually-hidden();
		}

		h2 + * {
			margin-top: 0;
		}

		#apply-filters {
			display: block;
		}
	}

	.accordion--filter-list {
		display: block;
		margin-top: 0;
	}

	.filter,
	.sort {
		display: block;
	}
}


@include breakpoint-up(xl) {
	.filter-wrapper {
		@include grid-margin-right(1, 16);
		@include grid-column-span(3, 16);
	}

	.sort-wrapper {
		@include grid-column-span(12, 16, 5);
	}
}
