.has-modal {
	overflow: hidden;
	position: fixed;
}

.filter-sort {
	padding: rem(20) 0 rem(24);

	@include full-width-background($white);
	@include grid-column-span(4, 4);
}

.filter-sort__filters {
	display: none;

	.accordion__control svg {
		margin-right: rem(7);
	}

	.accordion__content > .input-group {
		margin-bottom: 0;
		margin-top: 0;
	}

	.accordion__content > .input-group > li {
		padding: rem(14) 0;
		position: relative;
	}

	.accordion__content > .input-group > li + li {
		border-top: rem(1) solid transparentize($grey-300, 0.3);
	}

	.accordion__content > .input-group button {
		position: absolute;
		right: 0;
		top: rem(9);
	}

	.accordion__content > .input-group li ul {
		margin-top: rem(12);
		padding-left: rem(40);
		width: 100%;
	}

	.accordion__content > .input-group li [aria-expanded="false"] + ul {
		display: none;
	}

	.accordion__content > .input-group li + li {
		margin-top: 0;
	}

	.accordion__content > .input-group ul li {
		padding: rem(12) 0;
	}

	.accordion__pane--expanded .accordion__content {
		background: transparent;
		color: $black;
	}
}

@include breakpoint-up(sm) {
	.filter-sort {
		@include grid-column-span(8, 8);
	}
}

#hide-filters {
	float: right;
}

@include breakpoint-down(md) {
	.filter-sort__filters--expanded {
		background-color: $white;
		display: block;
		height: 100%;
		left: 0;
		overflow: scroll;
		padding: $gutter;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;

		h2:focus {
			outline: none;
		}

		.accordions {
			margin-top: rem(24);
		}
	}
}

@include breakpoint-up(lg) {
	.filter-sort {
		@include grid-margin-right(1, 12);

		padding-top: rem(30);

		&::before {
			display: none;
		}

		@supports (display: $grid) {
			margin-right: 0;
		}

		@include grid-column-span(3, 12);
	}

	#show-filters,
	#hide-filters {
		display: none;
	}

	.filter-sort__filters {
		h2 {
			@include visually-hidden();
		}

		h2 + * {
			margin-top: 0;
		}

		.accordions {
			display: block;
			margin-top: 0;
		}

		#apply-filters {
			display: block;
		}
	}

	.filter-sort__filters,
	.filter-sort__sorts {
		display: block;
	}
}


@include breakpoint-up(xl) {
	.filter-sort {
		@include grid-margin-right(1, 16);
		@include grid-column-span(3, 16);
	}
}
