.input-group {
	display: block;
	list-style: none;
	position: relative;
	width: auto;
}

.input-group + .input-group {
	margin-top: rem(60);
}

.input-group > * + * {
	margin-top: rem(12);
}

label {
	font-family: $font-family-serif;
	font-weight: $font-weight-bold;
	line-height: (24 / 16);
}

.input-group--error label {
	color: $red-500;
}

input:not([type="submit"]),
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: solid rem(1) $grey-500;
	border-radius: rem(3);
	display: block;
	font-family: $font-family-serif;
	font-size: rem(16);
	height: rem(40);
	line-height: (24 / 16);
	max-width: rem(268);
	padding: rem(10) rem(10) rem(7);
	transition: border 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
	width: 100%;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

input[type="checkbox"],
input[type="radio"] {
	@include visually-hidden();
}

input[type="search"] {
	background-image: url("../images/search.svg");
	background-position: rem(12) center;
	background-repeat: no-repeat;
	background-size: 1.25em;
	padding-left: rem(40);
	position: relative;
}

textarea {
	height: rem(118);
	max-width: rem(367);
	resize: none;
}

select {
	background: $white;
	background-image: url("../images/chevron-down.svg");
	background-position: calc(100% - #{rem(16)}) center;
	background-repeat: no-repeat;
	background-size: 1.25em;
	padding: rem(8) rem(40) rem(6) rem(10);

	&::-ms-expand {
		display: none;
	}

	&::-moz-focus-inner {
		outline: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}

input:not([type="submit"]):hover,
textarea:hover,
select:hover {
	border-color: $blue-400;
}

input:not([type="submit"]):focus,
textarea:focus,
select:focus {
	border-color: $blue-500;
	box-shadow: 0 0 0 rem(1) $blue-500 inset;
	outline: none;
}

input:not([type="submit"])[disabled],
textarea[disabled],
select[disabled] {
	background-color: $grey-200;
	border-color: $grey-400;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: $font-weight-normal;
	padding-left: rem(8);
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
	border: rem(1) solid $grey-500;
	border-radius: rem(3);
	content: "";
	display: block;
	float: left;
	height: rem(18);
	margin-top: rem(1);
	transition: border 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
	width: rem(18);

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

input[type="radio"] + label::before {
	border-radius: 100%;
}

input[type="radio"]:hover + label::before,
input[type="checkbox"]:hover + label::before {
	border-color: $blue-400;
	box-shadow: 0 0 0 rem(1) $blue-400 inset;
}

input[type="radio"]:focus + label::before,
input[type="checkbox"]:focus + label::before {
	border-color: $blue-400;
	box-shadow:
		0 0 0 rem(2) $white,
		0 0 0 rem(4) $blue-400,
		0 0 0 rem(1) $blue-400 inset;
}

input[type="radio"]:checked + label::before {
	background: $blue-400;
	border-color: $blue-400;
	box-shadow:
		0 0 0 rem(1) $blue-400 inset,
		0 0 0 rem(3) $white inset;
}

input[type="checkbox"]:checked + label::before {
	background: $blue-400;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	border-color: $blue-400;
	box-shadow: none;
}

.has-dark-mint-500-background-color .input-group--error label {
	color: $red-200;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
	color: $grey-400;
}

input[type="radio"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before {
	border-color: $grey-400;
}

.has-dark-mint-500-background-color input[type="radio"] + label::before,
.has-dark-mint-500-background-color input[type="checkbox"] + label::before {
	border-color: $off-white;
}

input[type="radio"]:disabled:hover + label::before,
input[type="checkbox"]:disabled:hover + label::before {
	box-shadow: none;
}

input[type="radio"]:checked:focus + label::before,
input[type="checkbox"]:checked:focus + label::before {
	box-shadow:
		0 0 0 rem(2) $white,
		0 0 0 rem(4) $blue-400,
		0 0 0 rem(1) $blue-400 inset,
		0 0 0 rem(3) $white inset;
}

input[type="checkbox"]:checked:focus + label::before {
	box-shadow:
		0 0 0 rem(2) $white,
		0 0 0 rem(4) $blue-400;
}

.has-dark-mint-500-background-color input[type="radio"]:hover + label::before,
.has-dark-mint-500-background-color input[type="checkbox"]:hover + label::before {
	border-color: $blue-300;
	box-shadow: 0 0 0 rem(1) $blue-300 inset;
}

.has-dark-mint-500-background-color input[type="checkbox"]:focus + label::before {
	border-color: $blue-300;
	box-shadow:
		0 0 0 rem(2) $black,
		0 0 0 rem(4) $blue-300,
		0 0 0 rem(1) $blue-300 inset;
}

.has-dark-mint-500-background-color input[type="radio"]:checked + label::before {
	background: $off-white;
	border-color: $off-white;
	box-shadow:
		0 0 0 rem(1) $off-white inset,
		0 0 0 rem(3) $black inset;
}

.has-dark-mint-500-background-color input[type="checkbox"]:checked + label::before {
	background: $off-white;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23000000" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	border-color: $off-white;
	box-shadow: none;
}

.has-dark-mint-500-background-color input[type="radio"]:disabled label,
.has-dark-mint-500-background-color input[type="checkbox"]:disabled label {
	color: $grey-400;

	&::before {
		border-color: $grey-400;
	}
}

.has-dark-mint-500-background-color input[type="radio"]:disabled:hover label::before,
.has-dark-mint-500-background-color input[type="checkbox"]:disabled:hover label::before {
	box-shadow: none;
}

.has-dark-mint-500-background-color input[type="radio"]:checked:focus + label::before,
.has-dark-mint-500-background-color input[type="checkbox"]:checked:focus + label::before {
	border-color: $off-white;
	box-shadow:
		0 0 0 rem(2) $black,
		0 0 0 rem(4) $blue-300,
		0 0 0 rem(1) $off-white inset,
		0 0 0 rem(3) $black inset;
}

.has-dark-mint-500-background-color input[type="checkbox"]:checked:focus + label::before {
	box-shadow:
		0 0 0 rem(2) $black,
		0 0 0 rem(4) $blue-300;
}

.input-group--error input:not([type="submit"]),
.input-group--error select,
.input-group--error textarea {
	border-color: $red-500;
	color: $red-500;
}

.has-dark-mint-500-background-color input:not([type="submit"]):hover,
.has-dark-mint-500-background-color textarea:hover,
.has-dark-mint-500-background-color select:hover {
	border-color: $blue-300;
}

.has-dark-mint-500-background-color input:not([type="submit"]):focus,
.has-dark-mint-500-background-color textarea:focus,
.has-dark-mint-500-background-color select:focus {
	border-color: $blue-300;
	box-shadow: 0 0 0 rem(2) $blue-300 inset;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	background: $grey-300;
	background-image: url("../images/close.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: rem(12.5) rem(12.5);
	border-radius: 50%;
	height: rem(24);
	position: absolute;
	right: rem(10);
	top: rem(7);
	width: rem(24);
}

.input-group__description {
	font-size: rem(14);
	font-style: italic;
	line-height: (24 / 14);
}

.input-group--error input:not([type="submit"]):hover,
.input-group--error select:hover,
.input-group--error textarea:hover {
	border-color: $red-500;
}

.input-group--error input:not([type="submit"]):focus,
.input-group--error select:focus,
.input-group--error textarea:focus {
	border-color: $red-500;
	box-shadow: 0 0 0 rem(1) $red-500 inset;
}

.has-dark-mint-500-background-color .input-group--error input:not([type="submit"]),
.has-dark-mint-500-background-color .input-group--error select,
.has-dark-mint-500-background-color .input-group--error textarea {
	border-color: $red-200;
	color: $red-500;

	&:focus {
		border-color: $red-200;
		box-shadow: 0 0 0 rem(2) $red-200 inset;
	}
}

.input-group__error {
	color: $red-500;
	display: flex;
	flex-direction: row;
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	line-height: (20 / 14);

	svg {
		margin-right: rem(4);
	}

	.has-dark-mint-500-background-color & {
		color: $red-200;
	}
}

