.input-group {
	display: block;
	position: relative;
	width: auto;
}

.input-group + .input-group {
	margin-top: rem(60);
}

.input-group > * + * {
	margin-top: rem(12);
}

label {
	font-family: $font-family-serif;
	font-weight: $font-weight-bold;
	line-height: (24 / 16);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select {
	height: rem(40);
	max-width: rem(268);
}

textarea {
	height: rem(118);
	max-width: rem(367);
	resize: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea,
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: solid rem(1) $grey-500;
	border-radius: rem(3);
	display: block;
	font-family: $font-family-serif;
	font-size: rem(16);
	line-height: (24 / 16);
	padding: rem(10) rem(10) rem(7);
	width: 100%;

	&:hover {
		border-color: $blue-400;
	}

	&:focus {
		border-color: $blue-500;
		box-shadow: 0 0 0 rem(1) $blue-500 inset;
		outline: none;
	}

	&[disabled] {
		background-color: $grey-200;
		border-color: $grey-400;
	}
}

/* stylelint-disable no-descending-specificity */
input[type="search"] { /* stylelint-enable */
	background-image: url("../images/search.svg");
	background-position: rem(14) center;
	background-repeat: no-repeat;
	padding-left: rem(40);
}

// See: https://www.filamentgroup.com/lab/select-css.html

/* stylelint-disable no-descending-specificity */
select { /* stylelint-enable */
	background-image: url("../images/chevron-s.svg");
	background-position: calc(100% - #{rem(16)}) center;
	background-repeat: no-repeat;
	padding: rem(8) rem(40) rem(6) rem(10);

	&::-ms-expand {
		display: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

	/* stylelint-disable no-descending-specificity */
	&::-moz-focus-inner { /* stylelint-enable */
		outline: none;
	}
}

.input-group__description {
	font-size: rem(14);
	font-style: italic;
	line-height: (24 / 14);
}

.input-group--error input[type="text"],
.input-group--error input[type="email"],
.input-group--error input[type="password"],
.input-group--error textarea {
	border-color: $red-500;
	box-shadow: 0 0 0 rem(1) $red-500 inset;
	color: $red-500;
}

.input-group__error {
	color: $red-500;
	display: flex;
	flex-direction: row;
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	line-height: (20 / 14);

	svg {
		height: 1rem;
		margin-right: rem(6);

		.triangle {
			fill: currentColor;
			stroke: currentColor;
		}

		.exclamation {
			fill: $off-white;
		}
	}
}

