.icon {
	height: 1.25em;
	margin-bottom: -0.25em;
	width: 1.25em;
}

.icon.icon--md {
	height: 1.5em;
	width: 1.5em;
}

.icon.icon--lg {
	height: 1.75em;
	width: 1.75em;
}

.icon.icon--xl {
	height: 2.5em;
	width: 2.5em;
}
