
.input-group {
	--border-width: #{rem(1)};

	display: block;
	list-style: none;
	position: relative;
	width: auto;

	/* Shared colors between all inputs */

	--disabled-color: var(--grey-400);
	--disabled-border-color: var(--grey-400);
	--error-message-color: var(--red-500);
	--error-text-color: var(--red-500);
	--focus-background-color: var(--white);
	--hover-border-color: var(--blue-400);

	/* Colors - Text input and selects */

	--text-disabled-background-color: var(--grey-200);
	--text-focus-border-color: var(--blue-500);

	/* Colors - Radios and Checkboxes */

	--checkbox-radio-active-color: var(--blue-150);
	--checkbox-radio-border-color: var(--grey-500);
	--checkbox-radio-checked-background-color: var(--blue-500);
	--checkbox-radio-focus-border-color: var(--blue-500);
	--checkbox-radio-focus-hover-background-color: var(--off-white);

	/* Borders - Text input and selects */

	--text-error-box-shadow: 0 0 0 var(--border-width) var(--error-message-color) inset;
	--text-focus-box-shadow:
		0 0 0 calc(1 * var(--border-width)) var(--text-focus-border-color) inset,
		0 0 0 calc(3 * var(--border-width)) var(--parent-background-color) inset,
		0 0 0 calc(5 * var(--border-width)) var(--text-focus-border-color) inset;
	--text-hover-box-shadow: 0 0 0 calc(1 * var(--border-width)) var(--hover-border-color) inset;
	--text-border: solid var(--border-width);

	/* Borders - Radios and Checkboxes */

	--checkbox-radio-hover-box-shadow: 0 0 0 calc(1 * var(--border-width)) var(--hover-border-color) inset;
	--checkbox-radio-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(4 * var(--border-width)) var(--checkbox-radio-focus-border-color),
		0 0 0 calc(1 * var(--border-width)) var(--checkbox-radio-focus-border-color) inset;

	/* Borders - Checkboxes */

	--checkbox-checked-hover-box-shadow: 0 0 0 var(--border-width) var(--checkbox-radio-focus-border-color);

	/* Borders - Radios */

	--radio-checked-box-shadow:
		0 0 0 var(--border-width) var(--checkbox-radio-border-color) inset,
		0 0 0 calc(3 * var(--border-width)) var(--parent-background-color) inset;
	--radio-checked-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(4 * var(--border-width)) var(--checkbox-radio-focus-border-color),
		0 0 0 var(--border-width) var(--checkbox-radio-focus-border-color) inset,
		0 0 0 calc(3 * var(--border-width)) var(--parent-background-color) inset;
	--radio-checked-hover-box-shadow:
		0 0 0 calc(1 * var(--border-width)) var(--hover-border-color),
		0 0 0 var(--border-width) var(--checkbox-radio-border-color) inset,
		0 0 0 calc(3 * var(--border-width)) var(--parent-background-color) inset;
}

.input-group--inverse {
	--text-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--off-white) inset,
		0 0 0 calc(4 * var(--border-width)) var(--text-focus-border-color) inset;

	/* Shared colors between all inputs */

	--disabled-color: var(--grey-500);
	--disabled-border-color: var(--grey-400);
	--error-message-color: var(--red-200);
	--error-text-color: var(--red-500);
	--focus-background-color: var(--blue-700);
	--hover-border-color: var(--blue-300);

	/* Colors - Text input and selects */

	--text-disabled-background-color: var(--grey-300);
	--text-focus-border-color: var(--blue-500);

	/* Colors - Radios and Checkboxes */

	--checkbox-radio-active-color: var(--blue-400);
	--checkbox-radio-border-color: var(--off-white);
	--checkbox-radio-checked-background-color: var(--off-white);
	--checkbox-radio-focus-border-color: var(--blue-300);
	--checkbox-radio-focus-hover-background-color: default;
}

.input-group + .input-group {
	margin-top: rem(60);
}

.input-group > * + * {
	margin-top: rem(12);
}

label {
	font-family: $font-family-serif;
	font-weight: $font-weight-bold;
	line-height: (24 / 16);
}

.input-group__description {
	font-size: rem(14);
	font-style: italic;
	line-height: (24 / 14);
}

.input-group__error {
	display: flex;
	flex-direction: row;
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	line-height: (20 / 14);

	svg {
		margin-right: rem(4);
	}
}

.input-group--error {
	color: var(--error-message-color);
}

/*
Selects.
*/

select {
	background-color: var(--white);
	background-image: url("../images/chevron-down.svg");
	background-position: calc(100% - #{rem(16)}) center;
	background-repeat: no-repeat;
	background-size: 1.25em;
	padding: rem(8) rem(40) rem(6) rem(10);

	&::-ms-expand {
		display: none;
	}

	&::-moz-focus-inner {
		outline: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}

/*
Text input and text areas.
*/

input[type="text"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: var(--text-border);
	border-color: var(--grey-500);
	border-radius: rem(3);
	display: block;
	font-family: $font-family-serif;
	font-size: rem(16);
	height: rem(40);
	line-height: (24 / 16);
	max-width: rem(268);
	outline: none;
	padding: rem(10) rem(10) rem(7);
	transition: border 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
	width: 100%;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

textarea {
	height: rem(118);
	max-width: rem(367);
	resize: none;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
	border-color: var(--text-focus-border-color);
	box-shadow: var(--text-focus-box-shadow);
}

input[type="text"][disabled],
textarea[disabled] {
	background-color: var(--text-disabled-background-color);
	border-color: var(--disabled-border-color);
	color: var(--disabled-color);
}

select[disabled] {
	background-blend-mode: overlay;
}

.input-group--error input[type="text"]:not(:focus),
.input-group--error select:not(:focus),
.input-group--error textarea:not(:focus) {
	border-color: var(--error-message-color);
	color: var(--error-text-color);
}

input[type="text"]:hover:not([type="submit"]):not([disabled]):not(:focus),
textarea:hover:not([disabled]):not(:focus),
select:hover:not([disabled]):not(:focus) {
	border-color: var(--hover-border-color);
	box-shadow: var(--text-hover-box-shadow);
}

/*
Checkboxes and radios.
*/

input[type="checkbox"],
input[type="radio"] {
	@include visually-hidden();
}

input[type="checkbox"],
[role="checkbox"] {
	cursor: default;

	&::before {
		margin-right: rem(8);
	}

	&:focus {
		outline: none;
	}
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: $font-weight-normal;
	padding-left: rem(8);
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before,
[role="checkbox"]::before {
	border: rem(1) solid;
	border-color: var(--checkbox-radio-border-color);
	border-radius: rem(3);
	content: "";
	display: block;
	float: left;
	height: rem(18);
	margin-top: rem(1);
	transition: border 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
	width: rem(18);

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

input[type="radio"] + label::before {
	border-radius: 100%;
}

input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before,
[role="checkbox"]:checked::before {
	border: rem(1) solid var(--parent-background-color);
}

input[type="checkbox"]:checked + label::before,
[role="checkbox"][aria-checked="true"]::before {
	background: var(--checkbox-radio-checked-background-color);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	border-color: var(--checkbox-radio-checked-background-color);
}

input[type="radio"]:checked + label::before {
	background: var(--checkbox-radio-focus-border-color);
	box-shadow: var(--radio-checked-box-shadow);
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
	color: var(--disabled-color);

	&::before {
		border-color: var(--disabled-border-color);
	}
}

input[type="radio"]:focus + label::before,
input[type="checkbox"]:focus + label::before,
[role="checkbox"]:focus::before {
	border-color: var(--checkbox-radio-focus-border-color);
	box-shadow: var(--checkbox-radio-focus-box-shadow);
}

input[type="radio"]:active:not(:disabled) + label::before,
input[type="checkbox"]:active:not(:disabled) + label::before,
[role="checkbox"]:active:not(:disabled)::before {
	background-color: var(--checkbox-radio-active-color);
}

input[type="radio"]:checked:focus + label::before {
	box-shadow: var(--radio-checked-focus-box-shadow);
}

[role="checkbox"][aria-checked="mixed"]::before {
	background: var(--checkbox-radio-focus-border-color);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 2"><path fill="%23f9f9f7" d="M0,1A1,1,0,0,0,1,2H7A1,1,0,0,0,7,0H1A1,1,0,0,0,0,1Z"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: rem(10) rem(2.5);
	border-color: var(--checkbox-radio-focus-border-color);
}

.input-group--inverse [role="checkbox"][aria-checked="mixed"]::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 2"><path fill="%23000000" d="M0,1A1,1,0,0,0,1,2H7A1,1,0,0,0,7,0H1A1,1,0,0,0,0,1Z"/></svg>');
}

.input-group--inverse input[type="checkbox"]:checked + label::before,
.input-group--inverse [role="checkbox"][aria-checked="true"]::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23000000" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
}

.input-group--inverse input[type="checkbox"]:checked:focus + label::before,
.input-group--inverse [role="checkbox"][aria-checked="true"]:focus::before {
	box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(4 * var(--border-width)) var(--checkbox-radio-focus-border-color);
}

input[type="radio"]:hover:not(:disabled):not(:focus) + label::before,
input[type="checkbox"]:hover:not(:disabled):not(:focus) + label::before,
[role="checkbox"]:hover:not(:disabled):not(:focus)::before {
	background-color: var(--checkbox-radio-focus-hover-background-color);
	border-color: var(--hover-border-color);
	box-shadow: var(--checkbox-radio-hover-box-shadow);
}

input[type="checkbox"]:checked:hover:not(:disabled):not(:focus) + label::before,
[role="checkbox"]:checked:hover:not(:disabled):not(:focus)::before {
	background-color: var(--checkbox-radio-checked-background-color);
	box-shadow: var(--checkbox-checked-hover-box-shadow);
}

input[type="radio"]:checked:hover:not(:disabled):not(:focus) + label::before {
	background: var(--checkbox-radio-focus-border-color);
	box-shadow: var(--radio-checked-hover-box-shadow);
}
