.form {
	--border-width: #{rem(1)};
	--text-border-color-default: var(--grey-500);
	--text-border-color-disabled: var(--grey-300);
	--text-border-color-hover: var(--blue-500);
	--text-border-color-focus: var(--blue-500);
	--text-border-color-error: var(--red-500);
	--text-border-color-error-hover: var(--red-500);
	--text-border-color-error-focus: var(--red-500);

	--text-value-color-disabled: var(--grey-400);
	--text-value-color-error: var(--red-500);

	--text-background-color-disabled: var(--grey-200);
	--input-group--error-color: var(--red-500);

	--text-default-box-shadow: 0 0 0 var(--border-width) var(--text-border-color-default) inset;
	--text-disabled-box-shadow: 0 0 0 var(--border-width) var(--text-border-color-disabled) inset;
	--text-error-box-shadow: 0 0 0 var(--border-width) var(--text-border-color-error) inset;

	--text-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--text-border-color-focus) inset,
		0 0 0 calc(1 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(3 * var(--border-width)) var(--text-border-color-focus);
	--text-hover-box-shadow: 0 0 0 calc(2 * var(--border-width)) var(--text-border-color-hover) inset;
	--text-error-hover-box-shadow: 0 0 0 calc(2 * var(--border-width)) var(--text-border-color-error-hover) inset;
	--text-error-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--text-border-color-error-focus) inset,
		0 0 0 calc(1 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(3 * var(--border-width)) var(--text-border-color-error-focus);

	--checkbox-radio-hover-color: var(--blue-500);
	--checkbox-radio-active-color: var(--blue-150);
	--checkbox-radio-border-color: var(--grey-500);
	--checkbox-radio-checked-background-color: var(--blue-500);
	--checkbox-radio-focus-border-color: var(--blue-500);
	--checkbox-radio-focus-hover-background-color: var(--off-white);

	--checkbox-radio-hover-box-shadow: 0 0 0 calc(1 * var(--border-width)) var(--checkbox-radio-hover-color) inset;
	--checkbox-radio-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(4 * var(--border-width)) var(--checkbox-radio-focus-border-color),
		0 0 0 calc(1 * var(--border-width)) var(--checkbox-radio-focus-border-color) inset;

	--checkbox-checked-hover-box-shadow: 0 0 0 var(--border-width) var(--checkbox-radio-focus-border-color);
	--radio-checked-box-shadow:
		0 0 0 var(--border-width) var(--checkbox-radio-focus-border-color) inset,
		0 0 0 calc(3 * var(--border-width)) var(--parent-background-color) inset;
	--radio-checked-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(4 * var(--border-width)) var(--checkbox-radio-focus-border-color),
		0 0 0 var(--border-width) var(--checkbox-radio-focus-border-color) inset,
		0 0 0 calc(3 * var(--border-width)) var(--parent-background-color) inset;
	--radio-checked-hover-box-shadow:
		0 0 0 calc(1 * var(--border-width)) var(--checkbox-radio-hover-color) inset,
		0 0 0 calc(3 * var(--border-width)) var(--parent-background-color) inset;
}

.form--inverse {
	--text-border-color-default: var(--grey-500);
	--text-border-color-disabled: var(--grey-500);
	--text-border-color-hover: var(--blue-300);
	--text-border-color-focus: var(--blue-500);
	--text-border-color-error: var(--red-300);
	--text-border-color-error-hover: var(--red-300);
	--text-border-color-error-focus: var(--red-300);

	--text-value-color-disabled: var(--grey-500);
	--text-value-color-error: var(--red-500);

	--text-background-color-disabled: var(--grey-200);
	--input-group--error-color: var(--red-200);

	--text-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--off-white) inset,
		0 0 0 calc(4 * var(--border-width)) var(--text-border-color-focus) inset;

	--text-error-focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--off-white) inset,
		0 0 0 calc(4 * var(--border-width)) var(--text-border-color-error-hover) inset;

	--checkbox-radio-hover-color: var(--blue-300);
	--checkbox-radio-active-color: var(--blue-400);
	--checkbox-radio-border-color: var(--off-white);
	--checkbox-radio-checked-background-color: var(--off-white);
	--checkbox-radio-focus-border-color: var(--blue-300);
	--checkbox-radio-focus-hover-background-color: default;
}

.input-group {
	display: block;
	list-style: none;
	position: relative;
	width: auto;
}

.input-group + .input-group {
	margin-top: rem(45);
}

.input-group > * + * {
	margin-top: rem(12);
}

label + input,
label + textarea,
.input-group__error,
* + .helptext {
	margin-top: rem(12);
}

input + label,
textarea + label,
.helptext + label {
	margin-top: rem(60);
}

@import "inputs/label",
	"inputs/input",
	"inputs/textarea",
	"inputs/select",
	"inputs/checkbox",
	"inputs/radio",
	"inputs/submit";

.input-group__description,
.helptext {
	display: block;
	font-size: rem(14);
	font-style: italic;
	line-height: (24 / 14);
}

.input-group__error {
	color: var(--input-group--error-color);
	display: flex;

	flex-direction: row;
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	line-height: (20 / 14);

	svg {
		margin-right: rem(4);
	}
}
