a:not([class]) {
	color: $blue-500;
	display: inline-block;
	font-family: $font-family-sans;
	font-weight: $font-weight-semibold;
	line-height: 1;
	padding-top: rem(4);
	text-decoration: underline;
	text-decoration-color: $blue-400;
	text-decoration-thickness: rem(1);
	text-underline-offset: rem(3);

	@supports (mask: url("../images/add.svg")) {
		&::after {
			background: $blue-500;
			content: "";
			display: inline-block;
			height: 1em;
			margin-bottom: rem(-3);
			margin-left: rem(2);
			mask: url("../images/chevron-e.svg") no-repeat center;
			text-decoration: underline;
			width: 0.6em;
		}
	}

	&:visited {
		color: $green-400;
		text-decoration-color: $green-400;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $green-400;
			}
		}
	}

	&:hover {
		text-decoration-color: $blue-300;
		text-decoration-thickness: rem(2);
	}

	&:active {
		color: $blue-400;
		text-decoration-color: $blue-400;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $blue-400;
			}
		}
	}

	&:focus {
		background: $blue-500;
		color: $white;
		outline: none;
		text-decoration: none;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $white;
			}
		}
	}

	@supports (mask: url("../images/add.svg")) {
		&[rel="external"] {
			&::after {
				mask-image: url("../images/arrow-ne.svg");
				width: 1em;
			}
		}

		&[href^="#"] {
			&::after {
				mask-image: url("../images/arrow-s.svg");
				width: 1em;
			}
		}
	}
}

a:empty::after {
	display: none;
}
