%link {
	color: $blue-500;
	display: inline-block;
	font-family: $font-family-sans;
	font-weight: $font-weight-semibold;
	line-height: 1;
	text-decoration: underline;
	text-decoration-color: $blue-400;
	text-decoration-thickness: rem(1);
	text-underline-offset: rem(3);

	h1 &,
	h2 &,
	h3 &,
	h4 & {
		text-decoration: none;
	}

	@supports (mask: url("../images/add.svg")) {
		&::after {
			background: $blue-500;
			content: "";
			display: inline-block;
			height: 1.25em;
			margin-bottom: -0.3125em;
			margin-left: 0;
			mask: url("../images/chevron-right.svg") no-repeat center;
			mask-position: left;
			mask-size: 1.25em;
			position: relative;
			text-decoration: underline;
			width: 1em;
		}
	}

	&:visited {
		color: $green-400;
		text-decoration-color: $green-400;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $green-400;
			}
		}
	}

	&:hover {
		text-decoration-color: $blue-300;
		text-decoration-thickness: rem(2);
	}

	&:active {
		color: $blue-400;
		text-decoration-color: $blue-400;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $blue-400;
			}
		}
	}

	&:focus {
		background: $blue-500;
		color: $white;
		outline: none;
		text-decoration: none;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $white;
			}
		}
	}

	&:active:focus {
		background: unset;
		color: $blue-400;
		text-decoration: underline;
		text-decoration-color: $blue-400;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $blue-400;
			}
		}
	}

	@supports (mask: url("../images/add.svg")) {
		&[rel="external"] {
			&::after {
				mask-image: url("../images/external.svg");
				width: 1.25em;
			}
		}

		&[href^="#"] {
			&::after {
				mask-image: url("../images/scroll-down.svg");
				width: 1.25em;
			}
		}
	}

	&:empty::after {
		display: none;
	}
}

a:not([class]) {
	@extend %link;
}

a.link--inverse,
.has-blue-400-background-color a:not([class]) {
	@extend %link;

	color: $off-white;
	text-decoration-color: $off-white;

	@supports (mask: url("../images/add.svg")) {
		&::after {
			background: $off-white;
		}
	}

	&:visited {
		color: $blue-200;
		text-decoration-color: $blue-200;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $blue-200;
			}
		}
	}

	&:active {
		color: $green-200;
		text-decoration-color: $green-200;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $green-200;
			}
		}
	}

	&:focus {
		background: $blue-200;
		color: $black;
		outline: none;
		text-decoration: none;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $black;
			}
		}
	}

	&:active:focus {
		background: unset;
		color: $green-200;
		text-decoration: underline;
		text-decoration-color: $green-200;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				background: $green-200;
			}
		}
	}
}

.link--breadcrumb {
	@extend %link;

	font-size: rem(14);
	margin-left: rem(-8);
	padding: rem(6) rem(8);

	&:not(:hover) {
		text-decoration: none;
	}
}
