.link-list {
	list-style: none;
	padding-left: 0;

	&__item {
		margin-top: 0;
	}

	a {
		--color: var(--dark-mint-500);
		--border-width: #{rem(1)};
		--active-color: var(--blue-400);
		--visited-color: var(--blue-700);
		--focus-box-shadow:
			0 0 0 calc(2 * var(--border-width)) var(--outline-color),
			0 0 0 calc(4 * var(--border-width)) var(--focus-background-color);

		border: 0;
		border-bottom: solid var(--border-width) var(--color);
		display: block;
		font-weight: $font-weight-normal;
		height: rem(54);
		line-height: normal;
		padding-bottom: rem(8);
		padding-top: rem(16);
		text-decoration: none;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				float: right;
				margin-top: rem(2);
			}
		}
	}

	&--inverse a {
		--color: var(--off-white);
		--hover-color: var(--color);
		--active-color: var(--blue-200);
		--focus-background-color: var(--blue-200);
		--focus-color: var(--dark-mint-500);
		--outline-color: var(--focus-color);
		--visited-color: var(--blue-50);
	}

	a:visited {
		border-bottom-color: var(--visited-color);
	}

	a:hover {
		border-bottom: solid rem(3) var(--blue-300);
	}

	a:active {
		border-bottom-color: var(--active-color);
		text-decoration: none;
	}

	a:focus {
		border-bottom: 0;
		margin-left: rem(-16);
		margin-right: rem(-16);
		padding-left: rem(16);
		padding-right: rem(16);
	}

	a:active:focus {
		border-bottom: solid rem(1) var(--active-color);
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		text-decoration: none;
	}
}
