$pinecone-images-path: "../../images";

a:not([class]) {
	color: var(--blue-500);
	display: inline-block;
	font-family: var(--font-family-sans);
	font-weight: $font-weight-semibold;
	line-height: 1;
	padding-top: rem(4);
	text-decoration: underline;
	text-decoration-color: var(--blue-500);
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;

	@supports (mask: url("#{$pinecone-images-path}/add.svg")) {
		&::after {
			background: var(--blue-500);
			content: "";
			display: inline-block;
			height: 1em;
			margin-bottom: rem(-3);
			margin-left: rem(2);
			mask: url("#{$pinecone-images-path}/chevron-e.svg") no-repeat center;
			text-decoration: underline;
			width: 0.6em;
		}
	}

	&:visited {
		color: var(--green-400);
		text-decoration-color: var(--green-400);

		@supports (mask: url("#{$pinecone-images-path}/add.svg")) {
			&::after {
				background: var(--green-400);
			}
		}
	}

	&:hover {
		text-decoration-color: var(--blue-300);
		text-decoration-thickness: 2px;
	}

	&:active {
		color: var(--blue-400);
		text-decoration-color: var(--blue-400);

		@supports (mask: url("#{$pinecone-images-path}/add.svg")) {
			&::after {
				background: var(--blue-400);
			}
		}
	}

	&:focus {
		background: var(--blue-500);
		color: var(--white);
		outline: none;
		text-decoration: none;

		@supports (mask: url("#{$pinecone-images-path}/add.svg")) {
			&::after {
				background: var(--white);
			}
		}
	}

	@supports (mask: url("#{$pinecone-images-path}/add.svg")) {
		&[rel="external"] {
			&::after {
				mask-image: url("#{$pinecone-images-path}/arrow-ne.svg");
				width: 1em;
			}
		}

		&[href^="#"] {
			&::after {
				mask-image: url("#{$pinecone-images-path}/arrow-s.svg");
				width: 1em;
			}
		}
	}
}

a:empty::after {
	display: none;
}
