.link-list {
	list-style: none;
	padding-left: 0;

	&__item {
		margin-top: 0;
	}

	a {
		--color: #{$black};
		--active-color: #{$blue-400};
		--visited-color: #{$blue-700};
		--focus-box-shadow:
			0 0 0 var(--border-width) var(--focus-background-color) inset,
			0 0 0 calc(2 * var(--border-width)) var(--outline-color) inset;

		border: 0;
		border-bottom: solid rem(1) var(--color);
		display: block;
		font-weight: $font-weight-normal;
		height: rem(54);
		line-height: normal;
		padding-bottom: rem(8);
		padding-top: rem(16);
		text-decoration: none;

		@supports (mask: url("../images/add.svg")) {
			&::after {
				float: right;
				margin-top: rem(2);
			}
		}
	}

	&--inverse a {
		--color: #{$off-white};
		--hover-color: var(--color);
		--active-color: #{$blue-200};
		--focus-background-color: #{$blue-200};
		--focus-color: #{$black};
		--outline-color: var(--focus-color);
		--visited-color: #{$blue-50};
	}

	a:visited {
		border-bottom-color: var(--visited-color);
	}

	a:hover {
		border-bottom: solid rem(3) $blue-300;
	}

	a:active {
		border-bottom-color: var(--active-color);
		text-decoration: none;
	}

	a:focus {
		border-bottom: 0;
		margin-left: rem(-17);
		margin-right: rem(-17);
		padding-left: rem(17);
		padding-right: rem(17);
	}

	a:active:focus {
		border-bottom: solid rem(1) var(--active-color);
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		text-decoration: none;
	}
}

// .link-list--inverse .link-list__item a {
// border-bottom-color: $off-white;
// color: $off-white;

// @supports (mask: url("../images/add.svg")) {
// 	&::after {
// 		background-color: $off-white;
// 	}
// }

// &:visited,
// &.visited {
// 	border-bottom-color: $green-200;
// 	color: $green-200;

// 	@supports (mask: url("../images/add.svg")) {
// 		&::after {
// 			background-color: $green-200;
// 		}
// 	}
// }

// &:hover {
// 	border-bottom-color: $blue-300;
// }

// &:active {
// 	border-bottom-color: $blue-200;
// 	color: $blue-200;

// 	@supports (mask: url("../images/add.svg")) {
// 		&::after {
// 			background-color: $blue-200;
// 		}
// 	}
// }

// &:focus {
// 	background-color: $blue-200;
// 	border-bottom-color: $blue-200;
// 	color: $black;

// 	@supports (mask: url("../images/add.svg")) {
// 		&::after {
// 			background-color: $black;
// 		}
// 	}
// }
// }
