.menu-button {
	position: relative;
}

.menu-button__menu {
	&[x-placement^="bottom"] {
		margin-top: rem(20);
	}

	&[x-placement^="top"] {
		margin-bottom: rem(20);
	}

	&[x-placement^="left"] {
		margin-right: rem(20);
	}

	&[x-placement^="right"] {
		margin-left: rem(20);
	}
}

.menu-button__menu__arrow {
	display: block;
	height: rem(20);
	overflow: hidden;
	position: absolute;
	top: rem(-20);
	width: rem(40);

	&::after {
		background: $white;
		box-shadow: rem(2) rem(2) rem(6) rgba(0, 0, 0, 0.19);
		content: "";
		height: rem(20);
		left: 50%;
		position: absolute;
		top: rem(20);
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		width: rem(20);
	}
}

.menu-button__menu ul {
	background: $white;
	border-radius: rem(3);
	box-shadow: 0 rem(3) rem(10) rgba(0, 0, 0, 0.19);
	list-style: none;
	margin-top: 0;
	text-align: left;
}

.menu-button__menu li {
	margin: 0;
}

.menu-button__menu li + li {
	border-top: solid rem(1) $grey-400;
}

.menu-button__menu li:focus-within + li,
.menu-button__menu li + li:focus-within {
	border-top-color: $blue-500;
}

.menu-button__menu a {
	align-items: flex-start;
	color: $black;
	display: flex;
	flex-direction: row;
	font-family: $font-family-serif;
	font-weight: $font-weight-normal;
	justify-content: flex-start;
	padding: rem(10) rem(14);
	text-decoration: none;
	width: 100%;

	&::after {
		display: none;
	}

	&[aria-current]::after {
		background-color: transparent;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23203131" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
		background-position: center;
		background-repeat: no-repeat;
		content: "";
		display: inline-block;
		height: 1em;
		margin-left: rem(6);
		width: 1em;

		@supports (mask: url("../images/add.svg")) {
			mask-image: none;
		}
	}

	&[aria-current]:focus::after {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23fff" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}
}

.menu-button [aria-expanded="true"] + .menu-button__menu {
	display: block;
}
