[role="banner"] .nav {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: rem(80);
	margin: 0 0 0 rem(16);
	position: relative;
}

.menu-toggle {
	margin-right: rem(16);
	position: relative;
	transition: margin-right 0s;
	z-index: 3;
}

.menu {
	background: var(--dark-mint-400);
	display: block;
	list-style: none;
	margin: 0;
	padding-left: 0;
	padding-top: rem(80);
	position: absolute;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: 2;

	li {
		border-top: solid rem(1) var(--dark-mint-500);
		margin: 0;
	}
}

.menu button svg {
	transition: transform 0.3s;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

[aria-expanded="false"] .icon--close {
	display: none;
}

[aria-expanded="false"] + * {
	display: none;
}

[aria-expanded="true"] .icon--open {
	display: none;
}

[aria-expanded="true"] .menu-toggle__label {
	@include visually-hidden();
}

.menu-toggle[aria-expanded="true"] {
	--color: var(--off-white);
	--outline-color: var(--off-white);
	--hover-background-color: var(--blue-600);
	--hover-color: var(--blue-50);
	--active-background-color: var(--blue-600);
	--active-color: var(--blue-200);
	--focus-color: var(--off-white);
	--focus-background-color: transparent;
	--focus-box-shadow: 0 0 0 var(--border-width) var(--outline-color), 0 0 0 calc(2 * var(--border-width)) var(--dark-mint-500), 0 0 0 calc(3 * var(--border-width)) var(--outline-color);

	margin-right: rem(10);

	* + svg {
		margin-left: 0;
	}

	svg + * {
		margin-right: 0;
	}
}

.menu__item {
	@extend %interactive;

	--background-color: var(--dark-mint-500);
	--outline-color: var(--dark-mint-500);
	--color: var(--off-white);
	--hover-color: var(--dark-mint-500);
	--hover-background-color: var(--white);
	--active-color: var(--hover-color);
	--active-background-color: var(--hover-background-color);
	--focus-color: var(--hover-color);
	--focus-background-color: var(--hover-background-color);
	--focus-box-shadow: 0 0 0 #{rem(3)} var(--outline-color) inset;

	align-items: center;
	border-left: 0;
	border-left: solid rem(3) transparent;
	border-radius: 0;
	display: flex;
	flex-direction: row;
	font-family: $font-family-sans;
	font-size: 1rem;
	font-weight: $font-weight-bold;
	justify-content: space-between;
	line-height: 1.75;
	margin: 0;
	max-width: 100%;
	padding: rem(16) rem(16) rem(14);
	position: relative;
	text-align: left;
	text-decoration: none;
	width: 100%;

	&:hover,
	&:active {
		border-left-color: transparent;
	}

	&:focus {
		border: solid rem(3) transparent;
		padding: rem(13) rem(13) rem(11) rem(16);
	}

	&[aria-current="page"] {
		--background-color: var(--dark-mint-500);
		--hover-background-color: var(--white);

		border-left-color: var(--red-400);

		&:hover,
		&:focus {
			border-left-color: transparent;
		}
	}

	&[aria-expanded="true"] svg {
		transform: rotate(180deg);
	}

	&[aria-expanded="true"] svg.icon--language {
		transform: none;
	}
}

a.menu__item:hover,
a.menu__item:focus,
a.menu__item:active {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-underline-offset: rem(2);
}

.menu-item--languages .menu__label {
	display: block;
}

.menu-item--languages .icon--language {
	display: none;
}

.menu-item--languages [aria-current] {
	display: block;
}

.menu-item--languages [aria-current]::before {
	background-color: transparent;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23fff" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 1em;
	margin-right: rem(6);
	width: 1em;
}

.menu-item--languages [aria-current]:hover::before,
.menu-item--languages [aria-current]:focus::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23203131" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
}

.menu-item--languages [aria-current]:active::before,
.menu-item--languages [aria-current]:active:focus::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%231d7c79" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
}

.menu__submenu {
	border-top: solid rem(1) var(--dark-mint-500);
	list-style: none;
	margin-top: 0;

	li:first-child {
		border-top: 0;
	}
}

.menu__submenu .menu__item {
	font-weight: $font-weight-normal;
	padding-left: rem(40);
}

.menu__submenu-wrapper.current_page_item > .menu__item,
.menu__submenu-wrapper.current_page_ancestor > .menu__item,
.menu__submenu-wrapper.current-menu-ancestor > .menu__item {
	--background-color: var(--dark-mint-500);
	--hover-background-color: var(--white);

	border-left-color: var(--red-400);

	&:hover,
	&:focus {
		border-left-color: transparent;
	}
}

@include breakpoint-up(md) {
	[role="banner"] .nav {
		height: rem(80);
		margin-left: auto;
	}

	.menu-toggle {
		display: none;
	}

	.menu {
		align-items: flex-end;
		background-color: var(--white);
		display: flex;
		flex-direction: row;
		float: right;
		height: rem(80);
		padding-top: 0;
		position: relative;
		width: auto;

		li {
			border-top: 0;
		}
	}

	[aria-expanded="false"] + .menu {
		display: flex;
	}

	.menu__item {
		--background-color: transparent;
		--border-width: #{rem(2)};
		--outline-color: var(--off-white);
		--hover-color: var(--off-white);
		--hover-background-color: var(--blue-500);
		--color: var(--blue-500);
		--active-color: var(--off-white);
		--active-background-color: var(--blue-500);
		--focus-background-color: var(--blue-500);
		--focus-color: var(--off-white);
		--focus-box-shadow:
			0 0 0 var(--border-width) var(--focus-background-color) inset,
			0 0 0 calc(var(--border-width) * 2) var(--outline-color) inset;
		--active-box-shadow: var(--focus-box-shadow);

		align-items: center;
		border: 0;
		display: flex;
		flex-direction: row;
		font-size: 1rem;
		font-weight: $font-weight-normal;
		height: rem(80);
		justify-content: center;
		margin: 0;
		padding: 0 rem(16);

		&::after {
			background-color: transparent;
			bottom: 0;
			content: "";
			height: rem(3);
			left: 0;
			margin-left: 1rem;
			position: absolute;
			width: calc(100% - 2rem);
		}

		&:focus,
		&:active {
			border: 0;
			border-left: 0;
			box-shadow: var(--focus-box-shadow);
			padding: 0 rem(16);

			&::after {
				background-color: transparent;
			}
		}

		svg {
			margin-bottom: 0;
			margin-left: rem(4);
		}

		&[aria-current="page"] {
			--color: var(--dark-mint-500);
			--background-color: transparent;
			--hover-color: var(--off-white);
			--hover-background-color: var(--blue-500);
			--focus-background-color: var(--blue-500);
			--focus-color: var(--off-white);

			&::after {
				background-color: var(--red-400);
			}

			&:hover {
				&::after {
					background-color: transparent;
				}
			}

			&:focus {
				border-left-color: transparent;

				&::after {
					background-color: transparent;
				}
			}
		}
	}

	.menu-item--languages .menu__label {
		@include visually-hidden();
	}

	.menu-item--languages .icon--language {
		display: block;
		margin-left: 0;
	}

	.menu-item--languages [aria-current]::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%2316605d" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu-item--languages [aria-current]:hover::before,
	.menu-item--languages [aria-current]:focus::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu-item--languages [aria-current]:active::before,
	.menu-item--languages [aria-current]:active:focus::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu__submenu {
		border: solid 1px var(--white);
		border-bottom-left-radius: rem(3);
		border-bottom-right-radius: rem(3);
		box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
		min-width: rem(250);
		position: absolute;

		.menu__item {
			--background-color: var(--white);

			display: flex;
			height: rem(50);
			justify-content: flex-start;
			padding-left: rem(16);

			&::after {
				display: none;
			}

			&[aria-current="page"] {
				--hover-color: var(--off-white);
				--hover-background-color: var(--blue-500);

				border-left: solid rem(3) var(--red-400);
				padding-left: rem(13);

				&:focus,
				&:hover,
				&:active {
					border-left: 0;
					padding-left: rem(16);
				}
			}
		}
	}

	.menu__submenu-wrapper.current_page_item > .menu__item,
	.menu__submenu-wrapper.current_page_ancestor > .menu__item,
	.menu__submenu-wrapper.current-menu-ancestor > .menu__item {
		--background-color: transparent;
		--hover-color: var(--off-white);
		--hover-background-color: var(--blue-500);
		--color: var(--dark-mint-500);
		--active-color: var(--off-white);
		--active-background-color: var(--blue-500);
		--focus-background-color: var(--blue-500);
		--focus-color: var(--off-white);

		&::after {
			background-color: var(--red-400);
		}

		&:hover,
		&:active,
		&:focus {
			&::after {
				background-color: transparent;
			}
		}
	}
}
