nav {
	height: rem(70);
}

.menu-toggle {
	align-items: center;
	background: transparent;
	border: solid rem(3) transparent;
	border-radius: 0;
	color: $blue-500;
	display: flex;
	flex-direction: row;
	font-family: $font-family-display;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	height: rem(40);
	margin: rem(16) rem(30) rem(14) 0;
	padding: 0 rem(10);
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;

	svg {
		font-size: 1rem;
		height: 1.25em;
		margin-bottom: 0;
		margin-right: rem(12);
		width: 1.25em;
	}

	&:focus {
		border-color: $blue-400;
		color: $blue-400;
	}

	&[aria-expanded="true"] {
		color: $white;
		margin-right: rem(6);
		padding: 0 rem(7.5);


		svg {
			margin-right: 0;
		}
	}
}

.menu {
	background: $dark-mint-400;
	display: block;
	left: 0;
	list-style: none;
	margin: 0;
	padding-left: 0;
	padding-top: rem(70);
	position: absolute;
	width: 100vw;
	z-index: 1;

	li {
		border-top: solid rem(1) $dark-mint-500;
		margin: 0;
	}
}

[aria-expanded="false"] .icon--close {
	display: none;
}

[aria-expanded="false"] + * {
	display: none;
}

[aria-expanded="true"] .icon--open {
	display: none;
}

[aria-expanded="true"] .menu-toggle__label {
	@include visually-hidden();
}

.menu__item {
	align-items: center;
	background: $dark-mint-400;
	border-bottom: 0;
	border-left: solid rem(3) transparent;
	border-radius: 0;
	border-right: 0;
	border-top: 0;
	color: $off-white;
	display: flex;
	flex-direction: row;
	font-family: $font-family-sans;
	font-size: 1rem;
	font-weight: $font-weight-bold;
	justify-content: space-between;
	line-height: 1.75;
	margin: 0;
	max-width: 100%;
	padding: rem(16) rem(16) rem(14);
	position: relative;
	text-align: left;
	text-decoration: none;
	width: 100%;

	/* stylelint-disable no-descending-specificity */
	svg { /* stylelint-enable */
		transition: transform 0.5s;

		@media (prefers-reduced-motion: reduce) {
			transition: none;
		}

	}

	&:hover,
	&:active {
		background-color: $white;
		border-left-color: transparent;
		color: $black;
	}

	&:focus {
		background-color: $white;
		border: solid rem(3) transparent;
		box-shadow: 0 0 0 rem(3) $black inset;
		color: $black;
		outline: 0;
		padding: rem(13) rem(13) rem(11) rem(16);
	}

	&[aria-current="page"] {
		background-color: $black;
		border-left-color: $red-400;

		&:hover {
			background-color: $white;
			border-left-color: transparent;
		}

		&:focus {
			background-color: $white;
			border-left-color: transparent;
		}
	}

	&[aria-expanded="true"] svg {
		transform: rotate(180deg);
	}

	&[aria-expanded="true"] svg.icon--language {
		transform: none;
	}
}

.menu-item--languages .menu__label {
	display: block;
}

.menu-item--languages .icon--language {
	display: none;
}

.menu-item--languages [aria-current] {
	display: block;
}

.menu-item--languages [aria-current]::before {
	background-color: transparent;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23fff" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 1em;
	margin-right: rem(6);
	width: 1em;
}

.menu-item--languages [aria-current]:hover::before,
.menu-item--languages [aria-current]:focus::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23203131" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
}

.menu-item--languages [aria-current]:active::before,
.menu-item--languages [aria-current]:active:focus::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%231d7c79" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
}

.menu__submenu {
	border-top: solid rem(1) $dark-mint-500;
	list-style: none;
	margin-top: 0;

	li:first-child {
		border-top: 0;
	}
}

.menu__submenu .menu__item {
	font-weight: $font-weight-normal;
	padding-left: rem(40);
}

.menu__submenu-wrapper.current_page_item > .menu__item,
.menu__submenu-wrapper.current_page_ancestor > .menu__item,
.menu__submenu-wrapper.current-menu-ancestor > .menu__item {
	background-color: $black;
	border-left-color: $red-400;

	&:hover {
		background-color: $white;
		border-left-color: transparent;
	}

	&:focus {
		background-color: $white;
		border-left-color: transparent;
	}
}

@include breakpoint-up(md) {
	nav {
		height: rem(80);
	}

	.menu-toggle {
		display: none;
	}

	.menu {
		align-items: flex-end;
		background: $white;
		display: flex;
		flex-direction: row;
		float: right;
		height: rem(80);
		padding-top: 0;
		position: relative;
		width: auto;

		li {
			border-top: 0;
		}
	}

	[aria-expanded="false"] + .menu {
		display: flex;
	}

	.menu__item {
		background: transparent;
		color: $blue-500;
		font-size: 1rem;
		font-weight: $font-weight-normal;
		min-height: 0;
		padding: rem(26) rem(16);

		&::after {
			background: transparent;
			bottom: 0;
			content: "";
			height: rem(3);
			left: 0;
			margin-left: 1rem;
			position: absolute;
			width: calc(100% - 2rem);
		}

		&:hover {
			background: transparent;
			border-left-color: transparent;

			&::after {
				background: $blue-500;
			}
		}

		&:focus {
			background-color: $blue-500;
			border-bottom-width: 0;
			border-left-color: transparent;
			border-right-width: 0;
			border-top-width: 0;
			box-shadow: none;
			color: $off-white;
			outline: 0;
			padding: rem(26) rem(16);
		}

		svg {
			margin-bottom: 0;
			margin-left: rem(12);
		}

		&[aria-current="page"] {
			background: transparent;
			border-left-color: transparent;
			color: $dark-mint-500;

			&::after {
				background-color: $red-400;
			}

			&:hover {
				background: $white;
				border-left-color: transparent;

				&::after {
					background-color: $blue-500;
				}
			}

			&:focus {
				background-color: $blue-500;
				border-left-color: transparent;
				color: $off-white;

				&::after {
					background-color: $blue-500;
				}
			}
		}
	}

	.menu-item--languages .menu__label {
		display: none;
	}

	.menu-item--languages .icon--language {
		display: block;
		margin-left: 0;
	}

	.menu-item--languages [aria-current]::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%2316605d" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu-item--languages [aria-current]:hover::before,
	.menu-item--languages [aria-current]:focus::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu-item--languages [aria-current]:active::before,
	.menu-item--languages [aria-current]:active:focus::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu__submenu {
		border:
			1px solid
			$white;
		border-bottom-left-radius: rem(3);
		border-bottom-right-radius: rem(3);
		box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
		position: absolute;

		.menu__item {
			background-color: $white;
			padding: rem(17) rem(16);

			&::after {
				display: none;
			}

			&:focus {
				background-color: $blue-500;
				border-width: rem(3);
				box-shadow: 0 0 0 rem(3) $white inset;
				padding: rem(14) rem(13) rem(14) rem(16);
			}

			&:hover {
				background-color: $blue-500;
				color: $off-white;
			}

			&[aria-current="page"] {
				border-left: solid rem(3) $red-400;

				&:focus {
					background-color: $blue-500;
					border-left-color: transparent;
					color: $off-white;
				}

				&:hover {
					background-color: $blue-500;
					border-left-color: transparent;
					color: $off-white;
				}
			}
		}
	}

	.menu__submenu-wrapper.current_page_item > .menu__item,
	.menu__submenu-wrapper.current_page_ancestor > .menu__item,
	.menu__submenu-wrapper.current-menu-ancestor > .menu__item {
		background: transparent;
		border-left-color: transparent;
		color: $dark-mint-500;

		&::after {
			background-color: $red-400;
		}

		&:hover {
			background: $white;
			border-left-color: transparent;

			&::after {
				background-color: $blue-500;
			}
		}

		&:focus {
			background-color: $blue-500;
			border-left-color: transparent;
			color: $off-white;

			&::after {
				background-color: $blue-500;
			}
		}
	}
}
