.home .menu-toggle {
	@extend .button--inverse;
}

@include breakpoint-up(md) {
	.home .menu {
		--parent-background-color: var(--blue-500);

		background-color: var(--blue-500);
	}

	.home .menu .menu__item {
		--color: var(--off-white);
		--outline-color: var(--blue-500);
		--hover-color: var(--blue-500);
		--hover-background-color: var(--off-white);
		--active-color: var(--blue-500);
		--active-background-color: var(--off-white);
		--focus-color: var(--blue-500);
		--focus-background-color: var(--off-white);

		&[aria-current="page"] {
			&:hover,
			&:focus {
				&::after {
					background: transparent;
				}
			}
		}
	}

	.home .menu .menu-item--languages [aria-current]::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.home .menu .menu-item--languages [aria-current]:hover::before,
	.home .menu .menu-item--languages [aria-current]:focus::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%2316605d" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.home .menu .menu-item--languages [aria-current]:active::before,
	.home .menu .menu-item--languages [aria-current]:active:focus::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%2316605d" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.home .menu .menu__submenu {
		.menu__item {
			--background-color: transparent;
			--border-width: #{rem(2)};
			--outline-color: var(--off-white);
			--hover-color: var(--off-white);
			--hover-background-color: var(--blue-500);
			--color: var(--blue-500);
			--active-color: var(--off-white);
			--active-background-color: var(--blue-500);
			--focus-background-color: var(--blue-500);
			--focus-color: var(--off-white);
			--focus-box-shadow:
				0 0 0 var(--border-width) var(--focus-background-color) inset,
				0 0 0 calc(var(--border-width) * 2) var(--outline-color) inset;
		}
	}
}
