.home .menu-toggle {
	color: $off-white;

	&:focus {
		border-color: $off-white;
	}
}

@include breakpoint-up(md) {
	.menu--home {
		background-color: $blue-500;
	}

	.menu--home .menu__item {
		color: $off-white;

		&:hover {
			&::after {
				background: $off-white;
			}
		}

		&:focus {
			background-color: $off-white;
			color: $blue-500;
		}

		&[aria-current="page"] {
			color: $white;
		}
	}

	.menu--home .menu-item--languages [aria-current]::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu--home .menu-item--languages [aria-current]:hover::before,
	.menu--home .menu-item--languages [aria-current]:focus::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%2316605d" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu--home .menu-item--languages [aria-current]:active::before,
	.menu--home .menu-item--languages [aria-current]:active:focus::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%2316605d" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
	}

	.menu--home .menu__submenu {
		background: $blue-500;
		border-color: $blue-600;
		box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);

		.menu__item {
			background-color: $blue-500;
			padding-left: rem(16);

			&::after {
				display: none;
			}

			&:focus {
				background-color: $off-white;
				box-shadow: 0 0 0 rem(3) $blue-500 inset;
			}

			&:hover {
				background-color: $off-white;
				color: $blue-500;
			}

			&[aria-current="page"] {
				&:hover {
					background-color: $off-white;
					color: $blue-500;
				}

				&:focus {
					background-color: $off-white;
					border-left-color: transparent;
					color: $blue-500;
				}
			}
		}
	}

	.menu--home .menu__submenu-wrapper.current_page_item > .menu__item,
	.menu--home .menu__submenu-wrapper.current_page_ancestor > .menu__item,
	.menu--home .menu__submenu-wrapper.current-menu-ancestor > .menu__item {
		color: $white;

		&:hover {
			background: transparent;

			&::after {
				background-color: $white;
			}
		}

		&:focus {
			background-color: $off-white;
			color: $blue-500;

			&::after {
				background-color: transparent;
			}
		}
	}
}
