.notification {
	background-color: var(--white);
	border-left: solid rem(4) var(--blue-400);
	border-radius: rem(3);
	box-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.16);
	font-family: $font-family-serif;
	font-size: rem(16);
	padding: rem(28);
	position: relative;
	width: 100%;

	button {
		position: absolute;
		right: rem(12);
		top: rem(12);
	}

	.notification__title {
		color: var(--blue-400);
		font-weight: $font-weight-semibold;
		margin-top: 0;
	}

	.notification__content {
		margin-top: rem(12);
		padding-right: rem(32);
	}

	a {
		display: inline;
	}

	a::after {
		display: none;
	}
}

.notification--success {
	border-left-color: var(--green-300);

	.notification__title {
		color: var(--green-500);
	}
}

.notification--warning {
	border-left-color: var(--yellow-500);

	.notification__title {
		color: var(--black);
	}
}

.notification--error {
	border-left-color: var(--red-300);

	.notification__title {
		color: var(--red-500);
	}
}
