.pagination {
	height: auto;
	margin-top: rem(64);
	text-align: center;

	@include grid-column-span(8, 8);
}

.pagination .nav-links {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;
}

.pagination .page-numbers {
	align-items: center;
	border: solid rem(2) transparent;
	border-radius: 50%;
	color: var(--blue-500);
	display: inline-block;
	display: inline-flex;
	font-family: $font-family-sans;
	font-weight: $font-weight-normal;
	height: rem(40);
	height: rem(39.25);
	justify-content: center;
	margin: 0;
	padding: rem(6) 0;
	text-underline-offset: rem(8);
	width: rem(39.25);

	&:focus {
		background-color: var(--off-white);
		border-color: var(--blue-500);
		box-shadow: 0 0 0 rem(2) var(--white) inset, 0 0 0 rem(4) var(--blue-500) inset;
		font-weight: $font-weight-bold;
		outline: 0;
		text-decoration: none;
	}

	&:hover {
		font-weight: $font-weight-bold;
		text-decoration-color: var(--red-400);
		text-decoration-thickness: rem(2);
	}

	&:active {
		color: var(--blue-400);
		text-decoration-color: var(--blue-400);
	}

	&:visited {
		color: var(--green-400);
		text-decoration-color: var(--green-300);
	}

	&.current {
		background: var(--blue-500);
		color: var(--white);

		&:hover {
			font-weight: $font-weight-normal;
		}
	}

	&.dots {
		vertical-align: super;

		:hover {
			font-weight: $font-weight-normal;
		}
	}

	svg {
		height: rem(20);
		margin-bottom: 0;
		width: rem(20);
	}

	+ .page-numbers {
		margin-left: rem(3);
	}
}

.has-dark-mint-500-background-color {
	.pagination .page-numbers {
		color: var(--off-white);

		&:focus {
			background-color: var(--black);
			border-color: var(--off-white);
			box-shadow: 0 0 0 rem(2) var(--black) inset, 0 0 0 rem(4) var(--off-white) inset;
		}

		&:hover {
			text-decoration-color: var(--red-400);
		}

		&:active {
			color: var(--blue-200);
			text-decoration-color: var(--blue-200);
		}

		&:visited {
			color: var(--green-200);
			text-decoration-color: var(--green-300);
		}

		&.current {
			background: var(--off-white);
			color: var(--black);
		}
	}
}

@include breakpoint-up(lg) {
	.pagination {
		@include grid-margin-left(4, 12);
		@include grid-column-span(8, 12, 5);

		margin-top: rem(72);
	}
}

@include breakpoint-up(xl) {
	.pagination {
		@include grid-margin-left(4, 16);
		@include grid-column-span(12, 16, 5);

		margin-top: rem(80);
	}
}
