.pagination {
	height: auto;
	margin-top: rem(64);
	text-align: center;

	@include grid-column-span(8, 8);
}

.pagination .nav-links {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;

	> * + * {
		margin-left: rem(3);
	}
}

.link--pagination {
	--background-color: transparent;
	--color: var(--blue-500);
	--outline-color: var(--white);
	--focus-background-color: var(--off-white);
	--focus-color: var(--blue-500);
	--focus-box-shadow:
		0 0 0 #{rem(2)} var(--outline-color) inset,
		0 0 0 #{rem(4)} var(--focus-color) inset;

	align-items: center;
	border: solid var(--border-width) transparent;
	border-radius: 50%;
	display: inline-flex;
	font-family: $font-family-sans;
	font-weight: $font-weight-normal;
	height: rem(39.25);
	justify-content: center;
	margin: 0;
	padding: rem(6) 0;
	text-underline-offset: rem(8);
	width: rem(39.25);

	&::after {
		display: none;
	}

	&:focus {
		border-color: var(--focus-color);
		font-weight: $font-weight-bold;
		text-decoration: none;
	}

	&:hover {
		font-weight: $font-weight-bold;
		text-decoration-color: var(--red-400);
		text-decoration-thickness: rem(2);
	}

	&:active {
		color: var(--blue-400);
		text-decoration-color: var(--blue-400);
	}

	&:visited {
		color: var(--blue-700);
		text-decoration-color: var(--blue-700);
	}

	svg {
		margin-bottom: 0;
	}
}

.pagination .page {
	align-items: center;
	background-color: var(--background-color, transparent);
	border: solid var(--border-width) transparent;
	border-radius: 50%;
	color: var(--color, var(--dark-mint-500));
	display: inline-flex;
	font-family: $font-family-sans;
	font-weight: $font-weight-normal;
	height: rem(39.25);
	justify-content: center;
	padding: rem(6) 0;
	text-underline-offset: rem(8);
	width: rem(39.25);

	&.current {
		--background-color: var(--blue-500);
		--color: var(--white);
	}

	&.dots {
		vertical-align: super;
	}
}

.pagination--inverse {
	.link--pagination {
		--color: var(--off-white);
		--outline-color: var(--dark-mint-500);
		--active-color: var(--blue-200);
		--visited-color: var(--blue-50);
		--focus-background-color: var(--dark-mint-500);
		--focus-color: var(--off-white);

		&:focus {
			background-color: var(--dark-mint-500);
			border-color: var(--off-white);
		}

		&:hover {
			text-decoration-color: var(--red-400);
		}

	}

	.page {
		--color: var(--off-white);

		&.current {
			--background-color: var(--off-white);
			--color: var(--dark-mint-500);
		}
	}
}


@include breakpoint-up(lg) {
	.pagination {
		@include grid-margin-left(4, 12);
		@include grid-column-span(8, 12, 5);

		margin-top: rem(72);
	}
}

@include breakpoint-up(xl) {
	.pagination {
		@include grid-margin-left(4, 16);
		@include grid-column-span(12, 16, 5);

		margin-top: rem(80);
	}
}
