.search-form {
	display: flex;
	flex-direction: row;

	label {
		width: 100%;
	}

	[type="search"] {
		background-color: var(--blue-50);
		border-bottom-right-radius: 0;
		border-color: transparent;
		border-right-width: 0;
		border-top-right-radius: 0;
		font-family: $font-family-sans;
		height: rem(50);
		max-width: 100%;

		&:hover {
			border-color: var(--blue-500);
		}

		&:focus {
			box-shadow: 0 0 0 rem(1) var(--blue-500) inset;
		}
	}

	.button--search {
		--border-width: #{rem(2)};
		--outline-color: var(--white);
		--focus-box-shadow: 0 0 0 var(--border-width) var(--outline-color) inset;

		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		height: rem(50);
		margin-left: 0;
		position: relative;
		width: rem(50);
	}
}

.search-form.search-form--inverse {
	[type="search"] {
		background-color: var(--off-white);
		border-right-color: var(--grey-300);
		border-right-width: rem(1);

		&::placeholder {
			color: transparent;
		}

		&:hover {
			border-color: var(--blue-300);
		}

		&:focus {
			border-color: var(--blue-300);
			box-shadow: 0 0 0 rem(1) var(--blue-300) inset;
		}
	}

	.button--search {
		--color: var(--blue-500);
		--background-color: var(--blue-50);
		--border-color: var(--grey-300);
		--border-width: #{rem(1)};
		--outline-color: var(--blue-600);
		--hover-color: var(--blue-600);
		--hover-background-color: var(--background-color);
		--active-color: var(--blue-400);
		--active-background-color: var(--background-color);
		--focus-color: var(--blue-600);
		--focus-background-color: var(--background-color);
		--focus-border-color: var(--blue-50);
		--focus-box-shadow:
			0 0 0 var(--border-width) var(--focus-background-color) inset,
			0 0 0 calc(3 * var(--border-width)) var(--outline-color) inset;

		border: 0;
		border-bottom: solid rem(1) var(--border-color);
		border-right: solid rem(1) var(--border-color);
		border-top: solid rem(1) var(--border-color);

		&:focus {
			border-color: var(--focus-border-color);

			&::before {
				border-bottom: solid rem(2) var(--focus-border-color);
				border-left: solid rem(3) var(--focus-border-color);
				border-top: solid rem(2) var(--focus-border-color);
				content: "";
				display: block;
				height: rem(46);
				left: rem(-2);
				position: absolute;
				top: rem(-1);
				width: rem(3);
			}
		}
	}
}

.home__search .search-form.search-form--inverse {
	[type="search"],
	.button--search {
		box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
	}

	[type="search"]:focus {
		box-shadow: 0 0 0 rem(1) var(--blue-300) inset, 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
	}

	.button--search {
		--focus-box-shadow:
			0 0 0 var(--border-width) var(--focus-background-color) inset,
			0 0 0 calc(var(--border-width) * 3) var(--outline-color) inset,
			0 calc(var(--border-width) * 3) calc(var(--border-width) * 6) rgba(0, 0, 0, 0.16);

		&:focus {
			box-shadow: var(--focus-box-shadow);
		}
	}

	@include breakpoint-up(sm) {
		[type="search"] {
			height: rem(60);

			&:focus {
				box-shadow: 0 0 0 rem(2) var(--blue-300) inset, 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
			}

			&::placeholder {
				color: var(--grey-500);
				opacity: 1;
			}
		}

		.button--search {
			height: rem(60);
			width: rem(60);

			&::before {
				height: rem(56);
			}
		}
	}

	@include breakpoint-up(lg) {
		[type="search"] {
			height: rem(70);
		}

		[type="submit"] {
			height: rem(70);
			width: rem(70);

			&::before {
				height: rem(66);
			}
		}
	}
}
