.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin-left: rem(-6);
	margin-right: rem(-6);
}

.tag {
	display: block;
	margin-left: rem(6);
	margin-right: rem(6);
	margin-top: rem(12);
}

.tag__link {
	@extend %interactive;

	--background-color: var(--blue-50);
	--border-width: #{rem(1)};
	--color: var(--blue-600);
	--outline-color: var(--white);
	--hover-background-color: var(--grey-200);
	--hover-color: var(--blue-500);
	--active-background-color: var(--blue-50);
	--active-color: var(--blue-500);
	--focus-background-color: var(--grey-200);
	--focus-border-color: var(--blue-500);
	--focus-box-shadow:
		0 0 0 var(--border-width) var(--blue-500) inset,
		0 0 0 calc(2 * var(--border-width)) var(--outline-color),
		0 0 0 calc(4 * var(--border-width)) var(--blue-500);
	--focus-color: var(--blue-500);

	border-radius: rem(15);
	display: block;
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: $font-weight-semibold;
	min-height: rem(30);
	padding: rem(3) rem(8);
	text-align: left;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-underline-offset: rem(2);
	width: auto;

	&:visited {
		color: var(--blue-700);
	}

	&:active {
		border-color: var(--blue-400);
	}
}
