<svg
	class="icon icon--{{ class if class else svg }}"
	{% for attribute, value in attributes %}
	{{ attribute | replace('ariaHidden', 'aria-hidden') }}="{{ value }}"
	{% endfor %}>
	<use href="/images/{{ svg }}.svg#{{ svg }}"/>
</svg>
