{% if not standAlone %}<div class="spacer"></div>{% endif %}
{% render '@button--borderless', {label: 'Remove favorite', id: 'invoke-dialog', icon: 'delete', iconPosition: 'start', standAlone: true}, true %}
