{% if not standAlone %}<div class="spacer"></div>{% endif %}
{% render '@button', {label: 'Remove favorite', icon: 'delete', iconPosition: 'start', standAlone: true, modifiers: ['invoke-dialog']}, true %}
