<ul class="input-group{% if inverse %} input-group--inverse{% endif %}{% if select.modifiers %}{% for modifier in select.modifiers %} input-group--{{ modifier }}{% endfor %}{% endif %}">
	{% for checkbox in checkboxes %}
	<li>{% render '@checkbox', checkbox, true %}</li>
	{% endfor %}
</ul>
