<h1>{{ cardsTitle }}</h1>
<ul class="cards">
	{% for key, card in cards %}
	<li class="card card--{{ card.type }} ">
		{% if card.image %}
		<figure class="card__image">
			<img src="{{ card.image }}" alt="Image for this {{ card.type }}." />
		</figure>
		{% endif %}
		<header>
			{% if card.format %}
			<span class="card__format">{{ card.format }}</span>
			{% endif %}
			{% if card.link %}
			<h2 id="{{ card.type }}-{{ card.id }}" class="card__title" ><a {% if card.externalLink %}rel="external" {% endif %}href="{{ card.link }}">{{ card.title | safe }}</a></h2>
			{% endif %}
		</header>
		{% if card.date %}
		<p class="card__date">
			{% if key === 'event' %}
			<svg aria-hidden="true" class="icon icon--calendar"><use xlink:href="/images/calendar.svg"/></svg>{{ card.date }}
			{% else %}
			{{ card.date }}
			{% endif %}
		</p>
		{% endif %}
		{% if card.byline %}
			<p class="card__byline">
				By {{ card.byline | safe }}
			</p>
		{% endif %}
		{% if card.description %}
			<p class="card__description">
				{{ card.description }}
			</p>
		{% endif %}
		{% if card.locality %}
		<p class="card__locality"><svg aria-hidden="true" class="icon icon--location"><use xlink:href="/images/location.svg"/></svg> {{ card.locality }}</p>
		{% endif %}
		{% if card.topics %}
		<div class="card__tags">
			<ul class="tags" >
				{% for tag in card.topics %}
					<li class="tag">
						<div class="tag__token"><span class="screen-reader-text">Topic: </span>{{ tag }}</div>
					</li>
				{% endfor %}
			</ul>
			<p>+{{ card.topicCount - 2 }} more</p>
		</div>
		{% endif %}
	</li>
	{% endfor %}
</ul>
