<div class="page-header">
	<div class="inside">
		<p>{% render '@link--breadcrumb', {label: 'Home', href: '/', standAlone: true}, true %}</p>
		<h1>{{ label }}</h1>
	</div>
</div>
<ul class="link-list">
{% for term in terms %}
	{% if term.children %}
	<li><h2>{{ term.label }}</h2></li>
	<li><ul class="link-list">
	{% endif %}
	<li class="link-list__item"><a href="{{ term.label | slugify }}">{{ term.label }}</a></li>
	{% if term.children %}
	{% for child in term.children %}
	<li class="link-list__item"><a href="{{ child | slugify }}">{{ child }}</a></li>
	{% endfor %}
	</ul></li>
	{% endif %}
{% endfor %}
</ul>
