<h1>{{ tagbuttonsTitle }}</h1>
<ul class="tag-buttons">
	{% for tag in tagbuttons %}
	<li class="tag-button">
		<button class="tag-button__button"><span class="screen-reader-text">Remove </span>{{ tag }} <svg aria-hidden="true" class="icon icon--close"><use xlink:href="/images/close.svg"/></svg></a>
	</li>
	{% endfor %}
</ul>
