{% for textarea in textareas %}
	{% if component %}
		{% render '@' + component, {textarea: textarea}, true %}
	{% else %}
		{% render '@textarea', {textarea: textarea}, true %}
	{% endif %}
{% endfor%}
