<h1>{{ inputTitle }}</h1>

<div class="input-group">
	<label for="{{ name }}-1">{{ label }}</label>
	<input id="{{ name }}" name="{{ name }}-1" placeholder="{{ placeholder }}" type="text" />
	<p class="input-group__description">{{ description }}</p>
</div>

<div class="input-group input-group--error">
	<label for="{{ name }}-2">{{ label }} (Error)</label>
	<input id="{{ name }}" name="{{ name }}-2" placeholder="{{ placeholder }}" type="text" value="{{ badValue }}" />
	<p class="input-group__error">{% render '@svg', {svg:'error'} %}{{ error | safe }}</p>
	<p class="input-group__description">{{ description }}</p>
</div>

<div class="input-group">
	<label for="{{ name }}-3">{{ label }} (Disabled)</label>
	<input id="{{ name }}" name="{{ name }}-3" placeholder="{{ placeholder }}" type="text" disabled />
	<p class="input-group__description">{{ description }}</p>
</div>
