<nav class="global-nav" aria-labelledby="global-nav-label">
	<span id="global-nav-label" class="screen-reader-text">global navigation</span>
	<ul class="global-nav__list">
		<li class="global-nav__list-item global-nav__list-item--first">
			<a class="global-nav__link" rel="external" href="https://platform.coop">{% render '@svg', {svg: 'pcc', viewBox: '0 0 32 32'}, true %} Platform Cooperativism Consortium</a>
		</li>
		<li class="global-nav__list-item">
			<a class="global-nav__link" aria-current="true" rel="home" href="https://resources.platform.coop/">Resource Library</a>
		</li>
	</ul class="global-nav__list">
</nav>
