<div class="input-group{% if inverse %} input-group--inverse{% endif %}{% if input.modifiers %}{% for modifier in input.modifiers %} input-group--{{ modifier }}{% endfor %}{% endif %}">
	<label for="{{ input.name }}">{{ label }}{% if input.error %} (Error){% elseif input.disabled %} (Disabled){% endif %}</label>
	<input id="{{ input.name }}" name="{{ input.name }}" placeholder="{{ placeholder }}" type="text" value="{{ value or '' }}" {% if input.disabled %} disabled {% endif %}/>
	{% if input.error %}<p class="input-group__error">{% render '@svg', {svg: 'error'}, true %}{{ errorMessage | safe }}</p>{% endif %}
	<p class="input-group__description">{{ description }}</p>
</div>
