{% if not standAlone %}<div class="spacer"></div>{% endif %}
<div class="input-group{% if error %} input-group--error{% endif %}">
	<label for="{{ name }}">{{ label }}{% if error %} (Error){% elseif disabled %} (Disabled){% endif %}</label>
	<input id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" type="text" value="{{ value or '' }}" {% if disabled %}disabled {% endif %}/>
	{% if error %}<p class="input-group__error">{% render '@svg', {svg:'error'} %}{{ error | safe }}</p>{% endif %}
	<p class="input-group__description">{{ description }}</p>
</div>
