{% if not standAlone %}<div class="spacer"></div>{% endif %}
<div class="menu-button">
	<h2 class="h3 menu-button__label">{% render '@svg', {svg: 'sort'}, true %}{{ label }}</h2>
	{% render '@link-list', {linkData: items, standAlone: true}, true %}
</div>
