{% if not standAlone %}<div class="spacer"></div>{% endif %}
<div class="menu-button">
	<button type="button" aria-expanded="false">
		{% render '@svg', {svg: 'sort'}, true %}
		<span class="button__label">{{ label }}</span></button>
	<div class="menu-button__menu">
		<span class="menu-button__menu__arrow" x-arrow=""></span>
		<ul>
			{% for item in items %}
			<li><a href="{{ item.href }}"{{ ' aria-current=true' if item.current }}>{{ item.label }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
