input[type="checkbox"] {
	appearance: none;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	display: inline-block;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}

[role="checkbox"] + input[type="checkbox"] {
	display: none;
}

.checkbox label,
input[type="checkbox"] + label,
[role="checkbox"] {
	font-weight: $font-weight-normal;
}

input[type="checkbox"]::before,
[role="checkbox"]::before {
	border: rem(1) solid;
	border-color: var(--checkbox-radio-border-color);
	border-radius: rem(3);
	content: "";
	display: block;
	float: left;
	height: rem(18);
	margin: 0 rem(8) rem(-4) 0;
	transition: border 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
	width: rem(18);

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

input[type="checkbox"]:focus,
[role="checkbox"]:focus {
	box-shadow: none;
	outline: none;
}

input[type="checkbox"]::before:focus,
[role="checkbox"]::before:focus {
	outline: none;
}

input[type="checkbox"]:disabled + label {
	color: var(--text-value-color-disabled);
}

input[type="checkbox"]:checked::before,
[role="checkbox"][aria-checked="true"]::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23f9f9f7" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
}

[role="checkbox"][aria-checked="mixed"]::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 2"><path fill="%23f9f9f7" d="M0,1A1,1,0,0,0,1,2H7A1,1,0,0,0,7,0H1A1,1,0,0,0,0,1Z"/></svg>');
	background-size: rem(10) rem(2.5);
}

input[type="checkbox"]:hover::before,
[role="checkbox"]:hover::before {
	background-color: var(--checkbox-radio-focus-hover-background-color);
	border-color: var(--checkbox-radio-hover-color);
	box-shadow: var(--checkbox-radio-hover-box-shadow);
}

input[type="checkbox"]:active::before,
[role="checkbox"]:active::before {
	background-color: var(--checkbox-radio-active-color);
	border-color: var(--checkbox-radio-hover-color);
	box-shadow: var(--checkbox-radio-hover-box-shadow);
}


input[type="checkbox"]:focus::before,
[role="checkbox"]:focus::before {
	border-color: var(--checkbox-radio-focus-border-color);
	box-shadow: var(--checkbox-radio-focus-box-shadow);
}

input[type="checkbox"]:checked::before,
[role="checkbox"][aria-checked="mixed"]::before,
[role="checkbox"][aria-checked="true"]::before {
	background-color: var(--checkbox-radio-checked-background-color);
	background-position: center;
	background-repeat: no-repeat;
	border: rem(1) solid var(--checkbox-radio-checked-background-color);
}


input[type="checkbox"]:disabled::before {
	border-color: var(--text-border-color-disabled);
}

input[type="checkbox"]:disabled:hover {
	background-color: transparent;
	box-shadow: none;
	color: transparent;
}

input[type="checkbox"]:disabled:hover::before,
[role="checkbox"]:disabled:hover::before {
	background: initial;
	box-shadow: none;
}

input[type="checkbox"]:disabled:active::before,
[role="checkbox"]:disabled:active::before {
	background: initial;
	box-shadow: none;
}

.form--inverse [role="checkbox"][aria-checked="mixed"]::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 2"><path fill="%23000000" d="M0,1A1,1,0,0,0,1,2H7A1,1,0,0,0,7,0H1A1,1,0,0,0,0,1Z"/></svg>');
}

.form--inverse input[type="checkbox"]:checked::before,
.form--inverse [role="checkbox"][aria-checked="true"]::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10.572" height="7.742" viewBox="0 0 10.572 7.742"><path d="M.681 3.812l3.148 2.931L9.864.708" fill="none" stroke="%23000000" stroke-linejoin="round" class="stroke" stroke-width="2"/></svg>');
}

.form--inverse input[type="checkbox"]:checked:focus::before,
.form--inverse [role="checkbox"][aria-checked="true"]:focus::before {
	box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(4 * var(--border-width)) var(--checkbox-radio-focus-border-color);
}

.input-group__descendant {
	margin-left: rem(10);
	margin-top: rem(12);
}
