input[type="radio"] {
	appearance: none;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	display: inline-block;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}

.radio label,
input[type="radio"] + label {
	font-weight: $font-weight-normal;
}

input[type="radio"]::before {
	border: rem(1) solid;
	border-color: var(--checkbox-radio-border-color);
	border-radius: 100%;
	content: "";
	display: block;
	float: left;
	height: rem(18);
	margin: 0 rem(8) rem(-4) 0;
	transition: border 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
	width: rem(18);

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

input[type="radio"]:focus {
	box-shadow: none;
	outline: none;
}

input[type="radio"]::before:focus {
	outline: none;
}

input[type="radio"]:disabled + label {
	color: var(--text-value-color-disabled);
}

input[type="radio"]:hover::before {
	background-color: var(--checkbox-radio-focus-hover-background-color);
	border-color: var(--checkbox-radio-hover-color);
	box-shadow: var(--checkbox-radio-hover-box-shadow);
}

input[type="radio"]:active::before {
	background-color: var(--checkbox-radio-active-color);
	border-color: var(--checkbox-radio-hover-color);
	box-shadow: var(--checkbox-radio-hover-box-shadow);
}

input[type="radio"]:focus::before {
	border-color: var(--checkbox-radio-focus-border-color);
	box-shadow: var(--checkbox-radio-focus-box-shadow);
}

input[type="radio"]:checked::before {
	background: var(--checkbox-radio-checked-background-color);
	border-color: var(--checkbox-radio-focus-border-color);
	box-shadow: var(--radio-checked-box-shadow);
}

input[type="radio"]:disabled::before {
	border-color: var(--text-border-color-disabled);
}

input[type="radio"]:disabled:hover {
	background: initial;
	box-shadow: none;
}

input[type="radio"]:disabled:hover::before {
	background: initial;
	box-shadow: none;
}

input[type="radio"]:disabled:active::before {
	background: initial;
	box-shadow: none;
}

input[type="radio"]:checked:hover::before {
	border-color: var(--checkbox-radio-hover-color);
	box-shadow: var(--radio-checked-hover-box-shadow);
}

input[type="radio"]:checked:focus::before {
	box-shadow: var(--radio-checked-focus-box-shadow);
}

input[type="radio"]:checked:focus:hover {
	box-shadow: none;
}
