<h1>{{ title }}</h1>
<div class="input-group">
	<label for="{{ name }}">{{ label }}</label>
	<input id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" type="search" />
	<p class="input-group__description">{{ description }}</p>
</div>
