<nav aria-labelledby="menu-primary-label">
	<button class="menu-toggle" aria-expanded="false">
		<svg class="icon icon--open" aria-hidden="true">
			<use xlink:href="/images/hamburger.svg"/>
		</svg>
		<svg class="icon icon--close" aria-hidden="true">
			<use xlink:href="/images/close.svg"/>
		</svg>
		<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
	</button>
	<ul class="menu">
		<li><a class="menu__item" href="#menu-item-1">Menu Item 1</a></li>
		<li><a class="menu__item" href="#menu-item-2">Menu Item 2</a></li>
		<li><a class="menu__item" href="#menu-item-3">Menu Item 3</a></li>
		<li class="menu__submenu-wrapper current_page_item current_page_ancestor current-menu-ancestor">
			<a class="menu__item" href="#menu-item-4">Menu Item 4</a>
			<ul class="menu__submenu">
				<li><a aria-current="page" class="menu__item" href="#submenu-item-1">Submenu Item 1</a></li>
				<li><a class="menu__item" href="#submenu-item-2">Submenu Item 2</a></li>
				<li><a class="menu__item" href="#submenu-item-3">Submenu Item 3</a></li>
			</ul>
		</li>
	</ul>
</nav>
