<h1>{{ normalHeading }}</h1>
<p>
	<strong>{{ paragraphOne }}</strong>
</p>
<p>{{ paragraphTwo }}</p>
<p>
	<small>{{ paragraphThree }}</small>
</p>

<h1 class="has-grey-500-color">{{ greyHeading }}</h1>
<p class="has-grey-500-color">
	<strong>{{ paragraphOne }}</strong>
</p>
<p class="has-grey-500-color">{{ paragraphTwo }}</p>
<p class="has-grey-500-color">
	<small>{{ paragraphThree }}</small>
</p>
