<ul class="input-group {{ className if className }}">
	{% for checkbox in checkboxes %}
	<li>{% render '@checkbox', checkbox, true %}</li>
	{% endfor %}
</ul>
<script type="text/javascript">
	document.getElementById('indeterminate').indeterminate = true;
</script>
