<ul id="{{ label | slugify }}" class="input-group input-group__parent checkbox">
	{% for item in items %}
	<li>
		{% if item.children %}
			{% render '@checkbox', {label: item.label, value: item.label | slugify, name: item.label | slugify, standAlone: false, className: 'input--parent'}, true %}
			{% render '@checkboxes', {checkboxes: item.children, className: 'input-group__descendant'}, true %}
		{% endif %}
	</li>
	{% endfor %}
</ul>
