{% if not standAlone %}<div class="spacer"></div>{% endif %}
<nav class="navigation pagination" role="navigation" aria-label="{{ contentType }}">
	<h2 class="screen-reader-text">{{ contentType }} navigation</h2>
	<div class="nav-links">
		<a class="previous page-numbers" href="1">
			<span class="screen-reader-text">Previous {{ perPage }} {{ contentType }}</span>{% render '@svg', {svg:'chevron-left'}, true %}
		</a>
		<span aria-current="page" class="page-numbers current">2</span>
		<a class="page-numbers" href="3"><span class="screen-reader-text">page </span>3</a>
		<span class="page-numbers dots">…</span>
		<a class="page-numbers" href="61"><span class="screen-reader-text">page </span>61<span class="screen-reader-text"> (last)</span></a>
		<a class="next page-numbers" href="3">
			<span class="screen-reader-text">Next {{ perPage }} {{ contentType }}</span>{% render '@svg', {svg:'chevron-right'}, true %}
		</a>
	{# </div>
</nav> #}
