{% if not standAlone %}<div class="spacer"></div>{% endif %}
<button id="{{ id }}" type="button"{% if className %} class="{{ className }}"{% endif %}>
	{% if icon and iconPosition === 'start' %}{% render '@svg', {svg:icon}, true %}{% endif %}<span class="button__label{{ ' screen-reader-text' if labelVisuallyHidden }}">{{ label | safe }}</span>{% if icon and iconPosition === 'end' %}{% render '@svg', {svg:icon}, true %}{% endif %}
</button>
