{% for select in selects %}
	{% if component %}
		{% render '@' + component, {select: select, multiple: multiple}, true %}
	{% else %}
		{% render '@select', {select: select, multiple: multiple}, true %}
	{% endif %}
{% endfor %}
