{% if not standalone %}<ul class="input-group">{% endif %}
	<li><input id="{{ value }}" type="checkbox" name="{{ name }}[{{ value }}]"{% if checked %} checked{% elseif disabled %} disabled{% endif %} /><label for="{{ value }}">{{ label }}</label></li>
{% if not standalone %}</ul>{% endif %}
