.archive {
	background-color: $off-white;
}

.archive [role="banner"] {
	background-color: $white;
}

.archive .page-header {
	@include full-width-background($white);
	@include grid-column-span(4, 4);
}

.archive .current-filters {
	@include grid-column-span(4, 4);

	* + .tag-buttons {
		margin-top: rem(12);
	}
}

.archive main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@include breakpoint-up(sm) {
	.archive main {
		@supports (display: $grid) {
			column-gap: $gutter;
			display: grid;
			grid-template-columns: repeat(8, 1fr);
		}
	}

	.archive .page-header,
	.archive .current-filters {
		@include grid-column-span(8, 8, 1);
	}
}

@include breakpoint-up(md) {
	.archive .page-header {
		padding: rem(157) 0 rem(114);
	}
}

@include breakpoint-up(lg) {
	.archive main {
		@supports (display: $grid) {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto auto auto 1fr;
		}
	}

	.archive .page-header {
		padding: rem(148) 0 rem(154);

		@include grid-column-span(12, 12, 1);
	}

	.archive .current-filters {
		@include grid-column-span(8, 12, 5);
	}
}

@include breakpoint-up(xl) {
	.archive main {
		@supports (display: $grid) {
			grid-template-columns: repeat(16, 1fr);
		}
	}

	.archive .page-header {
		@include grid-column-span(16, 16, 1);
	}

	.archive .current-filters {
		@include grid-column-span(12, 16, 5);
	}
}
