[role="banner"] {
	background-color: var(--white);
	box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
	width: 100%;

	.container {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.inner {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		width: 100%;
	}

	.brand {
		color: var(--blue-500);
		height: rem(70);
		margin-left: rem(11);
		padding: rem(19);
		width: rem(70);
	}

	.brand svg {
		height: rem(32);
		width: rem(32);
	}

	.brand:hover {
		color: var(--black);

	}

	.brand:focus,
	.brand:active {
		background-color: var(--blue-500);
		color: var(--off-white);
	}

	[aria-expanded="false"] + .search-form {
		display: none;
	}

	.search-form label {
		width: auto;
	}

	@include breakpoint-down(xs) {
		[aria-expanded="true"] + .search-form {
			background-color: var(--blue-500);
			display: flex;
			padding: rem(10);
			position: absolute;
			right: 0;
			top: rem(70);
			width: 100vw;
			z-index: 3;

			[type="search"] {
				background-color: var(--off-white);
				border-right-color: var(--grey-300);
				border-right-width: rem(1);

				&::placeholder {
					color: transparent;
				}

				&:hover {
					border-color: var(--blue-300);
				}

				&:focus {
					border-color: var(--blue-300);
					border-right-color: var(--blue-300);
					box-shadow: 0 0 0 rem(1) var(--blue-300) inset;
				}
			}

			[type="submit"] {
				background-color: var(--blue-50);
				border-bottom: solid rem(1) var(--grey-300);
				border-left: 0;
				border-right: solid rem(1) var(--grey-300);
				border-top: solid rem(1) var(--grey-300);
				color: var(--blue-500);
				padding-left: rem(4);

				&:hover {
					background-color: var(--blue-50);
					color: var(--blue-600);
				}

				&:focus {
					background-color: var(--blue-50);
					border-color: var(--blue-50);
					box-shadow: 0 0 0 rem(1) var(--blue-50) inset, 0 0 0 rem(3) var(--blue-600) inset;

					&::before {
						border-bottom: solid rem(2) var(--blue-50);
						border-left: solid rem(2) var(--blue-50);
						border-top: solid rem(2) var(--blue-50);
						top: rem(-1);
					}
				}
			}
		}
	}

	.home & {
		background-color: var(--blue-500);

		.brand {
			color: var(--off-white);
		}

		.brand:hover {
			color: var(--white);
		}

		.brand:focus,
		.brand:active {
			background-color: var(--off-white);
			color: var(--blue-500);
			outline: 0;
		}
	}
}

.page-header {
	padding-bottom: rem(100);
	padding-top: rem(100);
	position: relative;

	@include grid-column-span(4, 4);

	p + h1 {
		margin-top: rem(32);
	}
}

@include breakpoint-up(sm) {
	[role="banner"] {
		.inner {
			justify-content: space-between;
			margin-left: rem(12);
		}

		.search-toggle {
			display: none;
		}

		[aria-expanded="false"] + .search-form {
			display: flex;
		}
	}

	.page-header {
		@include grid-column-span(6, 8, 2);

		padding-bottom: rem(130);
		padding-top: rem(130);
	}
}

@include breakpoint-up(md) {
	[role="banner"] {
		.container {
			margin: 0 auto;
			max-width: rem(1160);
		}

		@supports (display: $grid) {
			.container {
				display: grid;
				grid-template-columns: 1fr minmax(0, rem(1160)) 1fr;
				margin: unset;
				max-width: unset;
			}
		}

		.brand {
			height: rem(80);
			margin-left: rem(0);
			padding: rem(24);
			width: rem(80);
		}
	}
}

@include breakpoint-up(lg) {
	[role="banner"] {
		.inner {
			margin-left: 0;
		}
	}

	.page-header {
		@include grid-column-span(6, 12, 4);

		p + h1 {
			margin-top: rem(40);
		}
	}
}

@include breakpoint-up(xl) {
	[role="banner"] {
		.container {
			margin: 0 auto;
			max-width: rem(1570);
		}

		@supports (display: $grid) {
			.container {
				grid-template-columns: 1fr minmax(0, rem(1570)) 1fr;
				margin: unset;
				max-width: unset;
			}
		}
	}

	.page-header {
		@include grid-column-span(6, 16, 6);
	}
}
