[role="banner"] {
	background-color: $white;
	box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
	width: 100vw;
}

.home [role="banner"] {
	background-color: $blue-500;
}

[role="banner"] .container {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

[role="banner"] .brand {
	color: $blue-500;
	height: rem(26);
	margin-left: rem(12);

	svg {
		height: 100%;
		width: 100%;
	}
}

.page-header {
	padding-bottom: rem(100);
	padding-top: rem(100);
	position: relative;

	@include grid-column-span(4, 4);
}

@include breakpoint-up(sm) {
	.page-header {
		@include grid-column-span(6, 8, 2);

		padding-bottom: rem(130);
		padding-top: rem(130);
	}
}

@include breakpoint-up(md) {
	[role="banner"] {
		padding-left: rem(30);
		padding-right: rem(120);
	}
}

@include breakpoint-up(lg) {
	[role="banner"] {
		padding-left: rem(110);
		padding-right: rem(175);
	}

	.page-header {
		@include grid-column-span(6, 12, 4);
	}
}

@include breakpoint-up(xl) {
	[role="banner"] {
		padding-left: rem(110);
		padding-right: rem(175);
	}

	.page-header {
		@include grid-column-span(6, 16, 6);
	}
}
