[role="banner"] {
	background-color: var(--white);
	box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
	width: 100%;

	.container {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.inner {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		width: calc(100% - #{rem(80)});
	}

	.link--brand {
		--color: var(--blue-500);
		--border-width: 0;
		--hover-color: var(--dark-mint-500);
		--active-color: var(--off-white);
		--active-background-color: var(--blue-500);
		--focus-color: var(--active-color);
		--focus-background-color: var(--active-background-color);
		--focus-box-shadow:
			0 0 0 #{rem(2)} var(--focus-background-color) inset,
			0 0 0 #{rem(4)} var(--focus-color) inset;

		align-items: center;
		display: flex;
		flex-direction: column;
		height: rem(80);
		justify-content: center;
		margin-left: rem(11);
		width: rem(80);

		&::after {
			display: none;
		}

		svg {
			display: block;
			height: rem(32);
			margin-bottom: 0;
			width: rem(32);
		}
	}

	[aria-expanded="false"] + .search-form {
		display: none;
	}

	.search-form label {
		width: auto;
	}

	@include breakpoint-down(xs) {
		[aria-expanded="true"] + .search-form {
			background-color: var(--blue-500);
			display: flex;
			padding: rem(10);
			position: absolute;
			right: 0;
			top: rem(70);
			width: 100vw;
			z-index: 3;

			label {
				width: 100%;
			}

			[type="search"] {
				background-color: var(--off-white);
				border-right-color: var(--grey-300);
				border-right-width: rem(1);

				&::placeholder {
					color: transparent;
				}

				&:hover {
					border-color: var(--blue-300);
				}

				&:focus {
					border-color: var(--blue-300);
					box-shadow: 0 0 0 rem(1) var(--blue-300) inset;
				}
			}

			.button--search {
				--color: var(--blue-500);
				--background-color: var(--blue-50);
				--border-color: var(--grey-300);
				--border-width: #{rem(1)};
				--outline-color: var(--blue-600);
				--hover-color: var(--blue-600);
				--hover-background-color: var(--background-color);
				--active-color: var(--blue-400);
				--active-background-color: var(--background-color);
				--focus-color: var(--blue-600);
				--focus-background-color: var(--background-color);
				--focus-border-color: var(--blue-50);
				--focus-box-shadow:
					0 0 0 var(--border-width) var(--focus-background-color) inset,
					0 0 0 calc(3 * var(--border-width)) var(--outline-color) inset;

				border: 0;
				border-bottom: solid rem(1) var(--border-color);
				border-right: solid rem(1) var(--border-color);
				border-top: solid rem(1) var(--border-color);

				&:focus {
					border-color: var(--focus-border-color);

					&::before {
						border-bottom: solid rem(2) var(--focus-border-color);
						border-left: solid rem(3) var(--focus-border-color);
						border-top: solid rem(2) var(--focus-border-color);
						content: "";
						display: block;
						height: rem(46);
						left: rem(-2);
						position: absolute;
						top: rem(-1);
						width: rem(3);
					}
				}
			}
		}
	}

	.home & {
		background-color: var(--blue-500);

		.link--brand {
			--color: var(--off-white);
			--hover-color: var(--white);
			--visited-color: var(--color);
			--active-color: var(--blue-500);
			--active-background-color: var(--off-white);
		}
	}
}

.page-header {
	padding-bottom: rem(100);
	padding-top: rem(100);
	position: relative;

	@include grid-column-span(4, 4);

	p + h1 {
		margin-top: rem(32);
	}
}

@include breakpoint-up(sm) {
	[role="banner"] {
		.inner {
			justify-content: space-between;
			margin-left: rem(12);
		}

		.search-toggle {
			display: none;
		}

		[aria-expanded="false"] + .search-form {
			display: flex;
		}
	}

	.page-header {
		@include grid-column-span(6, 8, 2);

		padding-bottom: rem(130);
		padding-top: rem(130);
	}
}

@include breakpoint-up(md) {
	[role="banner"] {
		.container {
			margin: 0 auto;
			max-width: rem(1160);
		}

		@supports (display: $grid) {
			.container {
				display: grid;
				grid-template-columns: 1fr minmax(0, rem(1160)) 1fr;
				margin: unset;
				max-width: unset;
			}
		}

		.link--brand {
			height: rem(80);
			margin-left: rem(0);
			width: rem(80);
		}
	}
}

@include breakpoint-up(lg) {
	[role="banner"] {
		.inner {
			margin-left: 0;
		}
	}

	.page-header {
		@include grid-column-span(6, 12, 4);

		p + h1 {
			margin-top: rem(40);
		}
	}
}

@include breakpoint-up(xl) {
	[role="banner"] {
		.container {
			margin: 0 auto;
			max-width: rem(1570);
		}

		@supports (display: $grid) {
			.container {
				grid-template-columns: 1fr minmax(0, rem(1570)) 1fr;
				margin: unset;
				max-width: unset;
			}
		}
	}

	.page-header {
		@include grid-column-span(6, 16, 6);
	}
}
