.page.home .page-header {
	color: $white;
	padding-bottom: rem(70);
	position: relative;

	@include full-width-background($blue-500);
}

.home__search {
	background: $blue-400;
	position: relative;

	@include full-width-background($blue-400);

	.search-form {
		position: relative;
		top: rem(-25);
	}
}

.home__browse {
	background: $blue-400;
	color: $white;
	padding-bottom: rem(40);
	padding-top: rem(8);
	position: relative;

	.link-list {
		margin-top: rem(20);
	}

	.wp-block-button {
		margin-top: rem(36);

		.wp-block-button__link {
			max-width: 100%;
		}
	}

	@include full-width-background($blue-400);
}

.home__feed {
	padding-top: rem(50);

	hr {
		margin: rem(48) 0 0 calc(-1 * (50vw - 50%));
		width: 100vw;
	}

	@include breakpoint-down(xs) {
		.card-wrapper {
			overflow-x: scroll;
			width: calc(100% + #{$gutter});
		}

		.cards {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			width: calc((100% - #{rem(30)}) * 4 + #{rem(25)});

			.card {
				width: calc(100vw - #{rem(85)});
			}

			.card + .card {
				margin-left: rem(25);
				margin-top: 0;
			}
		}
	}

}

@include breakpoint-up(sm) {
	.page.home main {
		@include grid-column-span(8, 8);
	}

	.home__search .search-form {
		top: rem(-30);
	}

	.home__browse {
		display: grid;
		grid-column-gap: $gutter;
		grid-template-columns: repeat(4, 1fr);

		h2 {
			@include grid-column-span(4, 4);
		}

		.link-list {
			@include grid-column-span(4, 4);

			display: grid;
			grid-column-gap: $gutter;
			grid-template-columns: repeat(4, 1fr);
		}

		.wp-block-button {
			@include grid-column-span(2, 4, 2);
		}
	}

	.home__feed {
		.cards {
			display: grid;
		}
	}
}

@include breakpoint-up(lg) {
	.page.home main {
		@include grid-column-span(12, 12);
	}

	.home__browse {
		grid-template-columns: repeat(12, 1fr);
		padding-bottom: rem(68);
		padding-top: rem(36);

		h2 {
			@include grid-column-span(12, 12);
		}

		.link-list {
			@include grid-column-span(8, 12);
		}

		.wp-block-button {
			@include grid-column-span(4, 12, 9);

			margin-top: rem(24);
		}
	}

	.home__feed {
		.meta-card-wrapper {
			display: grid;
			grid-column-gap: $gutter;
			grid-template-columns: repeat(3, 1fr);
		}

		.card-wrapper {
			@include grid-column-span(2, 3);
		}

		.cards {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@include breakpoint-up(xl) {
	.page.home main {
		@include grid-column-span(12, 16, 3);
	}
}
