.page.home .banner-pattern {
	background: var(--blue-500);
	background-image: url("../images/home.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: rem(500);
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 100vw;
	z-index: -2;
}

.page.home .page-header {
	color: var(--white);
	display: block;
	margin-bottom: 0;
	margin-top: rem(140);
	padding-bottom: rem(70);
	padding-top: rem(25);
	position: relative;

	> * {
		background-color: transparent;
		box-shadow: none;
		color: inherit;
	}

	@include full-width-background(transparentize($blue-700, 0.1));

	&::before {
		background-image: unset;
		margin-left: 0;
	}
}

.home__search {
	background-color: var(--blue-500);
	position: relative;

	@include full-width-background(var(--blue-500));

	.search-form {
		position: relative;
		top: rem(-25);
	}

	.search-form.search-form--inverse .button--search {
		--active-background-color: var(--blue-500);
		--active-color: var(--blue-50);
	}
}

.home__browse {
	background-color: var(--blue-500);
	color: var(--white);
	padding-bottom: rem(40);
	padding-top: rem(8);
	position: relative;

	.link-list {
		margin-top: rem(20);
	}

	p {
		margin-top: rem(36);
	}

	@include full-width-background(var(--blue-500));
}

.home__feed {
	padding-top: $gutter;

	> header {
		align-items: baseline;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		a {
			margin-top: 0;
		}
	}

	> h3 {
		padding-top: rem(96);
		position: relative;
	}

	> h3::before {
		background-color: var(--grey-200);
		content: "";
		display: block;
		height: rem(16);
		left: 0;
		margin: rem(40) 0 rem(40) 50%;
		overflow: hidden;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		width: 100vw;
	}

	.meta-card-wrapper {
		margin-top: 0;
	}

	.card-wrapper {
		margin-top: 0;
	}
}

@include breakpoint-up(sm) {
	.page.home .banner-pattern {
		height: rem(608);
	}

	.page.home .page-header {
		margin-top: rem(275);
		padding-top: rem(60);
	}

	.page.home main {
		@include grid-column-span(8, 8);
	}

	.home__search .search-form {
		top: rem(-30);
	}

	.home__browse {
		display: grid;
		grid-column-gap: $gutter;
		grid-template-columns: repeat(4, 1fr);

		h2 {
			@include grid-column-span(4, 4);
		}

		.link-list {
			@include grid-column-span(4, 4);

			display: grid;
			grid-column-gap: $gutter;
			grid-template-columns: repeat(4, 1fr);
		}

		p {
			@include grid-column-span(4, 4);
		}
	}

	.home__feed {
		> h3 {
			margin-top: 0;
			padding-top: rem(112);
		}

		> h3::before {
			margin: rem(48) 0 rem(48) 50%;
		}

		.cards {
			display: grid;
		}
	}
}

@include breakpoint-up(md) {
	.home__feed {
		> h3 {
			padding-top: rem(128);
		}

		> h3::before {
			margin: rem(56) 0 rem(56) 50%;
		}
	}
}

@include breakpoint-up(lg) {
	.page.home main {
		@include grid-column-span(12, 12);
	}

	.home__browse {
		grid-template-columns: repeat(12, 1fr);
		padding-bottom: rem(68);
		padding-top: rem(36);

		h2 {
			@include grid-column-span(12, 12);
		}

		.link-list {
			@include grid-column-span(12, 12);
		}

		p {
			@include grid-column-span(12, 12);

			margin-top: rem(24);
		}
	}

	.home__feed {
		.meta-card-wrapper,
		> .card-wrapper {
			display: grid;
			grid-column-gap: $gutter;
			grid-template-columns: repeat(3, 1fr);
		}


		.meta-card-wrapper > .card-wrapper {
			@include grid-column-span(2, 3);
		}

		.cards {
			grid-template-columns: repeat(2, 1fr);
		}

		> .card-wrapper .cards {
			@include grid-column-span(2, 3);
		}
	}
}

@include breakpoint-up(xl) {
	.page.home main {
		@include grid-column-span(12, 16, 3);
	}
}
