.page {
	background-color: $off-white;

	[role="banner"] {
		background: $white;
	}

	main {
		padding-bottom: rem(64);
	}

	.page-header {
		padding-bottom: rem(88);
		padding-top: rem(108);
	}

	@supports (display: grid) {
		main {
			grid-column: 1 / 5;
		}
	}
}

@include breakpoint-up(sm) {
	.page {
		main {
			padding-bottom: rem(118);
			width: 75%;
		}

		.page-header {
			padding-bottom: rem(154);
			padding-top: rem(154);
		}

		@supports (display: grid) {
			main {
				grid-column: 2 / 8;
				width: 100%;
			}
		}
	}
}

@include breakpoint-up(md) {
	.page {
		.page-header {
			padding-bottom: rem(96);
			padding-top: rem(140);
		}
	}
}

@include breakpoint-up(lg) {
	.page {
		main {
			width: 50%;
		}

		@supports (display: grid) {
			main {
				grid-column: 4 / 10;
				width: 100%;
			}
		}
	}
}

@include breakpoint-up(xl) {
	.page {
		main {
			padding-bottom: rem(144);
		}

		@supports (display: grid) {
			main {
				grid-column: 6 / 12;
				width: 100%;
			}
		}
	}
}
