.resource__header {
	padding-bottom: rem(48);
}

.resource__meta {
	font-size: rem(14);
}

.resource__meta svg {
	color: var(--grey-500);
}

h1 + .resource__meta {
	margin-top: rem(24);
}

.resource__meta-group {
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.resource__meta-group a {
	display: inline;
}

.resource__abstract h2 + * {
	margin-top: rem(24);
}

.resource__tags {
	.tags {
		margin-top: rem(9);
	}
}

.resource__cta {
	a {
		max-width: 100%;
	}
}

.resource__actions {
	margin-bottom: rem(64);
	margin-top: rem(48);

	button,
	.menu-button {
		text-align: left;
	}
}

.resource__related {
	padding-bottom: rem(92);
	padding-top: rem(64);
	position: relative;

	@include full-width-background(var(--off-white));
}

.single-lc_resource main {
	padding-bottom: 0;
}

@include breakpoint-down(xs) {
	.resource__cta {
		background: var(--white);
		bottom: 0;
		left: 0;
		padding: rem(12) 0;
		position: sticky;
		width: 100%;
		z-index: 1;
	}
}

@include breakpoint-up(sm) {
	.single-lc_resource {
		main {
			@include grid-column-span(6, 8, 2);
		}
	}

	.resource__meta-group + .resource__meta-group {
		margin-left: rem(20);
	}

	.resource__cta {
		margin-top: rem(52);
	}

	.resource__actions {
		margin-top: rem(14);

		button,
		.menu-button {
			display: inline-block;
		}
	}
}

@include breakpoint-up(md) {
	.resource__meta-group {
		display: inline-block;
	}
}

@include breakpoint-up(lg) {
	.single-lc_resource {
		main {
			@include grid-column-span(8, 12, 3);
		}
	}

	.resource__abstract h2 + * {
		margin-top: rem(28);
	}

	.resource__actions {
		margin-bottom: rem(80);
		margin-top: rem(28);
	}

	.resource__related {
		padding-bottom: rem(130);
		padding-top: rem(80);
	}
}

@include breakpoint-up(xl) {
	.single-lc_resource {
		main {
			@include grid-column-span(8, 16, 5);
		}
	}
}
