{% if title %}<h1>{{ headings.h1 }}</h1>{% endif %}
<p>{{ paragraphs.paragraphOne }}</p>
<blockquote>
	<p>{{ quotes.attributedQuote }}</p>
	<cite>{{ quotes.citation }}</cite>
</blockquote>
<p>{{ paragraphs.paragraphTwo }}</p>
<p>{{ lists.introText }}</p>
<ol>
	{% for listItem in lists.listItems %}
		<li>{{ listItem }}</li>
	{% endfor %}
</ol>
<p>{{ paragraphs.paragraphThree }}</p>
<h2>{{ headings.h2 }}</h2>
<p>{{ paragraphs.paragraphOne }}</p>
<blockquote>
	<p>{{ quotes.unattributedQuote }}</p>
</blockquote>
<p>{{ paragraphs.paragraphTwo }}</p>
<p>{{ lists.introText }}</p>
<ul>
	{% for listItem in lists.listItems %}
		<li>{{ listItem }}</li>
	{% endfor %}
</ul>
<p>{{ paragraphs.paragraphThree }}</p>
<h3>{{ headings.h3 }}</h3>
<p>{{ paragraphs.paragraphOne }}</p>
<p>{{ paragraphs.paragraphTwo }}</p>
<h4>{{ headings.h4 }}</h4>
<p>{{ paragraphs.paragraphOne }}</p>
<p>{{ paragraphs.paragraphTwo }}</p>
