h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	margin-bottom: 0;
	margin-top: 0;
}

h1,
.h1 {
	font-family: $font-family-serif;
	font-size: rem(36);
	font-weight: $font-weight-black;
	letter-spacing: rem(-0.16);
	line-height: (44 / 36);
}

h2,
.h2 {
	font-family: $font-family-display;
	font-size: rem(28);
	font-weight: $font-weight-bold;
	line-height: (36 / 28);
}

h3,
.h3 {
	font-family: $font-family-display;
	font-size: rem(24);
	font-weight: $font-weight-semibold;
	line-height: (32 / 24);
}

h4,
.h4 {
	font-family: $font-family-sans;
	font-size: rem(18);
	font-weight: $font-weight-semibold;
	line-height: (26 / 18);
}

@include breakpoint-up(sm) {
	h1,
	.h1 {
		font-size: rem(48);
		line-height: (60 / 48);
	}

	h2,
	.h2 {
		font-size: rem(28);
		line-height: (40 / 28);
	}

	h3,
	.h3 {
		font-size: rem(24);
		line-height: (36 / 24);
	}

	h4,
	.h4 {
		font-size: rem(20);
		line-height: (32 / 20);
	}
}

@include breakpoint-up(md) {
	h1,
	.h1 {
		font-size: rem(60);
		line-height: (72 / 60);
	}

	h2,
	.h2 {
		font-size: rem(36);
		line-height: (48 / 36);
	}

	h3,
	.h3 {
		font-size: rem(28);
		line-height: (40 / 28);
	}

	h4,
	.h4 {
		font-size: rem(20);
		line-height: (32 / 20);
	}
}
