ol,
ul {
	counter-reset: list-counter;
	padding-left: 0;
}

li {
	counter-increment: list-counter;
	margin-bottom: 0;
}

li::marker {
	color: $grey-600;
}

li + li {
	margin-top: rem(16);
}

* + ul,
* + ol {
	margin-bottom: 0;
	margin-top: rem(24);
}
