.pc-ff--sans {
	font-family: $font-family-sans;
}

.pc-ff--serif {
	font-family: $font-family-serif;
}

.pc-ff--display {
	font-family: $font-family-display;
}

.pc-fw--normal {
	font-weight: $font-weight-normal;
}

.pc-fw--semibold {
	font-weight: $font-weight-semibold;
}

.pc-fw--bold {
	font-weight: $font-weight-bold;
}

.pc-fw--black {
	font-weight: $font-weight-black;
}
