* + h2,
* + .h2 {
	margin-top: rem(48);
}

* + h3,
* + .h3 {
	margin-top: rem(40);
}

* + h4,
* + .h4 {
	margin-top: rem(32);
}

h1 + h2 {
	margin-top: rem(36);
}

h2 + h3 {
	margin-top: rem(28);
}

h3 + h4 {
	margin-top: rem(24);
}

* + p,
* + ul,
* + ol {
	margin-bottom: 0;
	margin-top: rem(24);
}

h2 + *,
h2 + p,
h2 + ul,
h2 + ol,
h3 + *,
h3 + p,
h3 + ul,
h3 + ol,
h4 + *,
h4 + p,
h4 + ul,
h4 + ol {
	margin-top: rem(24);
}

blockquote + p,
blockquote + ul,
blockquote + ol {
	margin-top: rem(24);
}

* + blockquote {
	margin-top: rem(24);
}

li + li {
	margin-top: rem(16);
}

.h2 + *,
.h2 + p,
.h2 + ul,
.h2 + ol,
.h3 + *,
.h3 + p,
.h3 + ul,
.h3 + ol,
.h4 + *,
.h4 + p,
.h4 + ul,
.h4 + ol, {
	margin-top: rem(24);
}

.stack > * + * {
	margin-bottom: 0;
	margin-top: rem(24);
}

h2.screen-reader-text,
h3.screen-reader-text,
h4.screen-reader-text,
.h1.screen-reader-text,
.h2.screen-reader-text,
.h3.screen-reader-text,
.h4.screen-reader-text {
	+ *,
	+ p,
	+ ul,
	+ ol {
		margin-top: 0;
	}
}

@include breakpoint-up(sm) {
	* + h2,
	* + .h2 {
		margin-top: rem(56);
	}

	* + h3,
	* + .h3 {
		margin-top: rem(48);
	}

	* + h4,
	* + .h4 {
		margin-top: rem(40);
	}

	h1 + h2 {
		margin-top: rem(44);
	}

	h2 + h3 {
		margin-top: rem(32);
	}
}

@include breakpoint-up(md) {
	* + h2,
	* + .h2 {
		margin-top: rem(64);
	}

	* + h3,
	* + .h3 {
		margin-top: rem(56);
	}

	* + h4,
	* + .h4 {
		margin-top: rem(48);
	}

	h1 + h2 {
		margin-top: rem(56);
	}

	h2 + h3 {
		margin-top: rem(44);
	}

	h3 + h4 {
		margin-top: rem(32);
	}

	h2 + *,
	h2 + p,
	h2 + ul,
	h2 + ol {
		margin-top: rem(32);
	}

	h3 + *,
	h3 + p,
	h3 + ul,
	h3 + ol,
	h4 + *,
	h4 + p,
	h4 + ul,
	h4 + ol {
		margin-top: rem(24);
	}

	.h2 + *,
	.h2 + p,
	.h2 + ul,
	.h2 + ol {
		margin-top: rem(32);
	}

	.h3 + *,
	.h3 + p,
	.h3 + ul,
	.h3 + ol,
	.h4 + *,
	.h4 + p,
	.h4 + ul,
	.h4 + ol, {
		margin-top: rem(24);
	}
}
