{% if not standAlone %}<div class="tags">{% endif %}
	<span class="badge">Lots of things to see here, probably will need to wrap</span>
	<span class="badge">{{ label }}</span>
	<span class="badge">{{ label }}</span>
{% if not standAlone %}</div>{% endif %}
