<a href="/" class="link link--brand">
	{% render '@svg', {svg: logo, viewBox: '0 0 32 32'}, true %}
	<span class="brand__title{% if visuallyHiddenTitle %} screen-reader-text{% endif %}">{{ title }}</span>
</a>
