<div class="filter-sort__filters">
	<div class="accordions">
		<div class="accordion">
			<p class="accordion__heading">Topics</p>
			<div class="accordion__content">
				<ul class="input-group lc_topic">
					<li>
						<input type="checkbox" name="lc_topic[]" id="lc_topic-cooperative-essentials" value="cooperative-essentials"><label for="lc_topic-cooperative-essentials">Cooperative essentials</label>
						{% render '@filter-button', {standAlone: true} %}
						<ul class="input-group">
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-cooperative-essentials-1" value="cooperative-essentials-1"><label for="lc_topic-cooperative-essentials-1">Cooperative essentials 1</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-cooperative-essentials-2" value="cooperative-essentials-2"><label for="lc_topic-cooperative-essentials-2">Cooperative essentials 2</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-cooperative-essentials-3" value="cooperative-essentials-3"><label for="lc_topic-cooperative-essentials-3">Cooperative essentials 3</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-cooperative-essentials-4" value="cooperative-essentials-4"><label for="lc_topic-cooperative-essentials-4">Cooperative essentials 4</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-cooperative-essentials-5" value="cooperative-essentials-5"><label for="lc_topic-cooperative-essentials-5">Cooperative essentials 5</label></li>
						</ul>
					<li>
						<input type="checkbox" name="lc_topic[]" id="lc_topic-business-operations" value="business-operations"><label for="lc_topic-business-operations">Business operations</label>
						{% render '@filter-button', {standAlone: true} %}
						<ul class="input-group">
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-business-operations-1" value="business-operations-1"><label for="lc_topic-business-operations-1">Business operations 1</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-business-operations-2" value="business-operations-2"><label for="lc_topic-business-operations-2">Business operations 2</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-business-operations-3" value="business-operations-3"><label for="lc_topic-business-operations-3">Business operations 3</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-business-operations-4" value="business-operations-4"><label for="lc_topic-business-operations-4">Business operations 4</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-business-operations-5" value="business-operations-5"><label for="lc_topic-business-operations-5">Business operations 5</label></li>
						</ul>
					</li>
					<li>
						<input type="checkbox" name="lc_topic[]" id="lc_topic-technology-platforms" value="technology-platforms"><label for="lc_topic-technology-platforms">Technology & platforms</label>
						{% render '@filter-button', {standAlone: true} %}
						<ul class="input-group">
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-software-development" value="software-development"><label for="lc_topic-software-development">Software development</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-platformsdesign" value="platformsdesign"><label for="lc_topic-platformsdesign">Platforms design</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-free-software" value="free-software"><label for="lc_topic-free-software">Free software</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-data" value="data"><label for="lc_topic-data">Data</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-algorithms" value="algorithms"><label for="lc_topic-algorithms">Algorithms</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-automation" value="automation"><label for="lc_topic-automation">Automation</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-blockchain" value="blockchain"><label for="lc_topic-blockchain">Blockchain</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-search-engines" value="search-engines"><label for="lc_topic-search-engines">Search engines</label></li>
						</ul>
					</li>
					<li>
						<input type="checkbox" name="lc_topic[]" id="lc_topic-law-policy" value="law-policy"><label for="lc_topic-law-policy">Law & policy</label>
						{% render '@filter-button', {standAlone: true} %}
						<ul class="input-group">
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-law-policy-1" value="law-policy-1"><label for="lc_topic-law-policy-1">Law & policy 1</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-law-policy-2" value="law-policy-2"><label for="lc_topic-law-policy-2">Law & policy 2</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-law-policy-3" value="law-policy-3"><label for="lc_topic-law-policy-3">Law & policy 3</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-law-policy-4" value="law-policy-4"><label for="lc_topic-law-policy-4">Law & policy 4</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-law-policy-5" value="law-policy-5"><label for="lc_topic-law-policy-5">Law & policy 5</label></li>
						</ul>
					</li>
					<li>
						<input type="checkbox" name="lc_topic[]" id="lc_topic-fair-labour" value="fair-labour"><label for="lc_topic-fair-labour">Fair labour</label>
						{% render '@filter-button', {standAlone: true} %}
						<ul class="input-group">
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-labour-1" value="labour-1"><label for="lc_topic-labour-1">Labour 1</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-labour-2" value="labour-2"><label for="lc_topic-labour-2">Labour 2</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-labour-3" value="labour-3"><label for="lc_topic-labour-3">Labour 3</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-labour-4" value="labour-4"><label for="lc_topic-labour-4">Labour 4</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-labour-5" value="labour-5"><label for="lc_topic-labour-5">Labour 5</label></li>
						</ul>
					</li>
					<li>
						<input type="checkbox" name="lc_topic[]" id="lc_topic-platform-coop-theory" value="platform-coop-theory"><label for="lc_topic-platform-coop-theory">Platform co-op theory</label>
						{% render '@filter-button', {standAlone: true} %}
						<ul class="input-group">
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-theory-1" value="theory-1"><label for="lc_topic-theory-1">Platform co-op theory 1</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-theory-2" value="theory-2"><label for="lc_topic-theory-2">Platform co-op theory 2</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-theory-3" value="theory-3"><label for="lc_topic-theory-3">Platform co-op theory 3</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-theory-4" value="theory-4"><label for="lc_topic-theory-4">Platform co-op theory 4</label></li>
							<li><input type="checkbox" name="lc_topic[]" id="lc_topic-theory-5" value="theory-5"><label for="lc_topic-theory-5">Platform co-op theory 5</label></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	let controls = document.querySelectorAll('.input-group [aria-expanded]');
	Array.prototype.forEach.call( controls, control => {
		control.addEventListener('click', (event) => {
			const expanded = 'true' === event.currentTarget.getAttribute( 'aria-expanded' ) || false;
			event.currentTarget.setAttribute('aria-expanded', !expanded);
		});
	});
</script>
