{% if not standAlone %}
<div class="spacer"></div>
{% render '@button--borderless', {standAlone: true, id: 'show-filters'}, true %}
<div class="filters">
	{% render '@button--borderless-inverse', {standAlone: true, id: 'hide-filters', label: 'Close', iconPosition: 'end', icon: 'close'}, true %}
	<form action="/">
	<h2 class="h1 screen-reader-text">Filters</h2>
	<div class="accordion accordion--filter-list">
{% endif %}
		<div class="accordion__pane">
			<p class="accordion__heading">{{ label }}</p>
			<div class="accordion__content">
				{% render '@button--borderless', {label: 'Deselect All<span class="screen-reader-text"> '+label+'</span>', id: 'deselect-'+ label | slugify, icon: false, standAlone: true}, true %}
				<ul id="{{ label | slugify }}" class="input-group input-group__parent {{ label | slugify }}">
					{% for term in terms %}
					<li>
						{% if term.children %}
							{% set count = term.children.length %}
							{% render '@checkbox', {label: term.label, value: term.label | slugify, name: label | slugify, standAlone: false}, true %}
							<span class="filter-disclosure-label" hidden>show {{ count }} subtopics for "{{ term.label }}"</span>
							<span class="supplementary-label" hidden> (and {{ count }} subtopics)</span>
							<ul class="input-group input-group__descendant">
								{% for child in term.children %}
								<li>{% render '@checkbox', {label: child, value: child | slugify, name: label | slugify, standAlone: false}, true %}</li>
								{% endfor %}
							</ul>
						{% else %}
							<input type="checkbox" name="{{ label | slugify }}[]" id="{{ label | slugify }}-{{ term.label | slugify }}" value="{{ term.label | slugify }}"><label for="{{ label | slugify }}-{{ term.label | slugify }}">{{ term.label }}</label>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
{% if not standAlone %}
		</form>
	</div>
</div>
{% endif %}
