{% if not standAlone %}<div class="spacer"></div>{% endif %}
<button class="disclosure-button" type="button" aria-expanded="false"><span class="screen-reader-text">{{ label }}</span>{% render '@svg', {svg: 'chevron-down'}, true %}</button>
