@mixin visually-hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

@mixin full-width-background($color: $white) {
	&::before {
		background: $color;
		content: "";
		display: block;
		height: 100%;
		margin-left: 50%;
		overflow: hidden;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		width: 100vw;
		z-index: -1;
	}
}

.full-bleed-blue-500 {
	margin-left: 50%;
	transform: translateX(-50%);
	width: 100vw;
}
