@mixin grid-column-span( $span, $columns, $start: 1, $gap: $grid-gap) {
	width: calc(((100% - ((#{$columns} - 1) * #{$gap})) * #{($span / $columns)}) + (#{($span - 1)} * #{$gap}));

	@supports (display: $grid) {
		grid-column: #{$start} / #{($start + $span)};
		width: 100%;
	}
}

@mixin grid-margin( $span, $columns, $side, $gap: $grid-gap ) {
	margin-#{$side}: calc((100% - #{($columns - 1)}* #{$gap}) * #{$span} / #{$columns} + (#{($span + 1)} * #{$gap}));
}

@mixin grid-margin-left( $span, $columns ) {
	@include grid-margin( $span, $columns, "left" );

	@supports (display: grid) {
		margin-left: 0;
	}
}

@mixin grid-margin-right( $span, $columns ) {
	@include grid-margin( $span, $columns, "right" );

	@supports (display: grid) {
		margin-right: 0;
	}
}
