%interactive {
	background-color: var(--background-color, #{$blue-500});
	border: solid var(--border-width, #{rem(2)}) var(--border-color, transparent);
	color: var(--color, #{$off-white});
	transition: all 0.3s;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&:hover {
		background-color: var(--hover-background-color, #{$blue-700});
		color: var(--hover-color, var(--color, #{$off-white}));
	}

	&:active {
		background-color: var(--active-background-color, #{$blue-400});
		color: var(--active-color, var(--color, #{$off-white}));
	}

	&:focus {
		background-color: var(--focus-background-color, #{$blue-700});
		border-color: var(--focus-border-color, var(--border-color));
		box-shadow: var(--focus-box-shadow, 0 0 0 var(--border-width, #{rem(2)}) var(--outline-color, #{$off-white}), 0 0 0 calc(2 * var(--border-width, #{rem(2)})) var(--focus-background-color, #{$blue-700}));
		color: var(--focus-color, var(--color, #{$off-white}));
		outline: none;
	}

	&:active:focus {
		box-shadow: none;
	}
}
