%interactive {
	--color: var(--off-white);
	--background-color: var(--blue-500);
	--border-color: transparent;
	--border-width: #{rem(1)};

	--active-background-color: var(--white);
	--active-box-shadow: var(--focus-box-shadow);
	--active-color: var(--blue-500);

	--disabled-background-color: var(--blue-150);
	--disabled-border-color: var(--blue-150);
	--disabled-color: var(--off-white);

	--focus-background-color: var(--blue-500);
	--focus-border-color: var(--blue-500);
	--focus-box-shadow:
		0 0 0 calc(2 * var(--border-width)) var(--focus-border-color) inset,
		0 0 0 calc(2 * var(--border-width)) var(--parent-background-color),
		0 0 0 calc(4 * var(--border-width)) var(--focus-border-color);
	--focus-color: var(--off-white);

	--hover-background-color: var(--blue-600);
	--hover-border-color: var(--border-color);
	--hover-color: var(--off-white);

	background-color: var(--background-color);
	border: solid var(--border-width) var(--border-color);
	color: var(--color);

	svg + * {
		margin-left: 0.25em;
	}

	svg + .screen-reader-text {
		margin-right: 0;
	}

	* + svg {
		margin-left: 0.25em;
	}

	.screen-reader-text + svg {
		margin-left: 0;
	}

	&:hover {
		background-color: var(--hover-background-color);
		color: var(--hover-color, var(--color));
	}

	&:focus {
		background-color: var(--focus-background-color);
		box-shadow: var(--focus-box-shadow);
		color: var(--focus-color, var(--color));
		outline: none;
	}

	&:active {
		background-color: var(--active-background-color);
		box-shadow: var(--active-box-shadow);
		color: var(--active-color, var(--color));
	}

	&:disabled {
		background-color: var(--disabled-background-color);
		border-color: var(--disabled-border-color);
		color: var(--disabled-color);
	}
}
