<style>
	:root {
		--sizer: 1.25rem;
	}

	.icons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0.75rem;
	}

	.row {
		width: 100%;
	}

	.row + .row {
		margin-top: 1rem;
	}

	.icon {
		height: var(--sizer);
		width: var(--sizer);
	}

	.icon + .icon {
		margin-left: 0.5rem;
	}
</style>
<h1>{{ iconsTitle }}</h1>
<div class="icons">
	{% for group in icons %}
	<div class="row">
		{% for icon in group %}
			{% render '@svg', icon %}
		{% endfor %}
	</div>
	{% endfor %}
</div>
<div class="icons has-blue-500-color">
	{% for group in icons %}
	<div class="row">
		{% for icon in group %}
			{% render '@svg', icon %}
		{% endfor %}
	</div>
	{% endfor %}
</div>

<div class="icons has-dark-mint-500-background-color">
	{% for group in icons %}
	<div class="row">
		{% for icon in group %}
			{% render '@svg', icon %}
		{% endfor %}
	</div>
	{% endfor %}
</div>
