<div class="input-group{% if inverse %} input-group--inverse{% endif %}{% if select.modifiers %}{% for modifier in select.modifiers %} input-group--{{ modifier }}{% endfor %}{% endif %}">
	<label for="{{ select.name }}">{{ label }}{% if select.error %} (Error){% elseif select.disabled %} (Disabled){% endif %}</label>
	<select id="{{ select.name }}" name="{{ select.name }}"{% if select.disabled %} disabled{% endif %}>
		{% for value, label in options %}
		<option val="{{ value }}">{{ label | safe }}</option>
		{% endfor %}
	</select>
	{% if select.error %}<p class="input-group__error">{% render '@svg', {svg: 'error'}, true %}{{ errorMessage | safe }}</p>{% endif %}
	<p class="input-group__description">{{ description }}</p>
</div>
