<div class="page-header">
	{% render '@breadcrumb-link', {label: 'Home', href: '/'} %}
	<h1>{{ title }}</h1>
</div>
<ul class="cards">
{% for i in range(0, 12) %}
  {% render '@card--resource', {title: false, withWrapper: false}, true %}
{% endfor %}
</ul>
{% render '@pagination', {title: false}, true %}
