<svg
	class="{{ class if class else 'icon icon--'+svg }}"
	aria-hidden="{{ ariaHidden }}"
	viewBox="{{ viewBox }}"
	focusable="{{ focusable }}"
>
	<use href="/images/{{ svg }}.svg#{{ svg }}"/>
</svg>
