{% if standAlone %}<p{% if className %} class="{{ className }}"{% endif %}>{% endif %}<input id="{{ value }}" type="checkbox" name="{{ name }}[{{ value }}]"{% if checked %} checked{% elseif disabled %} disabled{% endif %} /><label for="{{ value }}">{{ label }}</label>{% if standAlone %}</p>{% endif %}
