<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link media="all" rel="stylesheet" href="{{ '/styles/pinecone.css' | path }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | path }}">
		<link rel="icon" type="image/ico" href="{{ '/themes/mandelbrot/favicon.ico' | path }}" >
		<title>Preview Layout</title>
	</head>
	<body>
		<main>
			<div class="content">
				{{ yield | safe }}
			</div>
		</main>
		<script src="{{ '/scripts/pinecone.js' | path }}"></script>
	</body>
</html>
