<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link media="all" rel="stylesheet" href="{{ '/styles/pinecone.css' | path }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | path }}">
		<link rel="icon" type="image/ico" href="{{ '/themes/mandelbrot/favicon.ico' | path }}" >
		<title>{{ _target.title }} | Pinecone</title>
	</head>
	<body{% if _target.context.bodyClass %} class="{{ _target.context.bodyClass }}"{% endif %}>
		<header role="banner">
			{% if _target.context.inBanner %}{{ yield | safe }}{% endif %}
			{% if _target.context.hasMenu %}{% render '@menu', {
			menuItems: {
				'menu-item-1': {
					current: true,
					label: 'Getting Started'
				},
				'menu-item-4': {
					current: false,
					submenuItems: {
						'submenu-item-1': {
							current: false
						}
					}
				}
			}
		}, true %}{% endif %}
		</header>
		<main>
			<div class="content">
				{% if not _target.context.inBanner %}{{ yield | safe }}{% endif %}
			</div>
		</main>
		<footer></footer>
		<script src="{{ '/scripts/pinecone.js' | path }}"></script>
		{% if _target.context.scriptCall or _target.context.hasMenu %}
		<script>
			{% if _target.context.scriptCall %}{{ _target.context.scriptCall }}{% endif %}
			{% if _target.context.hasMenu %}window.pinecone.menu();{% endif %}
		</script>
		{% endif %}
	</body>
</html>
