<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/themes/mandelbrot/favicon.ico" type="image/ico">
		<link media="all" rel="stylesheet" href="{{ '/styles/pinecone.css' | path }}">
		<title>Preview Layout</title>
	</head>

	<body>

		<main>
			<div class="content">
				{{ yield | safe }}
			</div>
		</main>

	</body>

</html>
