<h1>{{ cardsTitle }}</h1>
<div class="cards">
	{% for key, card in cards %}
	<div class="card card--{{ key }}">
		<span class="card__format">{{ key | capitalize }}</span>
		<header>
			<h2 class="card__title">{{ card.title }}</h2>
		</header>
		<p class="card__publisher">{{ card.publisher }}</p>
		<p class="card__region">{{ card.region }}</p>
		<ul class="card__tags tags">
			{% for tag in card.topics %}
				<li class="tag">
					<a class="tag__link" href="{{ tag }}">{{ tag }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
