<button {% if id %}id="{{ id }}" {% endif %}type="{{ type }}" {% if ariaPressed %}aria-pressed="{{ pressed }}" {% endif %}class="button{% if modifiers %}{% for modifier in modifiers %} button--{{ modifier }}{% endfor %}{% endif %}{% if className %} {{ className }}{% endif %}">
	{%- if icon and iconPosition === 'start' %}{% render '@svg', {svg:icon}, true %}{% endif -%}<span class="button__label{{ ' screen-reader-text' if labelVisuallyHidden }}">{{ label | safe }}</span>{%- if icon and iconPosition === 'end' %}{% render '@svg', {svg:icon}, true %}{% endif -%}
</button>
