<div class="page-header">
	{% render '@breadcrumb-link', {label: 'Home', href: '/home'} %}
	<h1>{{ title }}</h1>
</div>
<div class="filter-wrapper">
	{% render '@button', {standAlone: true, id: 'show-filters'}, true %}
	<form class="filters" action="/">
		{% render '@button', {standAlone: true, id: 'hide-filters', label: 'Close', iconPosition: 'end', icon: 'close'}, true %}
		<h2 class="h1 screen-reader-text" tabindex="-1">Filters</h2>
		<div class="accordion">
		{% for filterList in filterLists %}
			{% render '@filter-list', {standAlone: true, label: filterList.label, terms: filterList.terms}, true %}
		{% endfor %}
		</div>
		{% render '@submit', {standAlone: true, value: 'Apply filters', id: 'apply-filters'} %}
	</form>
</div>
<div class="sort-wrapper">
	<div class="sort">
		{# {% render '@select', {name: 'orderby', label: 'Sort by', description: false, options: {addedDate: 'Most recently added', publicationDate: 'Most recently published', popularity: 'Most favourited'}, standAlone: true} %} #}
		{# {% render '@submit', {standAlone: true, value: 'Sort', id: 'sort'} %} #}
	</div>
</div>
<div class="resource-list">
<ul class="cards">
{% for card in cards %}
  {% render '@card--resource', card %}
{% endfor %}
</ul>
</div>
{% render '@pagination', {title: false}, true %}
