<div class="page-header">
	{% render '@breadcrumb-link', {label: 'Home', href: '/'} %}
	<h1>{{ title }}</h1>
</div>
<div class="filter-sort">
	<div class="filter-sort__filters">
		{% render '@accordion', {title: false, accordions: accordions}, true %}
	</div>
	<div class="filter-sort__sorts">
	</div>
</div>
<ul class="cards">
{% for card in cards %}
  {% render '@card--resource', card, true %}
{% endfor %}
</ul>
{% render '@pagination', {title: false}, true %}
