<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link media="all" rel="stylesheet" href="{{ '/styles/pinecone.css' | path }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | path }}">
		<link rel="icon" type="image/ico" href="{{ '/themes/mandelbrot/favicon.ico' | path }}" >
		<title>{{ _target.title }} | Pinecone</title>
	</head>
	<body>
		<header role="banner">
			{{ yield | safe }}
		</header>
		<main>
			<div class="content"></div>
		</main>
		<footer></footer>
		<script src="{{ '/scripts/pinecone.js' | path }}"></script>
		{% if _target.context.scriptCall %}
		<script>{{ _target.context.scriptCall }}</script>
		{% endif %}
	</body>
</html>
