<nav aria-labelledby="menu-primary-label">
	<button class="menu-toggle" aria-expanded="false">
		<svg class="icon icon--open" aria-hidden="true">
			<use xlink:href="/images/hamburger.svg"/>
		</svg>
		<svg class="icon icon--close" aria-hidden="true">
			<use xlink:href="/images/close.svg"/>
		</svg>
		<span id="menu-primary-label" class="menu-toggle__label">{{ menuTitle }}</span>
	</button>
	<ul class="menu{% if modifier %} menu--{{ modifier }}{% endif %}">
		{% for id, menuItem in menuItems %}
		<li{% if menuItem.submenuItems %} class="menu__submenu-wrapper{% if menuItem.current %} current_page_ancestor current-menu-ancestor{% endif %}"{% endif %}>
			<a class="menu__item" {% if menuItem.current %}aria-current="page" {% endif %}href="#{{ id }}">{{ menuItem.label }}</a>
			{% if menuItem.submenuItems %}
			<ul class="menu__submenu">
				{% for id, submenuItem in menuItem.submenuItems %}
				<li><a {% if submenuItem.current %}aria-current="page"{% endif %}class="menu__item" href="#{{ id }}">{{ submenuItem.label }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</nav>
