{% if standAlone %}<p{% if modifiers %} class="{% for modifier in modifiers %} input-group--{{ modifier }}{% endfor %}"{% endif %}>{% endif %}
<label class="label--checkbox" for="{{ name | slugify }}"><input {% if className %}class="{{ className }}"{% endif %} id="{{ name | slugify }}" type="checkbox" name="{{ name }}" value="{{ value }}"{% if checked %} checked{% endif %}{% if disabled %} disabled{% endif %} />{{ label }}</label>
{% if standAlone %}</p>{% endif %}
