<input {% if className %}class="{{ className }}"{% endif %} id="{{ value | slugify if value else label | slugify }}" type="checkbox" name="{{ name }}" value="{{ value | slugify if value else label | slugify }}"{{ ' checked' if checked }}{{ ' disabled' if disabled }} /><label for="{{ value | slugify if value else label | slugify }}">{{ label }}</label>
