<h1>{{ inputTitle }}</h1>

<div class="input-group">
	<label for="{{ name }}">{{ label }}</label>
	<textarea id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}"></textarea>
	<p class="input-group__description">{{ description }}</p>
</div>

<div class="input-group input-group--error">
	<label for="{{ name }}">{{ label }} (Error)</label>
	<textarea id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}">{{ badValue }}</textarea>
	<p class="input-group__error">{% render '@svg', {svg:'error'} %}{{ error | safe }}</p>
	<p class="input-group__description">{{ description }}</p>
</div>


<div class="input-group">
	<label for="{{ name }}">{{ label }} (Disabled)</label>
	<textarea id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" disabled></textarea>
	<p class="input-group__description">{{ description }}</p>
</div>
