<h1>{{ attributedHeading }}</h1>
<p>{{ attributedIntroParagraph }}</p>
<blockquote>
	<p>{{ attributedQuote }}</p>
	<cite>{{ citation }}</cite>
</blockquote>
<h1>{{ unattributedHeading }}</h1>
<p>{{ unattributedIntroParagraph }}</p>
<blockquote>
	<p>{{ unattributedQuote }}</p>
</blockquote>
