<div class="page-header">
	<h1>{{ title | safe }}</h1>
	<p class="subhead">{{ subhead }}</p>
</div>
<div class="home__search">
	{% render '@search', {standAlone: true, modifier: 'inverse', placeholder: 'Search resource name, publisher, or topic…'}, true %}
	{# TODO: Add saved searches. #}
</div>
<div class="home__browse">
	<h2>{{ browse.title }}</h2>
	{% render '@link-list', {
		standAlone: true,
		modifier: 'inverse',
		items: [
			{
				icon: 'topic',
				label: 'Topics',
				href: '/topics'
			},
			{
				icon: 'goal',
				label: 'Goals',
				href: '/goals'
			},
			{
				icon: 'format',
				label: 'Formats',
				href: '/formats'
			},
			{
				icon: 'sector',
				label: 'Sectors',
				href: '/sectors'
			}
		]
		},
		true
	%}
	{% render '@call-to-action', {standAlone: true, href: '/browse-all', label: 'Browse all resources', class: 'wp-block-button--inverse'} %}
</div>
<div class="home__feed">
	<h2>{{ feed.title }}</h2>
	<hr class="is-style-thick has-grey-200-background-color">
	<h3><a href="/most-viewed">{{ 'Most viewed' }}</a></h3>
	<div class="card-wrapper">
		<ul class="cards">
		{% for card in cards %}
			{% if loop.index < 5 %}
			{% render '@card--resource', card %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	{# TODO: Add informational cards. #}
	<hr class="is-style-thick has-grey-200-background-color">
	<h3><a href="/most-recent">{{ 'Recently published' }}</a></h3>
	<div class="card-wrapper">
		<ul class="cards">
		{% for card in cards %}
			{% if loop.index > 4 %}
			{% render '@card--resource', card %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
