<h1>{{ inputTitle }}</h1>
<ul class="input-group">
	{% for value, label in checkboxes %}
	<li><input id="{{ value }}" type="checkbox" name="checkbox[{{ value }}]"{% if value === '1' %} checked{% elseif value=== '4' %} disabled{% endif %} /><label for="{{ value }}">{{ label }}</label></li>
	{% endfor %}
</ul>
