{% if not standAlone %}<span></span>{% endif %}
<p class="wp-block-button{%if class %} {{ class }}{% endif %}">
	<a href="{{ href }}" class="wp-block-button__link">{{ label }}
		{% if hasIcon %}{% render '@svg', {svg: 'external'} %}{% endif %}
	</a>
</p>
