{% if not standAlone %}<span></span>{% endif %}
<p>
	<a {% if external %}rel="external" {% endif %}href="{{ href }}" class="cta{% if modifier %} cta--{{ modifier }}{% endif %}">{{ label }}{% if external %}{% render '@svg', {svg: 'external'}, true %}{% endif %}</a>
</p>
