<h1>{{ inputTitle }}</h1>

<div class="input">
	<label class="input__label" for="{{ name }}">{{ label }}</label>
	<input class="input__field" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" type="text" />
	<p class="input__description">{{ description }}</p>
</div>

<div class="input input--error">
	<label class="input__label" for="{{ name }}">{{ label }} (Error)</label>
	<input class="input__field" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" type="text" value="{{ badValue }}" />
	<p class="input__error"><svg class="icon icon--error"><use xlink:href="/images/error.svg"/></svg>{{ error | safe }}</p>
</div>


<div class="input">
	<label class="input__label" for="{{ name }}">{{ label }} (Disabled)</label>
	<input class="input__field" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" type="text" disabled />
	<p class="input__description">{{ description }}</p>
</div>
