<h1>{{ ctaTitle }}</h1>
{% for variant in ctaVariants %}
	<p class="wp-block-button{%if variant.class %} {{ variant.class }}{% endif %}">
		<a href="https://example.com/call-to-action" class="wp-block-button__link">{{ variant.label }}</a>
	</p>
{% endfor %}
<h2>
	<a id="#anchor"></a>{{ ctaIconTitle }}</h2>
{% for variant in ctaIconVariants %}
	<p class="wp-block-button{%if variant.class %} {{ variant.class }}{% endif %}">
		<a href="https://example.com/call-to-action" class="wp-block-button__link">{{ variant.label }}
			{% render '@svg', {svg: 'external'} %}
		</a>
	</p>
{% endfor %}
