:root {
	@each $name, $color in $colors-light {
		--#{$name}: #{$color};
	}

	@each $name, $color in $colors-dark {
		--#{$name}: #{$color};
	}

	--parent-background-color: var(--white);
}

@each $name, $color in $colors-light {
	.has-#{$name}-color {
		color: var(--#{$name});
	}

	.has-#{$name}-background-color {
		--parent-background-color: var(--#{$name});
		background: var(--#{$name});
		color: var(--dark-mint-500);
	}
}

@each $name, $color in $colors-dark {
	.has-#{$name}-color {
		color: var(--#{$name});
	}

	.has-#{$name}-background-color {
		--parent-background-color: var(--#{$name});
		background: var(--#{$name});
		color: var(--white);
	}
}
