@each $name, $color in $colors-light {
	.has-#{$name}-background-color {
		background: $color;
		color: $black;
	}
}

@each $name, $color in $colors-dark {
	.has-#{$name}-background-color {
		background: $color;
		color: $white;
	}
}

@each $name, $color in $colors-light {
	.has-#{$name}-color {
		color: $color;
	}
}

@each $name, $color in $colors-dark {
	.has-#{$name}-color {
		color: $color;
	}
}
