* {
	box-sizing: border-box;
}

body {
	align-items: center;
	color: $black;
	display: flex;
	flex-direction: column;
	font-family: $font-family-serif;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

main {
	max-width: rem(1630);
	padding: 0 rem(30);
	width: 100%;
}

.content {
	margin: 0 auto;
	width: 100%;
}

@supports (display: grid) {
	main {
		column-gap: rem(30);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.screen-reader-text {
	@include visually-hidden();
}

@include breakpoint-up(sm) {
	@supports (display: grid) {
		main {
			grid-template-columns: repeat(8, 1fr);
		}
	}
}


@include breakpoint-up(lg) {
	main {
		max-width: rem(1160);
		padding: 0;
	}

	@supports (display: grid) {
		main {
			grid-template-columns: repeat(12, 1fr);
		}
	}
}

@include breakpoint-up(xl) {
	main {
		max-width: rem(1570);
	}

	@supports (display: grid) {
		main {
			grid-template-columns: repeat(16, 1fr);
		}
	}
}
