* {
	box-sizing: border-box;
}

body {
	align-items: center;
	color: $black;
	display: flex;
	flex-direction: column;
	font-family: $font-family-serif;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

.container {
	width: 100%;
}

.content {
	margin: 0 auto;
	max-width: rem(1630);
	padding: 0 rem(30);
	width: 100%;

	@supports (display: $grid) {
		column-gap: $gutter;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

[inert] {
	opacity: 0.25;
}

main {
	margin: 0 auto;
	padding-bottom: rem(100);

	@include grid-column-span(4, 4, 1);
}

.screen-reader-text {
	@include visually-hidden();
}

@include breakpoint-up(sm) {
	@supports (display: $grid) {
		.content {
			grid-template-columns: repeat(8, 1fr);
		}
	}

	main {
		@include grid-column-span(8, 8, 1);
		padding-bottom: rem(130);
	}
}


@include breakpoint-up(lg) {
	.content {
		max-width: rem(1160);
		padding: 0;

		@supports (display: $grid) {
			grid-template-columns: repeat(12, 1fr);
		}
	}

	main {
		@include grid-column-span(12, 12, 1);
	}
}

@include breakpoint-up(xl) {
	.content {
		max-width: rem(1570);

		@supports (display: $grid) {
			grid-template-columns: repeat(16, 1fr);
		}
	}

	main {
		@include grid-column-span(16, 16, 1);
	}
}
