* {
	box-sizing: border-box;
}

body {
	align-items: center;
	color: $black;
	display: flex;
	flex-direction: column;
	font-family: $font-family-serif;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

main {
	max-width: rem(1160);
	width: 100%;
}

.content {
	margin: 0 auto;
	max-width: rem(768);
	padding: rem(30);
	width: 100%;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

@include breakpoint-up(lg) {
	.content {
		max-width: rem(1160);
	}
}
