* {
	box-sizing: border-box;
}

body {
	align-items: center;
	color: $black;
	display: flex;
	flex-direction: column;
	font-family: $font-family-serif;
	justify-content: center;
	min-height: 100vh;
}

main {
	max-width: rem(1160);
	width: 100%;
}

.content {
	margin: 0 auto;
	max-width: rem(768);
	padding: rem(30);
	width: 100%;
}
