* {
	box-sizing: border-box;
}

body {
	align-items: center;
	color: $black;
	display: flex;
	flex-direction: column;
	font-family: $font-family-serif;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

main {
	max-width: rem(1160);
	width: 100%;
}

.content {
	margin: 0 auto;
	max-width: rem(768);
	padding: rem(30);
	width: 100%;
}

.screen-reader-text {
	@include visually-hidden();
}

@include breakpoint-up(lg) {
	.content {
		max-width: rem(1160);
	}
}
