:root {
	--offset: #{rem(30)};
	--columns: 4;
	--gutter: #{rem(30)};
	--color: #{transparentize($blue-300, 0.8)};
	--repeating-width: calc(100% / var(--columns));
	--column-width: calc((100% / var(--columns)) - var(--gutter));
	--background-width: calc(100% + var(--gutter));
	--background-columns: repeating-linear-gradient(to right, var(--color), var(--color) var(--column-width), transparent var(--column-width), transparent var(--repeating-width));
}

@include breakpoint-up(sm) {
	:root {
		--columns: 8;
	}
}

@include breakpoint-up(lg) {
	:root {
		--columns: 12;
		--max-width: #{rem(1160)};
	}
}

@include breakpoint-up(xl) {
	:root {
		--columns: 16;
		--max-width: #{rem(1570)};
	}
}

html::before {
	background-image: var(--background-columns);
	background-size: var(--background-width) 100%;
	bottom: 0;
	content: "";
	left: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
	min-height: 100vh;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: calc(100% - (2 * var(--offset)));
	z-index: 1000;
}

