// Headings

h1,
h2,
h3,
h4 {
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-family: var(--font-family-serif);
	font-size: rem(36);
	font-weight: var(--font-weight-black);
	letter-spacing: rem(-0.16);
	line-height: (44 / 36);
}

h2 {
	font-family: var(--font-family-display);
	font-size: rem(28);
	font-weight: var(--font-weight-bold);
	line-height: (36 / 28);
}

h3 {
	font-family: var(--font-family-display);
	font-size: rem(24);
	font-weight: var(--font-weight-semibold);
	line-height: (32 / 24);
}

h4 {
	font-family: var(--font-family-sans);
	font-size: rem(20);
	font-weight: var(--font-weight-semibold);
	line-height: (32 / 20);
}

// Paragraphs

p {
	line-height: (24 / 16);
}

p strong {
	font-weight: var(--font-weight-semibold);
}

p small {
	font-size: rem(14);
	line-height: (20 / 14);
}

// Blockquotes

blockquote {
	font-family: var(--font-family-sans);
	font-size: rem(20);
	font-style: italic;
	font-weight: var(--font-weight-semibold);
	line-height: (32 / 20);
	margin-left: rem(48);
	margin-right: rem(48);
}

blockquote::before {
	color: var(--blue-400);
	content: "“";
	font-family: var(--font-family-serif);
	font-size: rem(64);
	margin-left: rem(-48);
	margin-top: rem(-18);
	position: absolute;
}

blockquote cite {
	font-size: rem(16);
	font-style: normal;
	font-weight: var(--font-weight-normal);
}

blockquote cite::before {
	content: "— ";
}

// Lists

ol,
ul {
	counter-reset: list-counter;
	padding-left: 0;
}

li {
	counter-increment: list-counter;
	margin-bottom: 0;
}

li::marker {
	color: var(--grey-500);
}

// Vertical Spacing

* + h1 {
	margin-top: rem(128);
}

* + h2 {
	margin-top: rem(96);
}

* + h3 {
	margin-top: rem(56);
}

* + h4 {
	margin-top: rem(48);
}

h1 + h2 {
	margin-top: rem(64);
}

h2 + h3 {
	margin-top: rem(56);
}

h3 + h4 {
	margin-top: rem(28);
}

h1 + * {
	margin-top: rem(24);
}

* + p,
* + ul,
* + ol {
	margin-bottom: 0;
	margin-top: rem(24);
}

h1 + *,
h1 + p,
h1 + ul,
h1 + ol {
	margin-top: rem(56);
}

h2 + *,
h2 + p,
h2 + ul,
h2 + ol {
	margin-top: rem(40);
}

blockquote + p,
blockquote + ul,
blockquote + ol {
	margin-top: rem(48);
}

* + blockquote {
	margin-top: rem(48);
}

li + li {
	margin-top: rem(16);
}

@include breakpoint-up(sm) {
	// Headings

	h1 {
		font-size: rem(48);
		line-height: (60 / 48);
	}

	h2 {
		font-size: rem(32);
		line-height: (44 / 32);
	}

	h3 {
		font-size: rem(24);
		line-height: (36 / 24);
	}

	h4 {
		font-size: rem(20);
		line-height: (32 / 20);
	}
}

@include breakpoint-up(md) {
	// Headings

	h1 {
		font-size: rem(60);
		line-height: (72 / 60);
	}

	h2 {
		font-size: rem(36);
		line-height: (48 / 36);
	}

	h3 {
		font-size: rem(28);
		line-height: (40 / 28);
	}

	h4 {
		font-size: rem(20);
		line-height: (32 / 20);
	}
}
