<div class="page-header">
	<div class="inside">
		<p>{% render '@link--breadcrumb', {label: 'Home', href: '/', standAlone: true}, true %}</p>
		<h1>{{ title }}</h1>
	</div>
</div>
<div class="align-right">
	{% render '@button--destructive-borderless', {label: 'Remove all', icon: 'delete', standAlone: true, className: 'remove-all-favorites'}, true %}
</div>
<div class="resource-list">
	<ul class="cards">
	{% for card in cards %}
	{% render '@card--resource', card %}
	{% endfor %}
	</ul>
</div>
