/* Colors */
$blue-500: #16605d;
$blue-700: #1c4342;
$blue-600: #18514f;
$blue-400: #1d7c79;
$blue-300: #30cfc9;
$blue-200: #c5fdf9;
$blue-150: #c5d1ce;
$blue-100: #edf5f3;
$blue-50: #e3eae8;
$green-500: #076431;
$green-400: #0b8441;
$green-300: #45d385;
$green-200: #c9f8db;
$red-500: #973102;
$red-400: #ff621a;
$red-300: #ffa47a;
$red-200: #fdc2a7;
$yellow-600: #e8aa00;
$yellow-500: #face00;
$yellow-400: #fceeb0;
$dark-mint-500: #203131;
$dark-mint-400: #294040;
$grey-600: #585850;
$grey-500: #707070;
$grey-400: #b2b2a7;
$grey-300: #d5d5cf;
$grey-200: #f0efef;
$off-white: #f9f9f7;
$white: #fff;
$black: $dark-mint-500;
$true-black: #000;

$colors-light: (
	"blue-300": $blue-300,
	"blue-200": $blue-200,
	"blue-150": $blue-150,
	"blue-100": $blue-100,
	"blue-50": $blue-50,
	"green-300": $green-300,
	"green-200": $green-200,
	"red-400": $red-400,
	"red-300": $red-300,
	"red-200": $red-200,
	"yellow-600": $yellow-600,
	"yellow-500": $yellow-500,
	"yellow-400": $yellow-400,
	"grey-400": $grey-400,
	"grey-300": $grey-300,
	"grey-200": $grey-200,
	"off-white": $off-white
);

$colors-dark: (
	"blue-700": $blue-700,
	"blue-600": $blue-600,
	"blue-500": $blue-500,
	"blue-400": $blue-400,
	"green-500": $green-500,
	"green-400": $green-400,
	"red-500": $red-500,
	"dark-mint-500": $dark-mint-500,
	"dark-mint-400": $dark-mint-400,
	"grey-500": $grey-500,
	"grey-600": $grey-600,
	"true-black": $true-black
);

/* Typography */
$font-family-sans: "Noto Sans", sans-serif;
$font-family-display: "Noto Sans Display", sans-serif;
$font-family-serif: "Noto Serif", sans-serif;

/* Font Weights */
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// Responsive Breakpoints, shamelessy cribbed from Bootstrap.
// @see https://github.com/twbs/bootstrap/blob/master/scss/mixins/_breakpoints.scss

$breakpoints: (
	xs: 0,
	sm: 600,
	md: 960,
	lg: 1280,
	xl: 1920
);

// Gutters & Grid Gaps
$gutter: 1.875rem;
$grid-gap: $gutter;
