<div class="input-group">
	<label for="{{ name }}">{{ label }}{% if required %} (Required){% endif %}</label>
	<textarea {% if error %}class="input--error" {% endif %}id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}"{{ ' disabled' if disabled }}{{ ' required' if required }}>{% if error %}{{ errorValue | safe }}{% endif %}</textarea>
	{% if error %}<p class="input-group__error">{% render '@svg', {svg: 'error'}, true %}{{ errorMessage | safe }}</p>{% endif %}
	<p class="input-group__description">{{ description }}</p>
</div>
