<div class="input-group{% if inverse %} input-group--inverse{% endif %}{% if textarea.modifiers %}{% for modifier in textarea.modifiers %} input-group--{{ modifier }}{% endfor %}{% endif %}">
	<label for="{{ textarea.name }}">{{ label }}{% if textarea.error %} (Error){% elseif textarea.disabled %} (Disabled){% endif %}</label>
	<textarea id="{{ textarea.name }}" name="{{ textarea.name }}" placeholder="{{ placeholder }}"{% if textarea.disabled %} disabled{% endif %}>{% if textarea.error %}{{ errorValue | safe }}{% endif %}</textarea>
	{% if textarea.error %}<p class="input-group__error">{% render '@svg', {svg: 'error'}, true %}{{ errorMessage | safe }}</p>{% endif %}
	<p class="input-group__description">{{ description }}</p>
</div>
