<a href="/" class="brand">
	{% render '@svg', {svg: 'pcc', viewBox: '0 0 32 32'}, true %}
	<span class="brand__title{% if visuallyHiddenTitle %} screen-reader-text{% endif %}">{{ title }}</span>
</a>
