<div class="input-group">
	<label for="{{ name }}">{{ label }}</label>
	<select id="{{ name }}" name="{{ name }}"{% if disabled %} disabled{% endif %}>
		{% for value, label in options %}
		<option val="{{ value }}">{{ label | safe }}</option>
		{% endfor %}
	</select>
	{% if description %}
	<p class="input-group__description">{{ description }}</p>
	{% endif %}
</div>
