<div class="banner-pattern"></div>
<div class="page-header">
	<div class="inside">
		<h1>{{ title | safe }}</h1>
		<p class="subhead">{{ subhead }}</p>
	</div>
</div>
<section class="home__search">
	{% render '@search-form', {standAlone: true, modifier: 'inverse', placeholder: 'Search resource name, publisher, or topic…'}, true %}
	{# TODO: Add saved searches. #}
</section>
<section class="home__browse has-blue-500-background-color">
	<h2>{{ browse.title }}</h2>
	{% render '@link-list', {
		standAlone: true,
		modifier: 'inverse',
		items: [
			{
				icon: 'topic',
				label: 'Topics',
				href: '/topics'
			},
			{
				icon: 'goal',
				label: 'Goals',
				href: '/goals'
			},
			{
				icon: 'format',
				label: 'Formats',
				href: '/formats'
			},
			{
				icon: 'sector',
				label: 'Sectors',
				href: '/sectors'
			}
		]
		},
		true
	%}
	<p>
		{% render '@link--breadcrumb', {standAlone: true, href: '/browse-all', label: 'Browse all resources', className: 'link--breadcrumb link--inverse'}, true %}
	</p>
</section>
<section class="home__feed">
	<header>
		<h2>{{ feed.title }}</h2>
		<a href="/customize">Customize feed</a>
	</header>
	<h3><a href="/most-viewed">{{ 'Most viewed' }}</a></h3>
	<div class="meta-card-wrapper">
		<div class="card-wrapper">
			<ul class="cards">
			{% for card in cards %}
				{% if loop.index < 5 %}
				{% render '@card--resource', card %}
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		<aside class="info-cards">
			{% render '@info-card', {standAlone: true}, true %}
			{% render '@info-card', {standAlone: true, icon: false, title: 'Not sure how to use the library?', description: false, actionLabel: 'Learn how'}, true %}
		</aside>
	</div>
	<h3><a href="/most-recent">{{ 'Recently published' }}</a></h3>
	<div class="card-wrapper">
		<ul class="cards">
		{% for card in cards %}
			{% if loop.index > 4 %}
			{% render '@card--resource', card %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</section>
